force-app/main/default/flows/CE_Discovery_phases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>CE - Discovery phases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CE - Discovery phases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_worktrail</name>
        <label>Update worktrail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ips_Status__c</field>
            <value>
                <stringValue>Job development CE</stringValue>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Copy_1_of_Discovery_Phase_1</name>
        <label>Copy 1 of Copy 1 of Discovery Phase 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Discovery_Phase_1</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_discovery_screen_title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Discovery phase - 3&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_helpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Open Sans&amp;quot;, Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse enim sapien, accumsan non tincidunt eu, elementum quis diam. Etiam condimentum aliquam viverra. Sed ut gravida sem. Curabitur ornare iaculis urna et malesuada. Nulla id quam vel nisl efficitur laoreet id in dui. Donec porta aliquam justo, id condimentum lectus hendrerit eu&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Phase 4</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Discovery_Phase_1</name>
        <label>Copy 1 of Discovery Phase 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Discovery_Phase_1</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_discovery_screen_title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Discovery phase - 2&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_helpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Open Sans&amp;quot;, Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse enim sapien, accumsan non tincidunt eu, elementum quis diam. Etiam condimentum aliquam viverra. Sed ut gravida sem. Curabitur ornare iaculis urna et malesuada. Nulla id quam vel nisl efficitur laoreet id in dui. Donec porta aliquam justo, id condimentum lectus hendrerit eu&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Phase 3</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Copy_1_of_Discovery_Phase_1</name>
        <label>Copy 2 of Copy 1 of Discovery Phase 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Copy_3_of_Copy_1_of_Discovery_Phase_1</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Copy_1_of_discovery_screen_title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Discovery phase - 4&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_Copy_1_of_helpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Open Sans&amp;quot;, Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse enim sapien, accumsan non tincidunt eu, elementum quis diam. Etiam condimentum aliquam viverra. Sed ut gravida sem. Curabitur ornare iaculis urna et malesuada. Nulla id quam vel nisl efficitur laoreet id in dui. Donec porta aliquam justo, id condimentum lectus hendrerit eu&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Phase 5</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Copy_1_of_Discovery_Phase_1</name>
        <label>Copy 3 of Copy 1 of Discovery Phase 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Update_worktrail</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Copy_1_of_discovery_screen_title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Discovery phase - 5&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_3_of_Copy_1_of_helpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Open Sans&amp;quot;, Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse enim sapien, accumsan non tincidunt eu, elementum quis diam. Etiam condimentum aliquam viverra. Sed ut gravida sem. Curabitur ornare iaculis urna et malesuada. Nulla id quam vel nisl efficitur laoreet id in dui. Donec porta aliquam justo, id condimentum lectus hendrerit eu&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Discovery_screen_1</name>
        <label>Discovery Phase 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Discovery_Phase_1</targetReference>
        </connector>
        <fields>
            <name>discovery_screen_title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Discovery phase - 1&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>helpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Open Sans&amp;quot;, Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse enim sapien, accumsan non tincidunt eu, elementum quis diam. Etiam condimentum aliquam viverra. Sed ut gravida sem. Curabitur ornare iaculis urna et malesuada. Nulla id quam vel nisl efficitur laoreet id in dui. Donec porta aliquam justo, id condimentum lectus hendrerit eu&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Phase 2</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Discovery_screen_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDescriptionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse enim sapien, accumsan non tincidunt eu, elementum quis diam. Etiam condimentum aliquam viverra. Sed ut gravida sem. Curabitur ornare iaculis urna et malesuada. Nulla id quam vel nisl efficitur laoreet id in dui. Donec porta aliquam justo, id condimentum lectus hendrerit eu</stringValue>
        </value>
    </variables>
    <variables>
        <name>varDescriptionText2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse enim sapien, accumsan non tincidunt eu, elementum quis diam. Etiam condimentum aliquam viverra. Sed ut gravida sem.</stringValue>
        </value>
    </variables>
</Flow>
