force-app/main/default/flows/IPS_worktrailSetParticipantPassive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Setting the following field to true, displays the &quot;Passive&quot; flag in worktrail</description>
        <name>Activate_passive_flag</name>
        <label>Activate passive period</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_activate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passiv_periode_starter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_deactivate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passiv_periode_slutter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_followup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>followUpDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReasonForPassiveParticipant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passive_period_information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the following field to false, disables the &quot;Passive&quot; flag from worktrail.</description>
        <name>Deactivate_passive_flag</name>
        <label>Deactivate passive period</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_deactivate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passiv_periode_deaktivert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateWorktrail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns value to the fields related the passive period</description>
        <name>Extend_passive_period</name>
        <label>Extend passive period</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_deactivate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passiv_periode_slutter_extend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newFollowupReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_followup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ny_oppfolging_dato</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_activate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passiv_periode_starter_extend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passive_period_changed_information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting fields related to passive period to blank.</description>
        <name>Remove_passive_period_dates</name>
        <label>Remove passive period</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_activate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_deactivate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_followup__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>updateWorktrail</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Deactives the ongoing passive period.</description>
        <name>Deaktiver</name>
        <choiceText>Deaktiver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deaktiver</stringValue>
        </value>
    </choices>
    <choices>
        <description>Extends the ongoing passive period.</description>
        <name>Forleng</name>
        <choiceText>Endre passiv periode</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forleng</stringValue>
        </value>
    </choices>
    <choices>
        <name>ingen_endring</name>
        <choiceText>Ingen endring</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ingen endring</stringValue>
        </value>
    </choices>
    <choices>
        <name>remove_passive_period</name>
        <choiceText>Fjern passiv periode</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fjern passiv periode</stringValue>
        </value>
    </choices>
    <choices>
        <description>Remove registered period</description>
        <name>removeRegisteredperiod</name>
        <choiceText>Fjern passiv periode</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fjern passiv periode</stringValue>
        </value>
    </choices>
    <choices>
        <name>vil_endre_perioden</name>
        <choiceText>Vil endre perioden</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vil endre perioden</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Change_future_period</name>
        <label>Change future period</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_change_future_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vil_du_gj_re_endringer_til_registrerte_periode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vil_endre_perioden</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setParticipantAsPassive</targetReference>
            </connector>
            <label>Yes, change period</label>
        </rules>
        <rules>
            <name>Remove_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vil_du_gj_re_endringer_til_registrerte_periode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>remove_passive_period</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passive_period_removed</targetReference>
            </connector>
            <label>Remove period</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deactivate_or_extend</name>
        <label>Deactivate or Extend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Extend_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Change passive period</defaultConnectorLabel>
        <rules>
            <name>Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vennligst_velg_en_av_f_lgende_handlinger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deaktiver</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_screen</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
        <rules>
            <name>Remove_active_passive_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vennligst_velg_en_av_f_lgende_handlinger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>removeRegisteredperiod</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_followup_task</targetReference>
            </connector>
            <label>Remove passive period</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_passive_period</name>
        <label>Future passive period ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>setParticipantAsPassive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorktrail.Passive_activate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_future_passive_period</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the participant is already active ?</description>
        <name>Is_participant_passive</name>
        <label>Is participant passive ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Future_passive_period</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorktrail.passive_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_passive_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Gjelder kun for IPS hvor JS kan sette deltaker i en passiv tilstand
Oppretter platform event jobbspor</description>
    <environments>Default</environments>
    <formulas>
        <description>If activating, it sets the follow-up date to varAddDateFollowUp from Set participant active screen. 
If extending, it sets the follow-up date Ny_oppfølging_dato from Extend screen.</description>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <expression>IF(!ISBLANK({!followUpDate}), {!followUpDate}, {!Ny_oppfolging_dato})</expression>
    </formulas>
    <formulas>
        <name>newFollowupReason</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!Ny_aarsak}) , ISBLANK({!Ny_aarsak})) , 
{!getWorktrail.Passive_reason__c}, 
{!Ny_aarsak})</expression>
    </formulas>
    <formulas>
        <name>setActiveDate</name>
        <dataType>Date</dataType>
        <expression>IF( ISBLANK({!getWorktrail.Passive_activate__c}),
 TODAY(),
 {!getWorktrail.Passive_activate__c})</expression>
    </formulas>
    <formulas>
        <name>setDeactiveDate</name>
        <dataType>Date</dataType>
        <expression>IF((ISBLANK({!getWorktrail.Passive_deactivate__c})), 
null,
{!getWorktrail.Passive_deactivate__c})</expression>
    </formulas>
    <formulas>
        <description>Adds 30 to the passive active date as follow up date.</description>
        <name>setFollowUpDate</name>
        <dataType>Date</dataType>
        <expression>IF(({!Passiv_periode_starter} &lt; TODAY()), 
TODAY() + 30, 
{!Passiv_periode_starter} + 30)</expression>
    </formulas>
    <formulas>
        <name>setNewFollowupDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Passiv_periode_starter_extend} &lt; TODAY(), 
(TODAY() + 30), 
({!Passiv_periode_starter_extend} + 30)
)</expression>
    </formulas>
    <formulas>
        <description>If activating, it sets the reason from Set participant screen.
If extending, it sets the new reason from Extend screen.</description>
        <name>taskComment</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!followUpDate}), {!varReasonForPassiveParticipant},{!Ny_aarsak})</expression>
    </formulas>
    <formulas>
        <description>If activating, it sets the subject from Set participant screen.
If extending, it sets the subject from Extend screen.</description>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!followUpDate}), &apos;Passiv tilstand aktivert&apos;, &apos;Passiv tilstand forlenget&apos;)</expression>
    </formulas>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IPS_worktrailSetParticipantPassive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - worktrail Set Participant Passive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Getting worktrail to update passive period.</description>
        <name>getWorktrail</name>
        <label>Get worktrail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_participant_passive</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateWorktrail</name>
        <label>updateWorktrail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_display</targetReference>
        </faultConnector>
        <inputReference>getWorktrail</inputReference>
    </recordUpdates>
    <screens>
        <name>Deactivate_screen</name>
        <label>Deactivate screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Passiv_periode_deactivated</targetReference>
        </connector>
        <fields>
            <name>info_Text_deactivate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Velg dato for deaktivering. Passiv periode startet {!getWorktrail.Passive_activate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Deactivate_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deactivate_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Passiv_periode_deaktivert</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>setDeactiveDate</elementReference>
                    </defaultValue>
                    <fieldText>Passiv periode deaktivert</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Passiv sluttdato må være etter passiv startdato.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Passiv_periode_deaktivert} &gt;={!getWorktrail.Passive_activate__c}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Deactivate_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Deaktiver</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_display</name>
        <label>Error display</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Application_log</targetReference>
        </connector>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(208, 82, 82);&quot;&gt;Det har oppstått en feil !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(208, 82, 82);&quot;&gt;Vennligst meld feilen via porten.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Extend_screen</name>
        <label>Extend screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Extend_passive_period</targetReference>
        </connector>
        <fields>
            <name>info_text_extend</name>
            <fieldText>&lt;p&gt;Deltakeren har en pågående passiv periode fra &lt;strong&gt;{!getWorktrail.Passive_activate__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Årsak - &lt;strong&gt;{!getWorktrail.Passive_reason__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Oppfølgingsdato - &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getWorktrail.Passive_followup__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getWorktrail.Passive_deactivate__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>info_text_extend_alt</name>
            <fieldText>&lt;p&gt;Deltakeren har en pågående passiv periode fra &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!getWorktrail.Passive_activate__c} &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;til &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!getWorktrail.Passive_deactivate__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Årsak - &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!getWorktrail.Passive_reason__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Oppfølgingsdato - &lt;strong&gt;{!getWorktrail.Passive_followup__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getWorktrail.Passive_deactivate__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Extend_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Extend_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Passiv_periode_starter_extend</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>setActiveDate</elementReference>
                    </defaultValue>
                    <fieldText>Passiv periode starter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Passiv_periode_slutter_extend</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>setDeactiveDate</elementReference>
                    </defaultValue>
                    <fieldText>Passiv periode slutter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Passiv sluttdato må være etter passiv startdato.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Passiv_periode_slutter_extend} &gt; {!Passiv_periode_starter_extend}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Ny_oppfolging_dato</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>getWorktrail.Passive_followup__c</elementReference>
                    </defaultValue>
                    <fieldText>Oppfølgingsdato</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Oppfølging dato må være etter dagens dato og passiv startdato.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND({!Ny_oppfolging_dato} &gt;= Today(),
{!Ny_oppfolging_dato} &gt; {!Passiv_periode_starter_extend})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Passiv_periode_slutter_extend</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <elementReference>varToday</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Passiv_periode_slutter_extend</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Extend_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ny_aarsak</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getWorktrail.Passive_reason__c</elementReference>
            </defaultValue>
            <fieldText>Ny årsak</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ny_oppfolging_dato</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>getWorktrail.Passive_followup__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Neste</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Has_future_passive_period</name>
        <label>Has future passive period</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_future_period</targetReference>
        </connector>
        <fields>
            <name>display_future_passive_active</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Deltakeren har en registrert passive period fra &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!getWorktrail.Passive_activate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getWorktrail.Passive_deactivate__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>future_passive_period_display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Deltakeren har en registrert passive period fra &lt;/span&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getWorktrail.Passive_activate__c} &lt;/strong&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;til &lt;/span&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getWorktrail.Passive_deactivate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getWorktrail.Passive_deactivate__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Vil_du_gj_re_endringer_til_registrerte_periode</name>
            <choiceReferences>vil_endre_perioden</choiceReferences>
            <choiceReferences>remove_passive_period</choiceReferences>
            <choiceReferences>ingen_endring</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vil du gjøre endringer til registrerte periode ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Bekreft</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Provides alternative for deactivating or extending passive period.</description>
        <name>Manage_passive_status</name>
        <label>Manage passive status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deactivate_or_extend</targetReference>
        </connector>
        <fields>
            <name>info_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Deltakeren har en pågående passiv periode fra {!getWorktrail.Passive_activate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getWorktrail.Passive_deactivate__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>info_text_period</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Deltakeren har en pågående passiv periode fra {!getWorktrail.Passive_activate__c}  til {!getWorktrail.Passive_deactivate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getWorktrail.Passive_deactivate__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Vennligst_velg_en_av_f_lgende_handlinger</name>
            <choiceReferences>Deaktiver</choiceReferences>
            <choiceReferences>Forleng</choiceReferences>
            <choiceReferences>removeRegisteredperiod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vennligst velg en av følgende handlinger:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Neste</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Passiv_periode_deactivated</name>
        <label>Passive periode deactivated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Deactivate_passive_flag</targetReference>
        </connector>
        <fields>
            <name>deactivate_info_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Passiv periode registrert fra &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!getWorktrail.Passive_activate__c} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;til &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Passiv_periode_deaktivert}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Passive_period_changed_information</name>
        <label>Passive period changed information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>updateWorktrail</targetReference>
        </connector>
        <fields>
            <name>info_text_activated_extend</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Passiv periode aktivert fra &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Passiv_periode_starter_extend} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;med oppfølging &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Ny_oppfolging_dato}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Årsak - &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!newFollowupReason}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Passiv_periode_slutter_extend</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_info_text_activated_deactivated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Passive periode registrert fra &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Passiv_periode_starter_extend} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;til &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Passiv_periode_slutter_extend}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Årsak -&lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!newFollowupReason}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Oppfølging - &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Ny_oppfolging_dato}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Passiv_periode_slutter_extend</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Bekreft</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Passive_period_information</name>
        <label>Passive period information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>updateWorktrail</targetReference>
        </connector>
        <fields>
            <name>info_text_activated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Passiv periode aktivert fra &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Passiv_periode_starter} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;med oppfølging &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!followUpDate}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Årsak - &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!varReasonForPassiveParticipant}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Passiv_periode_slutter</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>followUpDate</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>info_text_activated_deactivated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Passive periode registrert fra &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Passiv_periode_starter} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;til &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Passiv_periode_slutter}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Oppfølgingsdato - &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!followUpDate}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Årsak - &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!varReasonForPassiveParticipant}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Passiv_periode_slutter</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>followUpDate</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>info_text_without_followupdate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Passive periode registrert fra &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Passiv_periode_starter} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;til &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Passiv_periode_slutter}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Årsak - &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!varReasonForPassiveParticipant}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>followUpDate</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Passive_period_removed</name>
        <label>Passive period removed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Remove_passive_period_dates</targetReference>
        </connector>
        <fields>
            <name>info_text_passive_removed</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Passiv periode fjernet.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>setParticipantAsPassive</name>
        <label>Set participant as passive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Activate_passive_flag</targetReference>
        </connector>
        <fields>
            <name>setParticipantAsPassive_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>setParticipantAsPassive_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Passiv_periode_starter</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>setActiveDate</elementReference>
                    </defaultValue>
                    <fieldText>Passiv periode starter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Passiv_periode_slutter</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>setDeactiveDate</elementReference>
                    </defaultValue>
                    <fieldText>Passiv periode slutter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Sluttdato må være etter startdato.&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
ISBLANK({!Passiv_periode_slutter}),  
({!Passiv_periode_slutter} &gt; {!Passiv_periode_starter})
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>followUpDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>setFollowUpDate</elementReference>
                    </defaultValue>
                    <fieldText>Legg til dato for oppfølging av deltaker</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Velg en dato i fremtid.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!followUpDate} &gt; TODAY()</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Passiv_periode_slutter</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <elementReference>varToday</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Passiv_periode_slutter</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>setParticipantAsPassive_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>setParticipantAsPassive_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>setParticipantAsPassive_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>varReasonForPassiveParticipant</name>
                    <dataType>String</dataType>
                    <fieldText>Årsak til passiv periode</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Reason for absence. Next step and follow up.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Bekreft</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Update followup task to not applicable.</description>
        <name>Update_followup_task</name>
        <label>Update followup task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Remove_passive_period_dates</targetReference>
        </connector>
        <fields>
            <name>info_text_update_task</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Passiv periode er fjernet. Husk å oppdatere oppfølgingsoppgave knyttet til passive periode til &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ikke aktuell.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorktrail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Application_log</name>
        <label>Application log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>IPS_Subflow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>applicationDomain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceFunction</name>
            <value>
                <stringValue>IPS - worktrail Set Participant Passive</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHistoricRowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Oppfølging av deltaker</stringValue>
        </value>
    </variables>
</Flow>
