force-app/main/default/flows/IPS_notification_sent_on_intervall_reports.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendReportNotifications</name>
        <label>SendReportNotifications</label>
        <locationX>446</locationX>
        <locationY>1284</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>varNotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>varNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>addAssignments</name>
        <label>addAssignments</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>varOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getIntervallRecords.IPS_subject__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addAssignments1</name>
        <label>addAssignments</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>varOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Første veilederrapport</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkDueDate</name>
        <label>checkDueDate</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>isNotDue</defaultConnectorLabel>
        <rules>
            <name>isDueTwoWeek</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getIntervallRecords.IPS_notificationDueDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAssignments</targetReference>
            </connector>
            <label>isDueTwoWeek</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfReportExists</name>
        <label>checkIfReportExists</label>
        <locationX>446</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>checkIfReportIsFirstTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isReportNull</defaultConnectorLabel>
        <rules>
            <name>isReportNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getIntervallRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkDueDate</targetReference>
            </connector>
            <label>isReportNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfReportIsFirstTime</name>
        <label>checkIfReportIsFirstTime</label>
        <locationX>710</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>isFirst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStartUpDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAssignments1</targetReference>
            </connector>
            <label>isFirst</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTypeOfRecord</name>
        <label>checkTypeOfRecord</label>
        <locationX>776</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>isNotAMS</defaultConnectorLabel>
        <rules>
            <name>isRecordAMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getIntervallRecords</targetReference>
            </connector>
            <label>isRecordAMS</label>
        </rules>
    </decisions>
    <description>Sjekker antall dager siden siste intervallrapport pr jobbspor og sender en notifikasjon når det er 2 uker igjen til neste.</description>
    <environments>Default</environments>
    <formulas>
        <name>isAMS</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.RecordType.DeveloperName}==&apos;ips_Supported_Employment&apos;,true,false)</expression>
    </formulas>
    <formulas>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <formulas>
        <name>varNotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Påminnelse om veilederrapport - det har snart gått 3 måneder - &apos;&amp;{!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>varStartUpDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Oppstartsdato__c})+76</expression>
    </formulas>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IPS - notification sent on intervall reports {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - notification sent on intervall reports</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_notification_task</name>
        <label>create notification task</label>
        <locationX>446</locationX>
        <locationY>1068</locationY>
        <connector>
            <targetReference>getNotifications</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varNotificationTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Task_IPSUO__c</field>
            <value>
                <stringValue>Veilederrapport</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Due_Date_Time__c</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getIntervallRecords</name>
        <label>getIntervallRecords</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfReportExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IPS_workTrailName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_report_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intervall</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ips_report__c</object>
        <sortField>IPS_intervallDateTo__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotifications</name>
        <label>getNotifications</label>
        <locationX>446</locationX>
        <locationY>1176</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendReportNotifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS_intervall_report_notification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>varNotificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>446</locationX>
        <locationY>960</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_notification_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkTypeOfRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <filters>
            <field>ips_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Referred</stringValue>
            </value>
        </filters>
        <object>Work_Trail__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-03</startDate>
            <startTime>03:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Påminnelse - det er snart gått 3 måneder.</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
