force-app/main/default/flows/IPS_report_send_to_Joark.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>generateDocument</name>
        <label>generateDocument</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PDF_Variant_Assignment</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visualForceReference</name>
            <value>
                <stringValue>/apex/IPS_viewReportPDF?Id={!recordId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CRM_JournalUtilities</nameSegment>
        <outputParameters>
            <assignToReference>PDF_DOCUMENT</assignToReference>
            <name>documentString</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>logFailure</name>
        <label>logFailure</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>errorScreen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Application_Log__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>varErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Journal_Request</name>
        <label>Post Journal Request</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkPostStatus</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>journalRequest</name>
            <value>
                <elementReference>JournalRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navIdent</name>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST_JOURNAL</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CRM_JournalUtilities</nameSegment>
        <outputParameters>
            <assignToReference>varErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varJournalId</assignToReference>
            <name>journalpostId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varJournalPostStatus</assignToReference>
            <name>journalPostStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varbolSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>addJournalEntryData</name>
        <label>addJournalEntryData</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry.CRM_Journal_Post_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INNGAAENDE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.CRM_NAV_Case_Legacy_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AO01</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.NAV_Case_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getReport.IPS_uniqueReportId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.CRM_Theme_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.CRM_Created_By_Ident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_journal_entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journal_Documents</name>
        <label>Assign Journal Documents</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Journal_Documents.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Variant_PDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReportTitle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Sak</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journal_Sak</name>
        <label>Assign Journal Sak</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Journal_Sak.sakstype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAGSAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Sak.fagsakId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_Overview.selectedCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Sak.fagsaksystem</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AO01</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Entry_Wrapper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Journal_Entry_Wrapper</name>
        <label>Journal Entry Wrapper</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>JournalRequest.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReportTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalRequest.kanal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NAV_NO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalRequest.journalpostType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INNGAAENDE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalRequest.dokumenter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalRequest.journalfoerendeEnhet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalRequest.bruker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalRequest.bruker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountInfo.INT_PersonIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalRequest.avsenderMottaker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ORGNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalRequest.avsenderMottaker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>889640782</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalRequest.avsenderMottaker.navn</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARBEIDS- OG VELFERDSETATEN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalRequest.tema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_Overview.selectedCaseTheme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalRequest.sak</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Sak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalRequest.eksternReferanseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getReport.IPS_uniqueReportId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Journal_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PDF_Variant_Assignment</name>
        <label>PDF Variant Assignment</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARKIV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDF_DOCUMENT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setJournalEntryFailedValues</name>
        <label>setJournalEntryFailedValues</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>logFailure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setJournalEntryValues</name>
        <label>setJournalEntryValues</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateJournalEntry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setReportValues</name>
        <label>setReportValues</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>getReport.IPS_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Archived</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getReport.ips_journalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varJournalId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setJournalEntryValues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIfParticipantIsInformed</name>
        <label>checkIfParticipantIsInformed</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>displayWarningText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notInformed</defaultConnectorLabel>
        <rules>
            <name>isInformed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getReport.IPS_participantInformed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountInfo</targetReference>
            </connector>
            <label>isInformed</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkPostStatus</name>
        <label>checkPostStatus</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>setJournalEntryFailedValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isFail</defaultConnectorLabel>
        <rules>
            <name>isSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varbolSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setReportValues</targetReference>
            </connector>
            <label>isSuccess</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varReportTitle</name>
        <dataType>String</dataType>
        <expression>{!getReport.IPS_subject__c}</expression>
    </formulas>
    <interviewLabel>IPS - report send to Joark {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - report send to Joark</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_journal_entry</name>
        <label>create journal entry</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>displayOverview</targetReference>
        </connector>
        <inputReference>Journal_Entry</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccountInfo</name>
        <label>getAccountInfo</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getReport.IPS_workTrailName__r.ips_Participant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addJournalEntryData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS_Journal_Entry</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Henter rapport informasjon fra jobbspor rapport</description>
        <name>getReport</name>
        <label>getReport</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfParticipantIsInformed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ips_report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateJournalEntry</name>
        <label>updateJournalEntry</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>updateReport</targetReference>
        </connector>
        <inputReference>Journal_Entry</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateReport</name>
        <label>updateReport</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <inputReference>getReport</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Henter saksid&apos;er fra Joark basert på deltakers id</description>
        <name>displayOverview</name>
        <label>displayJournals</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>generateDocument</targetReference>
        </connector>
        <fields>
            <name>displayTitle2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!varTitle}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayInformationIntervallIPS</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å journalføre ett underveisnotat.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getReport.IPS_report_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Intervall</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getReport.IPS_worktrail_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>IPS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayInformationIntervallSE</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å journalføre en underveisrapport</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getReport.IPS_report_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Intervall</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getReport.IPS_worktrail_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Supported Employment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayInformationEndIPS</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å journalføre ett sluttnotat.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getReport.IPS_report_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>End report</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getReport.IPS_worktrail_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>IPS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayInformationEndSE</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å journalføre en sluttrapport.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getReport.IPS_report_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>End report</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getReport.IPS_worktrail_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Supported Employment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayOverview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>displayOverview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>displayOverview_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayNameTxt</name>
                    <fieldText>&lt;p&gt;Deltakers navn: &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>displayOverview_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaySummarize</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!getReport.IPS_participantName__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>displayOverview_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Journal_Case_Overview</name>
            <extensionName>c:crmPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>FAGSAK_ONLY</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prefilledTheme</name>
                <value>
                    <stringValue>OPP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>viewType</name>
                <value>
                    <stringValue>THEME</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>getAccountInfo.CRM_Person__r.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>displayWarningText</name>
        <label>displayWarningText</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayWarningTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!varTitle}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>participantIsNotInformed</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Husk å huke av for at deltaker er informert om deling av rapporten.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayTitle3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!varTitle}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayErrorMessage</name>
            <fieldText>&lt;p&gt;En feil oppstod.&lt;/p&gt;&lt;p&gt;Meld inn feilmelding: &lt;/p&gt;&lt;p&gt;{!varErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getReport</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Document_Variant_PDF</name>
        <apexClass>CRM_Dokumentvarianter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Journal_Documents</name>
        <apexClass>CRM_Dokumenter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Journal_Entry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <name>Journal_Sak</name>
        <apexClass>CRM_Sak</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JournalRequest</name>
        <apexClass>CRM_JournalEntryWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantIdent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PDF_DOCUMENT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varbolSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJournalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJournalPostStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Journalføre rapport</stringValue>
        </value>
    </variables>
</Flow>
