force-app/main/default/flows/IPS_Send_archive_entry_to_archive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_archive</name>
        <label>Post to archive</label>
        <locationX>666</locationX>
        <locationY>276</locationY>
        <actionName>ArchiveHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Archived</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_application_log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>archiveData</name>
            <value>
                <elementReference>$Record.Archive_Data__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dokumentasjonId</name>
            <value>
                <elementReference>$Record.Reference_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fnr</name>
            <value>
                <elementReference>$Record.Fnr__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>konfidentiellt</name>
            <value>
                <elementReference>$Record.Confidential__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opprettetAv</name>
            <value>
                <elementReference>$Record.Domain__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceObject</name>
            <value>
                <elementReference>$Record.Reference_Object__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tema</name>
            <value>
                <elementReference>$Record.Theme__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArchiveHandler</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>archiveResponce</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Flags the record as ready for deletion.</description>
        <name>Set_status_to_completed</name>
        <label>Set status to completed</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ready_for_Deletion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_archive_entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_to_failed</name>
        <label>Set status to failed</label>
        <locationX>1282</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ready_for_Deletion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_archive_entry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Archived</name>
        <label>Archived ?</label>
        <locationX>666</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_status_to_failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>archiveResponce</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>archiveResponce</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_to_completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Archived_Success</name>
        <label>Ready For Deletion</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ready_for_Deletion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Domain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Archive_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>IPS - Send archive entry to archive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Send archive entry to archive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_application_log</name>
        <label>Create application log</label>
        <locationX>1282</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Set_status_to_failed</targetReference>
        </connector>
        <inputAssignments>
            <field>Application_Domain__c</field>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Load__c</field>
            <value>
                <elementReference>archiveResponce</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Send archive entry to archive</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Archive_Record</name>
        <label>Delete Archive Record</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <faultConnector>
            <targetReference>Application_log</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordUpdates>
        <name>Update_archive_entry</name>
        <label>Update archive entry</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Archived_Success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Application_log</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </filters>
        <object>Archive_Entry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Post_to_archive</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Application_log</name>
        <label>Application log</label>
        <locationX>314</locationX>
        <locationY>924</locationY>
        <flowName>IPS_Subflow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>applicationDomain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceFunction</name>
            <value>
                <stringValue>IPS - Send archive entry to archive</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>archiveResponce</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
