force-app/main/default/flows/IPS_create_or_update_arbeidsgivermote_meeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createTravelTime</name>
        <label>createTravelTime</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordtypeId</name>
            <value>
                <elementReference>varRecordTypeIdTravelTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>$Record.IPS_Status1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>$Record.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>$Record.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_eventTravelTimeController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>createUpdateTravelTime</name>
        <label>createUpdateTravelTime</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordtypeId</name>
            <value>
                <elementReference>varRecordTypeIdTravelTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>$Record.IPS_Status1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>$Record.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>$Record.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_eventTravelTimeController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>addRelatedToAccount</name>
        <label>addRelatedToAccount</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.RelatedToAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addRelatedToAccount1</name>
        <label>addRelatedToAccount</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.RelatedToAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_event1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isAccountChanged</name>
        <label>isAccountChanged</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>createUpdateTravelTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addRelatedToAccount1</targetReference>
            </connector>
            <label>isTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>isEventNew</name>
        <label>isEventNew</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>isAccountChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addRelatedToAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isDateTimeChanged</name>
        <dataType>Boolean</dataType>
        <expression>IsChanged({!$Record.StartDateTime} ) || isChanged({!$Record.EndDateTime})</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varRecordStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.IPS_Status1__c}, 
&apos;Cancelled&apos;, &apos;Completed&apos;, 
&apos;Participant Absent&apos;, &apos;Completed&apos;,
&apos;Completed&apos;, &apos;Completed&apos;, &apos;Not Started&apos;)</expression>
    </formulas>
    <interviewLabel>IPS - create or update arbeidsgivermote meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - create or update arbeidsgivermote meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRecordTypeTravelTime</name>
        <label>getRecordTypeTravelTime</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isEventNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordTypeNameTravelTime</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeIdTravelTime</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_event1</name>
        <label>Update event</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>createUpdateTravelTime</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateEvent</name>
        <label>Update event</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>createTravelTime</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordTypeTravelTime</targetReference>
        </connector>
        <filterLogic>1 AND 5 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reisetid</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Arbeidsgivermøte</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>First Meeting with Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_isFromTimeline__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEventSubCategoryTypeIPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventSubCategoryTypeUO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutputTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPublicTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeIdTravelTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeNameTravelTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IPS_Traveltime</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRelatedToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedToContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWhoIDEmpty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
