force-app/main/default/flows/IPS_createOnIPSUOTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>addActivityDate</name>
        <label>addActivityDate</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCompletedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAssignment</name>
        <label>setAssignment</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPublicTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDueDate</name>
        <label>setDueDate</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPublicTrue</name>
        <label>setPublicTrue</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varPublicTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setDueDate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIfNew</name>
        <label>checkIfNew</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>checkType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotTaskNew</defaultConnectorLabel>
        <rules>
            <name>isTaskNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Task_IPSUO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delmål (av hovedmål)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddContactId</targetReference>
            </connector>
            <label>isTaskNew</label>
        </rules>
        <rules>
            <name>isTaskNewLogs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Task_IPSUO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loggfør samtale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addActivityDate</targetReference>
            </connector>
            <label>isTaskNewLogs</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkType</name>
        <label>checkType</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>UpdateTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isGoal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Task_IPSUO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delmål (av hovedmål)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAssignment</targetReference>
            </connector>
            <label>isGoal</label>
        </rules>
    </decisions>
    <description>Used by UO/IPS task
- add true to public checkbox
- add contact id</description>
    <formulas>
        <name>forCompletedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CompletedDateTime})</expression>
    </formulas>
    <formulas>
        <name>forDueDateTime</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.ips_Due_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>IPS - create on ips_uo task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - create on ips_uo task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateTask</name>
        <label>UpdateTask</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <elementReference>varPublicTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService__c</field>
            <value>
                <elementReference>varPublicTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkIfNew</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål (av hovedmål)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loggfør samtale</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>AddContactId</name>
        <label>AddContactId</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>setPublicTrue</targetReference>
        </connector>
        <flowName>IPS_subflowAddContactId</flowName>
        <inputAssignments>
            <name>varWorkTrailId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <name>varContactId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublicTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
