force-app/main/default/flows/IPS_Archive_worktrail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_worktrail_to_JSON</name>
        <label>Convert worktrail to JSON</label>
        <locationX>374</locationX>
        <locationY>792</locationY>
        <actionName>ArchiveHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_worktrail_to_archive</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>Work_Trail__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordsList</name>
            <value>
                <elementReference>worktralCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArchiveHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>archiveData</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Events_to_JSON</name>
        <label>Events to JSON</label>
        <locationX>374</locationX>
        <locationY>2172</locationY>
        <actionName>ArchiveHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_events_to_archive</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>Event</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordsList</name>
            <value>
                <elementReference>eventsToArchive</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArchiveHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>eventJsonOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_archive_Events</name>
        <label>Post to archive - Events</label>
        <locationX>506</locationX>
        <locationY>2496</locationY>
        <actionName>ArchiveHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>archiveData</name>
            <value>
                <elementReference>eventJsonOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dokumentasjonId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fnr</name>
            <value>
                <elementReference>$Record.IPS_Personnummer__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>konfidentiellt</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opprettetAv</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceObject</name>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tema</name>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ArchiveHandler</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_events_to_archive</name>
        <label>Add events to archive</label>
        <locationX>374</locationX>
        <locationY>2280</locationY>
        <assignmentItems>
            <assignToReference>eventsFileToArchive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventJsonOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Events_Exceed_Max_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_worktrail_to_archive</name>
        <label>Add Worktrail To Archive</label>
        <locationX>374</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>worktrailDataToSplit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>archiveData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_worktrail_exceeds_maxlimit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AMS_Worktrail_fields</name>
        <label>AMS Worktrail fields</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_UO_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_UO_Service__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Worktrail_collection_to_convert_to_JSON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Archive_entry</name>
        <label>Archive entry</label>
        <locationX>506</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>tempArchvieEntry.Archive_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>archiveData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempArchvieEntry.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempArchvieEntry.Confidential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempArchvieEntry.Fnr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPS_Personnummer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempArchvieEntry.Reference_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempArchvieEntry.Reference_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work_Trail__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempArchvieEntry.Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jobbspor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_archive_entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Event_to_archive</name>
        <label>Event to archive</label>
        <locationX>462</locationX>
        <locationY>1872</locationY>
        <assignmentItems>
            <assignToReference>eventToArchive.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_meetings_to_collection.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventToArchive.IPS_Status1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_meetings_to_collection.IPS_Status1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Events_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Events_collection</name>
        <label>Events collection</label>
        <locationX>462</locationX>
        <locationY>1980</locationY>
        <assignmentItems>
            <assignToReference>eventsToArchive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventToArchive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_meetings_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IPS_Worktrail_fields</name>
        <label>IPS Worktrail fields</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Contact_when_not_showing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Contact_when_not_showing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Main_Goal_list__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Main_Goal_list__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Benefits_of_openness_to_the_employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Benefits_of_openness_to_the_employer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Disadvantages_of_openness_employe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Disadvantages_of_openness_employe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Behandlingsteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Behandlingsteam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Financialframework_before_start_work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Financialframework_before_start_work__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Transition_to_work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Transition_to_work__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Worktrail_collection_to_convert_to_JSON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Worktrail_collection_to_convert_to_JSON</name>
        <label>Worktrail collection to convert to JSON</label>
        <locationX>374</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>worktralCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>worktrailToArchive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_worktrail_to_JSON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Worktrail_to_archive</name>
        <label>Worktrail to archive</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>worktrailToArchive.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.IPS_Personnummer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPS_Personnummer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Referred_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Referred_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.Oppstartsdato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oppstartsdato__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.IPS_ownerName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPS_ownerName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.Personal_Qualities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Personal_Qualities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.What_cannot_be_shared_with_the_employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.What_cannot_be_shared_with_the_employer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Applying_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Applying_Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Can_the_employer_be_contacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Can_the_employer_be_contacted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Conversation_with_previous_employers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Conversation_with_previous_employers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Cultural_background__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Cultural_background__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Desired_profession_industry_career__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Desired_profession_industry_career__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Desired_work_tasks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Desired_work_tasks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Desired_working_environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Desired_working_environment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_E_mail_Nav_supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_E_mail_Nav_supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Early_signs_increased_symptompressur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Early_signs_increased_symptompressur__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Education__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Education__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Health__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Health__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Health_service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Health_service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Interests_Hobbies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Interests_Hobbies__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Main_goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Main_goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_NAV_supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_NAV_supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Nav_Supervisor_Phone_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Nav_Supervisor_Phone_number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Transparency_consent_obtained_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Transparency_consent_obtained_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_What_can_be_shared_with_the_employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_What_can_be_shared_with_the_employer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Work_experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Work_experience__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Other_end_cases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Other_end_cases__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.Days_before_first_employer_meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Days_before_first_employer_meeting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.IPS_participants_age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPS_participants_age__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_First_meeting_with_the_Employer_held__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_First_meeting_with_the_Employer_held__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.End_Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Cause__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IPS_or_AMS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IPS_or_AMS</name>
        <label>IPS or AMS</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>AMS_Worktrail_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AMS</defaultConnectorLabel>
        <rules>
            <name>IPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPS_Worktrail_fields</targetReference>
            </connector>
            <label>IPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Events_Exceed_Max_Limit</name>
        <label>Is Events Exceed Max Limit ?</label>
        <locationX>374</locationX>
        <locationY>2388</locationY>
        <defaultConnector>
            <targetReference>Post_to_archive_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Events</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventsExceedMaxLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_archive_entries_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_worktrail_exceeds_maxlimit</name>
        <label>Is worktrail exceeds maxlimit ?</label>
        <locationX>374</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Archive_entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_worktrail_exceeds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWorktrailExceedsMaxLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_archive_entries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>eventsExceedMaxLimit</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!eventJsonOutput}) &gt; 100,
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>isWorktrailExceedsMaxLimit</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!archiveData}) &gt; 100,
TRUE,
FALSE)</expression>
    </formulas>
    <formulas>
        <description>The field storing archive data is -  Long Text Area(131072). 
Limited to 90,000 characters to avoid exceeding the maximum limit when Base64 encoding is applied.</description>
        <name>isWorktrailFileTooLong</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!worktrailFileToPost}) &gt; 100
,TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>IPS - Archive worktrail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Archive worktrail</label>
    <loops>
        <name>Add_meetings_to_collection</name>
        <label>Add meetings to collection</label>
        <locationX>374</locationX>
        <locationY>1764</locationY>
        <collectionReference>Get_meetings_related_to_worktrail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Event_to_archive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Events_to_JSON</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Application_log</name>
        <label>Application log</label>
        <locationX>770</locationX>
        <locationY>1332</locationY>
        <inputAssignments>
            <field>Application_Domain__c</field>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_Info__c</field>
            <value>
                <stringValue>Create archive entry - Worktrail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Function__c</field>
            <value>
                <stringValue>IPS - Archive worktrail</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_archive_entry</name>
        <label>Create archive entry</label>
        <locationX>506</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Get_meetings_related_to_worktrail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Application_log</targetReference>
        </faultConnector>
        <inputReference>tempArchvieEntry</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_meetings_related_to_worktrail</name>
        <label>Get meetings related to worktrail</label>
        <locationX>374</locationX>
        <locationY>1656</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_meetings_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <object>Work_Trail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Worktrail_to_archive</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_archive_entries</name>
        <label>Create archive entries</label>
        <locationX>242</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Get_meetings_related_to_worktrail</targetReference>
        </connector>
        <flowName>IPS_Create_archive_entries</flowName>
        <inputAssignments>
            <name>archiveDataToSplit</name>
            <value>
                <elementReference>worktrailDataToSplit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>confidential</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>domain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fnr</name>
            <value>
                <elementReference>$Record.IPS_Personnummer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>referenceId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>referenceObject</name>
            <value>
                <stringValue>Work_Trail__c</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_archive_entries_Event</name>
        <label>Create Archive Entries - Event</label>
        <locationX>242</locationX>
        <locationY>2496</locationY>
        <flowName>IPS_Create_archive_entries</flowName>
        <inputAssignments>
            <name>archiveDataToSplit</name>
            <value>
                <elementReference>eventsFileToArchive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>confidential</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>domain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fnr</name>
            <value>
                <elementReference>$Record.IPS_Personnummer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>referenceId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>referenceObject</name>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>archiveData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>archiveResponce</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>eventJsonOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventsFileToArchive</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventsToArchive</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>eventToArchive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>tempArchvieEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Archive_Entry__c</objectType>
    </variables>
    <variables>
        <name>worktrailDataToSplit</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>worktrailFileToPost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>worktrailToArchive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Trail__c</objectType>
    </variables>
    <variables>
        <name>worktralCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Trail__c</objectType>
    </variables>
</Flow>
