force-app/main/default/flows/IPS_createOnIPSUOTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>setPublicTrue</name>
        <label>setPublicTrue</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>varPublicTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTask</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkPublic</name>
        <label>checkPublic</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>UpdateTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isPublicFalse</defaultConnectorLabel>
        <rules>
            <name>isPublicTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPS_Skal_ikke_deles_med_Deltaker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPublicTrue</targetReference>
            </connector>
            <label>isPublicTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRelatedTo</name>
        <label>checkRelatedTo</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>checkPublic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isFalse</defaultConnectorLabel>
        <rules>
            <name>isTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPS_participant_related_to_meeting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddContactId</targetReference>
            </connector>
            <label>isTrue</label>
        </rules>
    </decisions>
    <description>Used by UO/IPS task
- add true to public checkbox
- add contact id</description>
    <interviewLabel>IPS - create on ips_uo task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - create on ips_uo task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateTask</name>
        <label>UpdateTask</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <elementReference>varPublicTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkRelatedTo</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål (av hovedmål)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loggfør samtale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loggfør SMS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loggfør Epost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oppgave</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loggfør Samtale Arb.giver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loggfør SMS Arb.giver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oppgave Arb.giver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oppgave Arb.giver</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AddContactId</name>
        <label>AddContactId</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>checkPublic</targetReference>
        </connector>
        <flowName>IPS_subflowAddContactId</flowName>
        <inputAssignments>
            <name>varWorkTrailId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <name>varContactId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublicTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
