force-app/main/default/flows/IPS_Team_Member_Before_Set_Inactive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ips_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Start_Date</name>
        <label>Set Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ips_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_If_End_Date_Is_Today</name>
        <label>Check If End Date Is Today</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>End Date Is Today</defaultConnectorLabel>
        <rules>
            <name>Check_If_End_Date_Is_Today_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_End_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_End_Date</targetReference>
            </connector>
            <label>End Date is Not Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Start_Date_Is_Today</name>
        <label>Check If Start Date Is Today</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Start Date Is Today</defaultConnectorLabel>
        <rules>
            <name>Check_If_Start_Date_Is_Today_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_Start_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start_Date</targetReference>
            </connector>
            <label>Start Date is Not Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Team_Member_Is_Inactivated_Or_Activated</name>
        <label>Check If Team Member Is Inactivated Or Activated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_If_Start_Date_Is_Today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Team Member Is Activated</defaultConnectorLabel>
        <rules>
            <name>Team_Member_Is_Inactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_Is_Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_End_Date_Is_Today</targetReference>
            </connector>
            <label>Team Member Is Inactivated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>IPS Team Member Before Set Inactive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS Team Member Before Set Inactive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Team_Member_Is_Inactivated_Or_Activated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ips_Is_Inactive__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ips_Team_Member__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
