force-app/main/default/flows/IPS_removeOldTravelTime.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>checkYear</name>
        <label>checkYear</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkCreatedDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteTravelTime</targetReference>
            </connector>
            <label>checkCreatedDate</label>
        </rules>
    </decisions>
    <description>Skedulert til å fjerne reisetid. Disse er kun dummy møter som allokerer tid i kalenderen og bør fjernes over tid for ikke å fylle opp orgen, med data som ikke har noen verdi</description>
    <environments>Default</environments>
    <formulas>
        <description>Createddate on meetings - 3 months</description>
        <name>varCreatedDate</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS({!$Record.CreatedDate},-3)</expression>
    </formulas>
    <formulas>
        <name>varCreatedDateYear</name>
        <dataType>Number</dataType>
        <expression>YEAR(DATEVALUE({!$Record.CreatedDate}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>IPS - removeOldTravelTime {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - removeOldTravelTime</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>deleteTravelTime</name>
        <label>deleteTravelTime</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Event</object>
    </recordDeletes>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkYear</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reisetid</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-19</startDate>
            <startTime>00:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
