force-app/main/default/flows/IPS_worktrailSetParticipantPassive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Setting the following field to true, displays the &quot;Passive&quot; flag in worktrail</description>
        <name>Activate_passive_flag</name>
        <label>Activate passive period</label>
        <locationX>1304</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_activate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passiv_periode_starter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_deactivate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passiv_periode_slutter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_followup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>followUpDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReasonForPassiveParticipant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passive_period_information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the following field to false, disables the &quot;Passive&quot; flag from worktrail.</description>
        <name>Deactivate_passive_flag</name>
        <label>Deactivate passive period</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_deactivate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passiv_periode_deaktivert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passiv_periode_deactivated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns value to the fields related the passive period</description>
        <name>Extend_passive_period</name>
        <label>Extend passive period</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_deactivate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passiv_periode_slutter_extend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ny_aarsak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_followup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ny_oppfolging_dato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passive_period_extended</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting fields related to passive period to blank.</description>
        <name>Remove_passive_period_dates</name>
        <label>Remove passive period</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_activate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_deactivate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_followup__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrail.Passive_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_worktrail_after_removing</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Deactives the ongoing passive period.</description>
        <name>Deaktiver</name>
        <choiceText>Deaktiver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deaktiver</stringValue>
        </value>
    </choices>
    <choices>
        <description>Extends the ongoing passive period.</description>
        <name>Forleng</name>
        <choiceText>Forleng</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forleng</stringValue>
        </value>
    </choices>
    <choices>
        <name>ingen_endring</name>
        <choiceText>Ingen endring</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ingen endring</stringValue>
        </value>
    </choices>
    <choices>
        <name>remove_passive_period</name>
        <choiceText>Fjern passiv periode</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fjern passiv periode</stringValue>
        </value>
    </choices>
    <choices>
        <name>vil_endre_perioden</name>
        <choiceText>Vil endre perioden</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vil endre perioden</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Change_future_period</name>
        <label>Change future period</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_change_future_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vil_du_gj_re_endringer_til_registrerte_periode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vil_endre_perioden</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setParticipantAsPassive</targetReference>
            </connector>
            <label>Yes, change period</label>
        </rules>
        <rules>
            <name>Remove_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vil_du_gj_re_endringer_til_registrerte_periode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>remove_passive_period</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_passive_period_dates</targetReference>
            </connector>
            <label>Remove period</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deactivate_or_extend</name>
        <label>Deactivate or Extend</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Extend_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Extend</defaultConnectorLabel>
        <rules>
            <name>Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vennligst_velg_en_av_f_lgende_handlinger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deaktiver</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_screen</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_passive_period</name>
        <label>Future passive period ?</label>
        <locationX>1304</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>setParticipantAsPassive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorktrail.Passive_activate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_future_passive_period</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_deactive_date_in_future</name>
        <label>Is deactive date in future ?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Passiv_periode_deactivated_over</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Deactive_Date_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Passiv_periode_deaktivert</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_passive_flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the participant is already active ?</description>
        <name>Is_participant_passive</name>
        <label>Is participant passive ?</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Future_passive_period</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorktrail.passive_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_passive_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Gjelder kun for IPS hvor JS kan sette deltaker i en passiv tilstand</description>
    <environments>Default</environments>
    <formulas>
        <description>If activating, it sets the follow-up date to varAddDateFollowUp from Set participant active screen. 
If extending, it sets the follow-up date Ny_oppfølging_dato from Extend screen.</description>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <expression>IF(!ISBLANK({!followUpDate}), {!followUpDate}, {!Ny_oppfolging_dato})</expression>
    </formulas>
    <formulas>
        <name>setActiveDate</name>
        <dataType>Date</dataType>
        <expression>IF( ISBLANK({!getWorktrail.Passive_activate__c}),
 TODAY(),
 {!getWorktrail.Passive_activate__c})</expression>
    </formulas>
    <formulas>
        <name>setDeactiveDate</name>
        <dataType>Date</dataType>
        <expression>IF((ISBLANK({!getWorktrail.Passive_deactivate__c})), 
null,
{!getWorktrail.Passive_deactivate__c})</expression>
    </formulas>
    <formulas>
        <description>Adds 30 to the passive active date as follow up date.</description>
        <name>setFollowUpDate</name>
        <dataType>Date</dataType>
        <expression>IF(({!setActiveDate} &lt; TODAY()), 
null, 
{!Passiv_periode_starter} + 30)</expression>
    </formulas>
    <formulas>
        <name>setNewFollowUpDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <description>If activating, it sets the reason from Set participant screen.
If extending, it sets the new reason from Extend screen.</description>
        <name>taskComment</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!followUpDate}), {!varReasonForPassiveParticipant},{!Ny_aarsak})</expression>
    </formulas>
    <formulas>
        <description>If activating, it sets the subject from Set participant screen.
If extending, it sets the subject from Extend screen.</description>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!followUpDate}), &apos;Passiv tilstand aktivert&apos;, &apos;Passiv tilstand forlenget&apos;)</expression>
    </formulas>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IPS_worktrailSetParticipantPassive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - worktrail Set Participant Passive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getWorktrail</name>
        <label>getWorktrail</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_participant_passive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating worktrail after removing period.</description>
        <name>Update_worktrail_after_removing</name>
        <label>Update worktrail after removing</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <inputReference>getWorktrail</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateWorktrail</name>
        <label>updateWorktrail</label>
        <locationX>842</locationX>
        <locationY>1574</locationY>
        <inputReference>getWorktrail</inputReference>
    </recordUpdates>
    <screens>
        <name>Deactivate_screen</name>
        <label>Deactivate screen</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Is_deactive_date_in_future</targetReference>
        </connector>
        <fields>
            <name>info_Text_deactivate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Velg dato for deaktivering. Passiv periode startet {!getWorktrail.Passive_activate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Deactivate_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deactivate_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Passiv_periode_deaktivert</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>setDeactiveDate</elementReference>
                    </defaultValue>
                    <fieldText>Passiv periode deaktivert</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Passiv sluttdato må være etter passiv startdato.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Passiv_periode_deaktivert} &gt;={!getWorktrail.Passive_activate__c}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Deactivate_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Deaktiver</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Extend_screen</name>
        <label>Extend screen</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Extend_passive_period</targetReference>
        </connector>
        <fields>
            <name>info_text_extend</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Deltakeren har en pågående passiv periode fra {!getWorktrail.Passive_activate__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Årsak : {!getWorktrail.Passive_reason__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Extend_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Extend_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Passiv_periode_slutter_extend</name>
                    <dataType>Date</dataType>
                    <fieldText>Passiv periode slutter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Passiv sluttdato må være etter passiv startdato.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Passiv_periode_slutter_extend} &gt; {!getWorktrail.Passive_activate__c}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Ny_oppfolging_dato</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>setNewFollowUpDate</elementReference>
                    </defaultValue>
                    <fieldText>Ny oppfølging dato</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Velg en gyldig dato.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Ny_oppfolging_dato} &gt;= Today()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Extend_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ny_aarsak</name>
            <dataType>String</dataType>
            <fieldText>Ny årsak</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Forleng</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_future_passive_period</name>
        <label>Has future passive period</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_future_period</targetReference>
        </connector>
        <fields>
            <name>display_future_passive_active</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Deltakeren har en registrert passive period fra &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!getWorktrail.Passive_activate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getWorktrail.Passive_deactivate__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>future_passive_period_display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Deltakeren har en registrert passive period fra &lt;/span&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getWorktrail.Passive_activate__c} &lt;/strong&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;til &lt;/span&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getWorktrail.Passive_deactivate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getWorktrail.Passive_deactivate__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Vil_du_gj_re_endringer_til_registrerte_periode</name>
            <choiceReferences>vil_endre_perioden</choiceReferences>
            <choiceReferences>remove_passive_period</choiceReferences>
            <choiceReferences>ingen_endring</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vil du gjøre endringer til registrerte periode ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Bekreft</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provides alternative for deactivating or extending passive period.</description>
        <name>Manage_passive_status</name>
        <label>Manage passive status</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deactivate_or_extend</targetReference>
        </connector>
        <fields>
            <name>info_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Deltakeren har en pågående passiv periode fra {!getWorktrail.Passive_activate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getWorktrail.Passive_deactivate__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>info_text_period</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Deltakeren har en pågående passiv periode fra {!getWorktrail.Passive_activate__c}  til {!getWorktrail.Passive_deactivate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getWorktrail.Passive_deactivate__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Vennligst_velg_en_av_f_lgende_handlinger</name>
            <choiceReferences>Deaktiver</choiceReferences>
            <choiceReferences>Forleng</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vennligst velg en av følgende handlinger:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Neste</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Passiv_periode_deactivated</name>
        <label>Passive periode deactivated</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>updateWorktrail</targetReference>
        </connector>
        <fields>
            <name>deactivate_info_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Passiv periode registrert til &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Passiv_periode_deaktivert}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Passiv_periode_deactivated_over</name>
        <label>Passive periode deactivated</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Remove_passive_period_dates</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_deactivate_info_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Passiv periode registrert til &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Passiv_periode_deaktivert}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Passive_period_extended</name>
        <label>Passive period extended</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>updateWorktrail</targetReference>
        </connector>
        <fields>
            <name>info_text_activated_passive_extend</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Passiv periode forlenget med oppfølging &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Ny_oppfolging_dato}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Passiv_periode_slutter_extend</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>info_text_activated_passive_extend_with_deactiveDate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Passiv periode forlenget til &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;{!Passiv_periode_slutter_extend}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt; med oppfølging &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;{!Ny_oppfolging_dato}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Passiv_periode_slutter_extend</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Passive_period_information</name>
        <label>Passive period information</label>
        <locationX>1304</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>updateWorktrail</targetReference>
        </connector>
        <fields>
            <name>info_text_activated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Passiv periode aktivert fra &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Passiv_periode_starter} &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;med oppfølging &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!followUpDate}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Passiv_periode_slutter</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>info_text_activated_deactivated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Passive periode registrert fra &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Passiv_periode_starter} &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;til&lt;/span&gt; &lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Passiv_periode_slutter}&lt;/strong&gt;.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Oppfølging -&lt;/span&gt; &lt;strong style=&quot;font-size: 18px;&quot;&gt;{!followUpDate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Passiv_periode_slutter</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>setParticipantAsPassive</name>
        <label>Set participant as passive</label>
        <locationX>1304</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Activate_passive_flag</targetReference>
        </connector>
        <fields>
            <name>setParticipantAsPassive_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>setParticipantAsPassive_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Passiv_periode_starter</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>setActiveDate</elementReference>
                    </defaultValue>
                    <fieldText>Passiv periode starter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Passiv_periode_slutter</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>setDeactiveDate</elementReference>
                    </defaultValue>
                    <fieldText>Passiv periode slutter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Sluttdato må være etter startdato.&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
ISBLANK({!Passiv_periode_slutter}),  
({!Passiv_periode_slutter} &gt; {!Passiv_periode_starter})
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>followUpDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>setFollowUpDate</elementReference>
                    </defaultValue>
                    <fieldText>Add date for follow up participant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Velg dagens dato eller en fremtidig dato.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!followUpDate} &gt;= Today()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>setParticipantAsPassive_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>setParticipantAsPassive_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>setParticipantAsPassive_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>varReasonForPassiveParticipant</name>
                    <dataType>String</dataType>
                    <fieldText>Reason for passive</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Reason for absence. Next step and follow up.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Aktiver</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorktrail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHistoricRowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Oppfølging av deltaker</stringValue>
        </value>
    </variables>
</Flow>
