force-app/main/default/flows/IPS_Create_task_according_to_passive_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Sets fields to blank when the passive period is deactivated</description>
        <name>Set_fields_associated_with_passive_period_to_blank</name>
        <label>Set fields associated with passive period to blank</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Passive_activate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Passive_deactivate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Passive_followup__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Passive_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_worktrail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks the status of the passive period</description>
        <name>Passive_period_status</name>
        <label>Passive period status</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_worktrail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.passive_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_history_passive_active_task</targetReference>
            </connector>
            <label>Activated</label>
        </rules>
        <rules>
            <name>Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.passive_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_history_passive_deactive_task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Deactivated</label>
        </rules>
        <rules>
            <name>Past_passive_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.passive_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Passive_activate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>setToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Passive_deactivate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>setToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_history_passive_active_task_to_past_passive_period</targetReference>
            </connector>
            <label>Past passive period</label>
        </rules>
    </decisions>
    <description>Creates tasks according to the status of the passive period</description>
    <environments>Default</environments>
    <formulas>
        <name>setToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IPS - Create task according to passive status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Create task according to passive status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creating a follow up task when passive period is activated.</description>
        <name>Create_follow_up_task</name>
        <label>Create follow up task</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_worktrail</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Passive_followup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Passive_reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_task_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Oppfølging av passiv deltaker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Task_IPSUO__c</field>
            <value>
                <stringValue>Oppgave</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Due_Date_Time__c</field>
            <value>
                <elementReference>$Record.Passive_followup__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get task record type</description>
        <name>Get_task_record_type</name>
        <label>Get task record type</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Passive_period_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update worktrail</description>
        <name>Update_worktrail</name>
        <label>Update worktrail</label>
        <locationX>446</locationX>
        <locationY>905</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_task_record_type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>passive_status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Passive_followup__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Passive_activate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Passive_deactivate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Work_Trail__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Create history passive active task to show passive period in supervisor report</description>
        <name>Create_history_passive_active_task</name>
        <label>Create history passive active task</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_follow_up_task</targetReference>
        </connector>
        <flowName>IPS_subflow_create_task_history</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <stringValue>Passiv tilstand aktivert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPassiveActiveDeactiveDate</name>
            <value>
                <elementReference>$Record.Passive_activate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <stringValue>Passiv tilstand aktivert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Create history passive active task to show passive period in supervisor report</description>
        <name>Create_history_passive_active_task_to_past_passive_period</name>
        <label>Create history passive active task to past passive period</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_history_passive_deactive_task_for_past_passive_period</targetReference>
        </connector>
        <flowName>IPS_subflow_create_task_history</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <stringValue>Passiv tilstand aktivert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPassiveActiveDeactiveDate</name>
            <value>
                <elementReference>$Record.Passive_activate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <stringValue>Passiv tilstand aktivert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Create history passive active task to show passive period in supervisor reports.</description>
        <name>Create_history_passive_deactive_task</name>
        <label>Create history passive deactive task</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Set_fields_associated_with_passive_period_to_blank</targetReference>
        </connector>
        <flowName>IPS_subflow_create_task_history</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <stringValue>Passiv tilstand deaktivert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPassiveActiveDeactiveDate</name>
            <value>
                <elementReference>$Record.Passive_deactivate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <stringValue>Passiv tilstand deaktivert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Create history passive deactive task to show passive period in supervisor reports.</description>
        <name>Create_history_passive_deactive_task_for_past_passive_period</name>
        <label>Create history passive deactive task for past passive period</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_fields_associated_with_passive_period_to_blank</targetReference>
        </connector>
        <flowName>IPS_subflow_create_task_history</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <stringValue>Passiv tilstand deaktivert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPassiveActiveDeactiveDate</name>
            <value>
                <elementReference>$Record.Passive_deactivate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <stringValue>Passiv tilstand deaktivert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
