force-app/main/default/flows/IPS_createTaskAfterSpecificEventCreated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>checkMeetingCriteria</name>
        <label>checkMeetingCriteria</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>nothing</defaultConnectorLabel>
        <rules>
            <name>isMeetingWithEmployerJobbstotte</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getEvents.ips_Subcategory_Type_IPS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvents.IPS_Subcategory_Type_UO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow-up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPS_createTaskBasedOnMeetingJobbstotte</targetReference>
            </connector>
            <label>isMeetingWithJobbstotte</label>
        </rules>
        <rules>
            <name>isMeetingWithEmployerJobbutvikling</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getEvents.ips_Subcategory_Type_IPS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvents.IPS_Subcategory_Type_UO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relationship building</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPS_createTaskBasedOnMeetingJobbutvikling</targetReference>
            </connector>
            <label>isMeetingWithJobbutvikling</label>
        </rules>
    </decisions>
    <description>When an meeting with employer is created - a task is created</description>
    <interviewLabel>IPS - create task after a specific event is created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - create task after a specific event is created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getEvents</name>
        <label>getEvents</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkMeetingCriteria</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>ips_Subcategory_Type_IPS__c</queriedFields>
        <queriedFields>IPS_Subcategory_Type_UO__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateMeetingWithId_0_0_0</name>
        <label>Update meeting with Id</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>IPS_taskId__c</field>
            <value>
                <elementReference>varOutputTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEvents</targetReference>
        </connector>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reisetid</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Employer</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>IPS_createTaskBasedOnMeetingJobbstotte</name>
        <label>Create task based on meeting - jobbstotte</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>updateMeetingWithId_0_0_0</targetReference>
        </connector>
        <flowName>IPS_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varActivityType</name>
            <value>
                <stringValue>Rekruttere og inkludere</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDueDate</name>
            <value>
                <elementReference>getEvents.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>getEvents.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedContact</name>
            <value>
                <elementReference>getEvents.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToAccount</name>
            <value>
                <elementReference>getEvents.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varService</name>
            <value>
                <stringValue>Jobbstøtte (Jobbspesialist)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <stringValue>IPS/UO Møte</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOutputTaskId</assignToReference>
            <name>varTaskId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>IPS_createTaskBasedOnMeetingJobbutvikling</name>
        <label>Create task based on meeting - jobbutvikling</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>updateMeetingWithId_0_0_0</targetReference>
        </connector>
        <flowName>IPS_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varActivityType</name>
            <value>
                <stringValue>Rekruttere og inkludere</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDueDate</name>
            <value>
                <elementReference>getEvents.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>getEvents.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedContact</name>
            <value>
                <elementReference>getEvents.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToAccount</name>
            <value>
                <elementReference>getEvents.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varService</name>
            <value>
                <stringValue>Jobbutvikling (Jobbspesialist)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <stringValue>IPS/UO Møte</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOutputTaskId</assignToReference>
            <name>varTaskId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varDueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEventSubCategoryTypeIPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventSubCategoryTypeUO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutputTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRelatedToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedToContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
