force-app/main/default/flows/IPS_update_job_status_to_completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignJobCompleted</name>
        <label>assignJobCompleted</label>
        <locationX>50</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>varJobStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkIfStatusIsNotEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignJobOngoing</name>
        <label>assignJobOngoing</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>varJobStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isNothingcheckIsCompleted</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIfStatusIsNotEmpty</name>
        <label>checkIfStatusIsNotEmpty</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <defaultConnectorLabel>isNothing</defaultConnectorLabel>
        <rules>
            <name>isNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varJobStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateJobStatus</targetReference>
            </connector>
            <label>isNotEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Test if there is any planned jobs - that should be set to ongoing</description>
        <name>checkIsOngoing</name>
        <label>checkIsOngoing</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>isNothingcheckIsCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNothing</defaultConnectorLabel>
        <rules>
            <name>isJobOngoing</name>
            <conditionLogic>1 AND 2 AND ( (3 AND 4) OR (5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignJobOngoing</targetReference>
            </connector>
            <label>isJobOngoing</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNothingcheckIsCompleted</name>
        <label>checkIsCompleted</label>
        <locationX>182</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>checkIfStatusIsNotEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNothing</defaultConnectorLabel>
        <rules>
            <name>isJobCompleted</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ongoing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignJobCompleted</targetReference>
            </connector>
            <label>isJobCompleted</label>
        </rules>
    </decisions>
    <description>Scheduled flow, to update job status to completed after enddate is passed or ongoing based on startdate</description>
    <environments>Default</environments>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IPS - update job status to completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - job scheduled update status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateJobStatus</name>
        <label>updateJobStatus</label>
        <locationX>50</locationX>
        <locationY>960</locationY>
        <inputAssignments>
            <field>ips_Status__c</field>
            <value>
                <elementReference>varJobStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkIsOngoing</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ips_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <filters>
            <field>ips_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <object>ips_Job__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-27</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varJobStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
