force-app/main/default/flows/IPS_Recruitment_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_RP_Fields</name>
        <label>Update RP Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Last_Recruitment_Program.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sluttdato</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Recruitment_Program.End_Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>detailedEndCausePickList.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Recruitment_Program.Detailed_end_cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>detailedEndCausePickList.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Last_Recruitment_Program</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Ikke i arbeid</description>
        <name>ikkeIArbeid</name>
        <choiceText>Ikke i arbeid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ikke i arbeid</stringValue>
        </value>
    </choices>
    <choices>
        <description>I Lønnet arbeid</description>
        <name>ilonnetArbeid</name>
        <choiceText>I Lønnet arbeid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I lønnet arbeid</stringValue>
        </value>
    </choices>
    <choices>
        <name>lonnetArbiedMedFagbrev</name>
        <choiceText>Lønnet arbeid med pågående fagbrev</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lønnet arbeid med pågående fagbrev</stringValue>
        </value>
    </choices>
    <choices>
        <name>lonnetArbiedMedLarelop</name>
        <choiceText>Lønnet arbeid med fullført læreløp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lønnet arbeid med fullført læreløp</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Opt_In_RP</name>
        <label>Opt In RP ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opt_In_RP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OptInRP.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RP_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opt_Out_RP</name>
        <label>Opt Out RP ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opt_Out_RP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OptOutRP.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Last_Recruitment_Program</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Ended</name>
        <label>Program Ended ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Program_Ended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sluttdato</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Worktrail_Opt_Out</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the program has already started ?</description>
        <name>Program_Started</name>
        <label>Program Started ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Program_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recruitmentProgram.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Worktrail_Opt_In</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recruitment_Record_Found</name>
        <label>Is RP Record Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Program_Ended</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RP_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Recruitment_Program</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RP_Details_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Worktrail_in_Recruitment_Program</name>
        <label>Worktrail in Recruitment Program ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>RP_Enroll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Worktrail.IPS_Is_healthcare_related__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RP_Opt_Out</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>endDateToday</name>
        <dataType>Date</dataType>
        <expression>
DATEVALUE(NOW())</expression>
    </formulas>
    <formulas>
        <name>isEndDateValid</name>
        <dataType>Boolean</dataType>
        <expression>{!recruitmentProgram.End_Date__c} &lt; {!recruitmentProgram.Start_Date__c}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IPS - Recruitment Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Recruitment Program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Recruitment_Program</name>
        <label>Create Recruitment Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Program_Started</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Application_Log_Create_RP</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>recruitmentProgram.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Of_Employment__c</field>
            <value>
                <elementReference>recruitmentProgram.Place_Of_Employment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>recruitmentProgram.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Trail__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Recruitment_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_Recruitment_Program</name>
        <label>Get Last Recruitment Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recruitment_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recruitment_Program__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Worktrail</name>
        <label>Get Worktrail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Worktrail_in_Recruitment_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_Recruitment_Program</name>
        <label>Update Last Recruitment Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Program_Ended</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Application_Log_RP</targetReference>
        </faultConnector>
        <inputReference>Get_Last_Recruitment_Program</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Worktrail_Opt_In</name>
        <label>Update Worktrail - Opt In</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_Is_healthcare_related__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Worktrail_Opt_Out</name>
        <label>Update Worktrail - Opt Out</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_Is_healthcare_related__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <screens>
        <name>RP_Details</name>
        <label>RP - Details Opt In</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Recruitment_Program</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recruitmentProgram.Place_Of_Employment__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recruitmentProgram.Start_Date__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RP_Details_Screen</name>
        <label>RP Details Opt Out</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_RP_Fields</targetReference>
        </connector>
        <fields>
            <name>Sluttdato</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>endDateToday</elementReference>
            </defaultValue>
            <fieldText>Sluttdato</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 27, 27); font-size: 14px;&quot;&gt;﻿Sluttdato må være etter startdato!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(24, 23, 23); font-size: 14px;&quot;&gt;Startdato er &lt;/span&gt;&lt;strong style=&quot;color: rgb(24, 23, 23); font-size: 14px;&quot;&gt;{!Get_Last_Recruitment_Program.Start_Date__c}&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(
    ISBLANK({!Sluttdato}),
    {!Sluttdato} &gt;= {!Get_Last_Recruitment_Program.Start_Date__c}
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>detailedEndCausePickList</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Recruitment_Program__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>End_Cause__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Detailed_end_cause__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RP_Enroll</name>
        <label>RP - Opt In</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opt_In_RP</targetReference>
        </connector>
        <fields>
            <name>introInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt;Bekreft at du ønsker å melde denne deltakeren inn i rekrutteringsprogrammet for helse&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OptInRP</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Meld deltakeren inn i rekrutteringsprogrammet for helse</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Aktiv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Inaktiv</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RP_Opt_Out</name>
        <label>RP - Opt Out</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opt_Out_RP</targetReference>
        </connector>
        <fields>
            <name>OptOutRP</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Meld deltakeren ut av rekrutteringsprogrammet for helse</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Aktiv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Inaktiv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Bekreft</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Worktrail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Application_Log_Create_RP</name>
        <label>Application Log - Create RP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>IPS_Subflow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>applicationDomain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <stringValue>Could not create RP Program</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Worktrail.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceFunction</name>
            <value>
                <stringValue>IPS - Recruitment Program (Create Recruitment Program)</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Application_Log_RP</name>
        <label>Application Log - RP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>IPS_Subflow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>applicationDomain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Last_Recruitment_Program.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceFunction</name>
            <value>
                <stringValue>IPS - Recruitment Program</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recruitmentProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recruitment_Program__c</objectType>
    </variables>
</Flow>
