force-app/main/default/flows/IPS_subflow_create_jobbspor_platform_event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IPS_logErrorOnFlow</name>
        <label>Create error log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>FlowInterview</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>IPS - subflow create jobbspor platform event</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>IPS_maskOwnerId</name>
        <label>Mask owner id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_StringHasherController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Status_is_empty</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>input_OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_StringHasherController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_OwnerId</assignToReference>
            <name>hashString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IPS_maskTrailId</name>
        <label>Mask trail id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_StringHasherController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IPS_maskOwnerId</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>input_JobbsporId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_StringHasherController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_JobbsporId</assignToReference>
            <name>hashString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IPS_translateEndCause</name>
        <label>Translate end cause</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_UtilityFlowTranslateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_end_cause_detail_is_empty</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldCategory</name>
            <value>
                <elementReference>input_JobbsporEndCause</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>input_JobbsporEndCause</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_UtilityFlowTranslateController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_JobbsporetEndCause</assignToReference>
            <name>outputString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IPS_translateEndDetails</name>
        <label>Translate end details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_UtilityFlowTranslateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_data</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldCategory</name>
            <value>
                <stringValue>ENDDETAILSCAUSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>input_JobbsporEndDetailReason</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_UtilityFlowTranslateController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_JobbsporetEndDetailReson</assignToReference>
            <name>outputString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IPS_translateMainGoals</name>
        <label>Translate maingoals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_UtilityFlowTranslateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_end_cause_is_empty</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldCategory</name>
            <value>
                <stringValue>MAINGOAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>Input_JobbsporMainGoals</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_UtilityFlowTranslateController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_MainGoals</assignToReference>
            <name>outputString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IPS_translateStatus</name>
        <label>Translate status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_UtilityFlowTranslateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_maingoals_is_empty</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldCategory</name>
            <value>
                <stringValue>STATUS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>input_JobbsporStatus</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_UtilityFlowTranslateController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_JobbsporStatus</assignToReference>
            <name>outputString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_data</name>
        <label>Assign data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporId__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporService__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporStatus__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.ParticipantSCN__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>input_JobbsporSCN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.UserId__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporApplyingDepartment__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>input_JobbsporApplyingDepartment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporCreated__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporCreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.ParticipantReferredDate__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporReferredDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.ParticipantsMainGoal__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_MainGoals</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.ParticipantStartDate__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporEndDate__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporEndReason__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporetEndCause</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporEndReasonDetail__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporetEndDetailReson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.ParticipantPassiveDate__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporPassiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.ParticipantPassive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_JobbsporPassive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporNumberOfDaysEmployeer__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>input_JobbsporNumberOfDaysEmployeer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_jobbspor_platform_event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_end_cause_detail_is_empty</name>
        <label>Check if end cause detail is empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IPS_translateEndDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notEmpty</defaultConnectorLabel>
        <rules>
            <name>isEmptyEndDetails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_JobbsporEndDetailReason</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_data</targetReference>
            </connector>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_end_cause_is_empty</name>
        <label>Check if end cause is empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IPS_translateEndCause</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notEmpty</defaultConnectorLabel>
        <rules>
            <name>isEmptyEndCause</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_JobbsporEndCause</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_end_cause_detail_is_empty</targetReference>
            </connector>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_maingoals_is_empty</name>
        <label>Check if maingoals is empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IPS_translateMainGoals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notEmpty</defaultConnectorLabel>
        <rules>
            <name>isEmptyMainGoals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_JobbsporMainGoals</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_end_cause_is_empty</targetReference>
            </connector>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_is_empty</name>
        <label>Check if Status is empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IPS_translateStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notEmpty</defaultConnectorLabel>
        <rules>
            <name>isEmptyStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_JobbsporStatus</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_maingoals_is_empty</targetReference>
            </connector>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <description>Create an new record in IPSJobbsporEvent__e object</description>
    <environments>Default</environments>
    <formulas>
        <description>Omgjør dato til text på dette formatet 2025-10-31</description>
        <name>var_JobbsporCreatedDate</name>
        <dataType>String</dataType>
        <expression>if(!ISBLANK({!input_JobbsporCreatedDate}),
  TEXT(YEAR(DATEVALUE({!input_JobbsporCreatedDate})))
  &amp;&apos;-&apos;&amp;
  TEXT(MONTH(DATEVALUE({!input_JobbsporCreatedDate})))
  &amp;&apos;-&apos;&amp;
  TEXT(DAY(DATEVALUE({!input_JobbsporCreatedDate}))),
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>var_JobbsporEndDate</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!input_JobbsporEndDate}),
TEXT(YEAR({!input_JobbsporEndDate}))
&amp;&apos;-&apos;&amp;
TEXT(MONTH({!input_JobbsporEndDate}))
&amp;&apos;-&apos;&amp;
TEXT(DAY({!input_JobbsporEndDate})),
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>var_JobbsporPassiveDate</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!input_JobbsporPassiveDate}),
TEXT(YEAR({!input_JobbsporPassiveDate}))
&amp;&apos;-&apos;&amp;
TEXT(MONTH({!input_JobbsporPassiveDate}))
&amp;&apos;-&apos;&amp;
TEXT(DAY({!input_JobbsporPassiveDate})),
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Omgjør henvist dato til format 2025-10-31</description>
        <name>var_JobbsporReferredDate</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!input_JobbsporReferredDate}),
TEXT(YEAR({!input_JobbsporReferredDate}))
&amp;&apos;-&apos;&amp;
TEXT(MONTH({!input_JobbsporReferredDate}))
&amp;&apos;-&apos;&amp;
TEXT(DAY({!input_JobbsporReferredDate})),
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Gjør om posttype til 3 bokstavs kode for AMS, IPS, VTO</description>
        <name>var_JobbsporService</name>
        <dataType>String</dataType>
        <expression>CASE({!input_JobbsporService},
&apos;IPS&apos;, &apos;IPS&apos;,
&apos;ips_Supported_Employment&apos;,&apos;AMS&apos;,
&apos;CE_Customized_Employment&apos;,&apos;VTO&apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>var_JobbsporStartDate</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Input_JobbsporStartDate}),
TEXT(YEAR({!Input_JobbsporStartDate}))
&amp;&apos;-&apos;&amp;
TEXT(MONTH({!Input_JobbsporStartDate}))
&amp;&apos;-&apos;&amp;
TEXT(DAY({!Input_JobbsporStartDate})),
&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>IPS - subflow create jobbspor platform event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - platform event subflow create jobbspor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_jobbspor_platform_event</name>
        <label>Create jobbspor platform event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>IPS_logErrorOnFlow</targetReference>
        </faultConnector>
        <inputReference>JobbsporList</inputReference>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IPS_maskTrailId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Behandlingsteam/Innsøkende avdeling</description>
        <name>input_JobbsporApplyingDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_JobbsporCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_JobbsporEndCause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_JobbsporEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_JobbsporEndDetailReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unike id for jobbsporet (SF id)</description>
        <name>input_JobbsporId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_JobbsporMainGoals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_JobbsporNumberOfDaysEmployeer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>input_JobbsporPassive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>input_JobbsporPassiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Henvist dato</description>
        <name>input_JobbsporReferredDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Deltakers fødselsnummer 11 siffer</description>
        <name>input_JobbsporSCN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Posttypen for tjenesten. IPS, ips_Supported_Employment, CE_Customized_Employment</description>
        <name>input_JobbsporService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_JobbsporStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status på jobbsporet</description>
        <name>input_JobbsporStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Eier id av jobbsporet (Jobbspesialist/Metodeveileder)</description>
        <name>input_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobbsporId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobbsporList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPSJobbsporEvent__e</objectType>
    </variables>
    <variables>
        <name>var_JobbsporetEndCause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_JobbsporetEndDetailReson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_JobbsporId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_JobbsporStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MainGoals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
