force-app/main/default/flows/IPS_update_job_status_to_completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Scheduled flow, to update job status to completed after enddate is passed</description>
    <environments>Default</environments>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IPS - update job status to completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - job update status to completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateStatusToClosed</name>
        <label>updateStatusToClosed</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ips_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>ips_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ips_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateStatusToOngoing</name>
        <label>updateStatusToOngoing</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>updateStatusToClosed</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND( 4 OR 5)</filterLogic>
        <filters>
            <field>IPS_Work_Trail_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <filters>
            <field>ips_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>ips_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>ips_End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>ips_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ips_Status__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>updateStatusToOngoing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ips_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <object>ips_Job__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-07-17</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
