force-app/main/default/flows/IPS_EndReport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>addCurrentAccountId</name>
        <label>addCurrentAccountId</label>
        <locationX>2290</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsIPS.RelatedToAccount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateEmplMeetingsIPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCurrentAccountId_0</name>
        <label>addCurrentAccountId</label>
        <locationX>334</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsUO.RelatedToAccount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateEmplMeetingsUO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addJobs_0</name>
        <label>addJobs</label>
        <locationX>138</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Stilling som: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varJobType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.ips_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.ips_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Status: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varJobStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Antall timer i uka: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.ips_Number_of_hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateJobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addJobsIPS</name>
        <label>addJobsIPS</label>
        <locationX>2094</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Stilling som: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobsIPS.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varJobTypeIPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varStartDateIPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEndDateIPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateJobsIPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantMeetingListUOIntervall</name>
        <label>addParticipantMeetingListUOIntervall</label>
        <locationX>1410</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOShow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varParticipantIntervallUO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateParticipantMeetingShow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantMeetingListUOIntervallForward</name>
        <label>addParticipantMeetingListUOIntervallForward</label>
        <locationX>1938</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varParticipantIntervallUO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateParticipantMeetingShow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantMeetingListUOIntervallNoShow</name>
        <label>addParticipantMeetingListUOIntervallNoShow</label>
        <locationX>1674</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUONoShow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varParticipantIntervallUO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUONoShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateParticipantMeetingShow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantNoShow</name>
        <label>addParticipantNoShow</label>
        <locationX>158</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>varParticipantNoShow</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getParticipantNoShow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getJobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantNoShowIPS</name>
        <label>addParticipantNoShowIPS</label>
        <locationX>2114</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>varParticipantNoShow</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getParticipantNoShow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getJobsIPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantShowMeeting</name>
        <label>addParticipantShowMeeting</label>
        <locationX>158</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>varParticipantShowCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getParticipantMeetings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getParticipantNoShow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantShowMeeting_0</name>
        <label>addParticipantShowMeeting</label>
        <locationX>2114</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>varParticipantShowCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getParticipantMeetingsIPS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getParticipantNoShowIPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTask</name>
        <label>addTask</label>
        <locationX>138</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTaskForwardRange</name>
        <label>addTaskForwardRange</label>
        <locationX>1610</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRowIntervall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateTasksUOIntervall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTaskIPS</name>
        <label>addTaskIPS</label>
        <locationX>2094</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRowIPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateTasksIPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTaskWithinRange</name>
        <label>addTaskWithinRange</label>
        <locationX>1346</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRowIntervall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateTasksUOIntervall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>isDuplicat</name>
        <label>isDuplicat</label>
        <locationX>2290</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsIPS.RelatedToAccount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForDuplicat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>isDuplicatUO</name>
        <label>isDuplicatUO</label>
        <locationX>334</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsUO.RelatedToAccount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForDuplicatUO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmplName_0</name>
        <label>setEmplName</label>
        <locationX>422</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>employeeMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsUO.RelatedToAccount__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>employeeMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCurrentAccountId_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmplName_0_0</name>
        <label>setEmplName</label>
        <locationX>2378</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>employeeMeetingsIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsIPS.RelatedToAccount__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>employeeMeetingsIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCurrentAccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmplNameForward</name>
        <label>setEmplNameForward</label>
        <locationX>1674</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEmployeeMeetingForwardList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateEmplMeetingsUOIntervall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmplNameIntervall</name>
        <label>setEmplNameIntervall</label>
        <locationX>1410</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingIntervall</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEmployeeMeetingRange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingIntervall</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateEmplMeetingsUOIntervall</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sortTaskUOIntervall</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sortTaskUOIntervall</label>
        <locationX>1322</locationX>
        <locationY>2702</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>getTasksUOIntervall</collectionReference>
        <connector>
            <targetReference>checkTask_0_0</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Status</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CompletedDateTime</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <decisions>
        <name>chechParticipantShow</name>
        <label>chechParticipantShow</label>
        <locationX>1806</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>iterateParticipantMeetingShow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isShowCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.IPS_No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.ActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fromDate_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.ActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>toDate_0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addParticipantMeetingListUOIntervall</targetReference>
            </connector>
            <label>isShowCompleted</label>
        </rules>
        <rules>
            <name>isNoShowCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.IPS_No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.ActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fromDate_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.ActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>toDate_0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addParticipantMeetingListUOIntervallNoShow</targetReference>
            </connector>
            <label>isNoShowCompleted</label>
        </rules>
        <rules>
            <name>isShowForward</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fromDate_0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addParticipantMeetingListUOIntervallForward</targetReference>
            </connector>
            <label>isShowForward</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEmployeeMeeting</name>
        <label>checkEmployeeMeeting</label>
        <locationX>1674</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>iterateEmplMeetingsUOIntervall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isWithinRangeEmployee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUOIntervall.ActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fromDate_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUOIntervall.ActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>toDate_0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setEmplNameIntervall</targetReference>
            </connector>
            <label>isWithinRangeEmployee</label>
        </rules>
        <rules>
            <name>isForward</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUOIntervall.ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>toDate_0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setEmplNameForward</targetReference>
            </connector>
            <label>isForward</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForDuplicat</name>
        <label>checkForDuplicat</label>
        <locationX>2290</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>setEmplName_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDuplicatAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateEmplMeetingsIPS.RelatedToAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varAccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCurrentAccountId</targetReference>
            </connector>
            <label>isDuplicatAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForDuplicatUO</name>
        <label>checkForDuplicatUO</label>
        <locationX>334</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>setEmplName_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDuplicatAccountUO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUO.RelatedToAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varAccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCurrentAccountId_0</targetReference>
            </connector>
            <label>isDuplicatAccountUO</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIntervall</name>
        <label>checkIntervall</label>
        <locationX>1610</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>iterateTasksUOIntervall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isWithinRange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateTasksUOIntervall.CompletedDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fromDate_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateTasksUOIntervall.CompletedDateTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>toDate_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateTasksUOIntervall.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTaskWithinRange</targetReference>
            </connector>
            <label>isWithinRange</label>
        </rules>
        <rules>
            <name>isForwardRange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateTasksUOIntervall.ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>toDate_0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTaskForwardRange</targetReference>
            </connector>
            <label>isForwardRange</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkJob_0</name>
        <label>checkJob</label>
        <locationX>158</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>updateWorktrailUOEnd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsJobNotNull_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getJobs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateJobs</targetReference>
            </connector>
            <label>IsJobNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkJob_0_0</name>
        <label>checkJob</label>
        <locationX>2114</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>updateWorktrailIPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsJobNotNullIPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getJobsIPS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateJobsIPS</targetReference>
            </connector>
            <label>IsJobNotNullIPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecordType</name>
        <label>checkRecordType</label>
        <locationX>1899</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>noWorkTrail_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isUO_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ips_Supported_Employment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorktrailUO</targetReference>
            </connector>
            <label>isUO</label>
        </rules>
        <rules>
            <name>isIPS_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorktrailIPS</targetReference>
            </connector>
            <label>isIPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkReportType</name>
        <label>checkReportType</label>
        <locationX>872</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isEndReportUO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReportEnd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workTrailEndReportUO</targetReference>
            </connector>
            <label>isEndReportUO</label>
        </rules>
        <rules>
            <name>isIntervallReportUO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReportIntervall</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workTrailIntervall_0</targetReference>
            </connector>
            <label>isIntervallReportUO</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkReportTypeIPS</name>
        <label>checkReportTypeIPS</label>
        <locationX>2388</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isEndReportIPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReportEnd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workTrailEndReportIPS</targetReference>
            </connector>
            <label>isEndReportIPS</label>
        </rules>
        <rules>
            <name>isIntervallReportIPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReportIntervall</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>isIntervallReportIPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTask_0</name>
        <label>checkTask</label>
        <locationX>158</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>getParticipantMeetings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>IsNotTaskNull_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTasksUO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateTasks</targetReference>
            </connector>
            <label>IsNotTaskNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTask_0_0</name>
        <label>checkTask</label>
        <locationX>1322</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>updateWorktrailUOIntervall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>IsNotTaskNull_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTasksUOIntervall</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateTasksUOIntervall</targetReference>
            </connector>
            <label>IsNotTaskNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTaskIPS</name>
        <label>checkTaskIPS</label>
        <locationX>2114</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>getParticipantMeetingsIPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>IsNotTaskNullIPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTasksIPS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateTasksIPS</targetReference>
            </connector>
            <label>IsNotTaskNullIPS</label>
        </rules>
    </decisions>
    <description>End report for IPS/UO</description>
    <formulas>
        <name>employeeRow</name>
        <dataType>String</dataType>
        <expression>{!iterateEmplMeetingsUO.RelatedToAccount__r.Name}</expression>
    </formulas>
    <formulas>
        <name>jobRow</name>
        <dataType>String</dataType>
        <expression>{!iterateJobs.ips_Employer__r.Name}&amp;&apos;, &apos;&amp;{!iterateJobs.Name}&amp;&apos;, &apos;&amp;TEXT({!iterateJobs.ips_Form_of_Employment__c})</expression>
    </formulas>
    <formulas>
        <name>taskRow</name>
        <dataType>String</dataType>
        <expression>{!iterateTasks.Subject}
&amp;&apos;, &apos;&amp;
CASE(TEXT({!iterateTasks.Status}),
&apos;Open&apos;,&apos;Åpen&apos;,
&apos;Completed&apos;,&apos;Gjennomført&apos;,
&apos; &apos;)
&amp;&apos;, &apos;&amp;
TEXT(DAY(DATEVALUE({!iterateTasks.CompletedDateTime})))&amp;&quot;.&quot;&amp;TEXT(MONTH(DATEVALUE({!iterateTasks.CompletedDateTime})))&amp;&quot;.&quot;&amp;TEXT(YEAR(DATEVALUE({!iterateTasks.CompletedDateTime})))</expression>
    </formulas>
    <formulas>
        <name>taskRowIntervall</name>
        <dataType>String</dataType>
        <expression>{!iterateTasksUOIntervall.Subject}
&amp;&apos;, &apos;&amp;
TEXT(DAY(DATEVALUE({!iterateTasksUOIntervall.CompletedDateTime})))&amp;&quot;.&quot;&amp;TEXT(MONTH(DATEVALUE({!iterateTasksUOIntervall.CompletedDateTime})))&amp;&quot;.&quot;&amp;TEXT(YEAR(DATEVALUE({!iterateTasksUOIntervall.CompletedDateTime})))</expression>
    </formulas>
    <formulas>
        <name>taskRowIPS</name>
        <dataType>String</dataType>
        <expression>{!iterateTasksIPS.Subject}
&amp;&apos;, &apos;&amp;
CASE(TEXT({!iterateTasksIPS.Status}),
&apos;Open&apos;,&apos;Åpen&apos;,
&apos;Completed&apos;,&apos;Gjennomført&apos;,
&apos; &apos;)
&amp;&apos;  -  &apos;&amp;
TEXT(DAY(DATEVALUE({!iterateTasksIPS.CompletedDateTime})))&amp;&quot;.&quot;&amp;TEXT(MONTH(DATEVALUE({!iterateTasksIPS.CompletedDateTime})))&amp;&quot;.&quot;&amp;TEXT(YEAR(DATEVALUE({!iterateTasksIPS.CompletedDateTime})))</expression>
    </formulas>
    <formulas>
        <name>varEmployeeMeetingForwardList</name>
        <dataType>String</dataType>
        <expression>{!iterateEmplMeetingsUOIntervall.Subject}
&amp;&apos;, &apos;&amp;
TEXT(DAY({!iterateEmplMeetingsUOIntervall.ActivityDate}))&amp;&quot;.&quot;&amp;TEXT(MONTH({!iterateEmplMeetingsUOIntervall.ActivityDate}))&amp;&quot;.&quot;&amp;TEXT(YEAR({!iterateEmplMeetingsUOIntervall.ActivityDate}))
&amp;&apos;, &apos;&amp;
{!iterateEmplMeetingsUOIntervall.RelatedToAccount__r.Name}
&amp;&apos;, &apos;&amp;
TEXT({!iterateEmplMeetingsUOIntervall.IPS_Subcategory_Type_UO__c})</expression>
    </formulas>
    <formulas>
        <name>varEmployeeMeetingRange</name>
        <dataType>String</dataType>
        <expression>{!iterateEmplMeetingsUOIntervall.Subject}
&amp;&apos;, &apos;&amp;
TEXT(DAY({!iterateEmplMeetingsUOIntervall.ActivityDate}))&amp;&quot;.&quot;&amp;TEXT(MONTH({!iterateEmplMeetingsUOIntervall.ActivityDate}))&amp;&quot;.&quot;&amp;TEXT(YEAR({!iterateEmplMeetingsUOIntervall.ActivityDate}))
&amp;&apos;, &apos;&amp;
{!iterateEmplMeetingsUOIntervall.RelatedToAccount__r.Name}
&amp;&apos;, &apos;&amp;
TEXT({!iterateEmplMeetingsUOIntervall.IPS_Subcategory_Type_UO__c})</expression>
    </formulas>
    <formulas>
        <name>varEndDateIPS</name>
        <dataType>Date</dataType>
        <expression>{!getWorktrailIPS.ips_End_Date__c}</expression>
    </formulas>
    <formulas>
        <name>varEndDateUO</name>
        <dataType>Date</dataType>
        <expression>{!getWorktrailUO.ips_End_Date__c}</expression>
    </formulas>
    <formulas>
        <name>varJobStatus</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!iterateJobs.ips_Status__c}),
&apos;Ongoing&apos;,&apos;Pågående&apos;,
&apos;Planned&apos;,&apos;Planlagt&apos;,
&apos;Completed&apos;,&apos;Avsluttet&apos;,
&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varJobStatusIPS</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!iterateJobsIPS.ips_Status__c}),
&apos;Ongoing&apos;,&apos;Pågående&apos;,
&apos;Planned&apos;,&apos;Planlagt&apos;,
&apos;Completed&apos;,&apos;Avsluttet&apos;,
&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varJobType</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!iterateJobs.ips_Form_of_Employment__c}),
&apos;Freelance / self-employed&apos;,&apos;Freelance/selvstendig næringsdrivende&apos;,
&apos;Job taster&apos;,&apos;Jobbsmak&apos;,
&apos;Permanent employment&apos;,&apos;Fast ansettelse&apos;,
&apos;Temporary employment&apos;,&apos;Tidsbegrenset ansettelse&apos;,
&apos;Work training&apos;,&apos;Arbeidstrening&apos;,
&apos;Zero hours contrac&apos;,&apos;Tilkalling ekstrajobb&apos;,
&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varJobTypeIPS</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!iterateJobsIPS.ips_Form_of_Employment__c}),
&apos;Freelance / self-employed&apos;,&apos;Freelance/selvstendig næringsdrivende&apos;,
&apos;Job taster&apos;,&apos;Jobbsmak&apos;,
&apos;Permanent employment&apos;,&apos;Fast ansettelse&apos;,
&apos;Temporary employment&apos;,&apos;Tidsbegrenset ansettelse&apos;,
&apos;Work training&apos;,&apos;Arbeidstrening&apos;,
&apos;Zero hours contrac&apos;,&apos;Tilkalling ekstrajobb&apos;,
&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varParticipantIntervallUO</name>
        <dataType>String</dataType>
        <expression>{!iterateParticipantMeetingShow.Subject}&amp;&apos; - &apos;&amp;TEXT({!iterateParticipantMeetingShow.ActivityDate})</expression>
    </formulas>
    <formulas>
        <name>varStartDateIPS</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!getWorktrailIPS.Oppstartsdato__c})</expression>
    </formulas>
    <formulas>
        <name>varStartDateUO</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!getWorktrailUO.Oppstartsdato__c})</expression>
    </formulas>
    <formulas>
        <name>varTaskRowHeading</name>
        <dataType>String</dataType>
        <expression>RPAD(&quot;Dato &quot;,10,&apos; &apos;)&amp;RPAD(&quot;Beskrivelse &quot;,100,&apos; &apos;)&amp;RPAD(&quot;Status &quot;,20,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>viewRecordTypeName</name>
        <dataType>String</dataType>
        <expression>CASE({!recordTypeName},
&apos;ips_Supported_Employment&apos;,&apos;Utvidet oppfølging&apos;,
&apos;IPS&apos;
)</expression>
    </formulas>
    <interviewLabel>IPS - end report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - end report</label>
    <loops>
        <name>iterateEmplMeetingsIPS</name>
        <label>iterateEmplMeetingsIPS</label>
        <locationX>2114</locationX>
        <locationY>1358</locationY>
        <collectionReference>getEmplMeetingsIPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isDuplicat</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getTasksIPS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateEmplMeetingsUO</name>
        <label>iterateEmplMeetingsUO</label>
        <locationX>158</locationX>
        <locationY>1358</locationY>
        <collectionReference>getEmplMeetings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isDuplicatUO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getTasksUO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateEmplMeetingsUOIntervall</name>
        <label>iterateEmplMeetingsUOIntervall</label>
        <locationX>1322</locationX>
        <locationY>1358</locationY>
        <collectionReference>getEmplMeetingsIntervall</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkEmployeeMeeting</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getParticipantMeetingsIntervall</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateJobs</name>
        <label>iterateJobs</label>
        <locationX>50</locationX>
        <locationY>3542</locationY>
        <collectionReference>getJobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addJobs_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateWorktrailUOEnd</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateJobsIPS</name>
        <label>iterateJobsIPS</label>
        <locationX>2006</locationX>
        <locationY>3542</locationY>
        <collectionReference>getJobsIPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addJobsIPS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateWorktrailIPS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateParticipantMeetingShow</name>
        <label>iterateParticipantMeetingShow</label>
        <locationX>1322</locationX>
        <locationY>2030</locationY>
        <collectionReference>getParticipantMeetingsIntervall</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>chechParticipantShow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getTasksUOIntervall</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateTasks</name>
        <label>iterateTasks</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <collectionReference>getTasksUO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addTask</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getParticipantMeetings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateTasksIPS</name>
        <label>iterateTasksIPS</label>
        <locationX>2006</locationX>
        <locationY>2390</locationY>
        <collectionReference>getTasksIPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addTaskIPS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getParticipantMeetingsIPS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateTasksUOIntervall</name>
        <label>iterateTasksUOIntervall</label>
        <locationX>1258</locationX>
        <locationY>2942</locationY>
        <collectionReference>getTasksUOIntervall</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkIntervall</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateWorktrailUOIntervall</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getEmplMeetings</name>
        <label>getEmplMeetings</label>
        <locationX>158</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateEmplMeetingsUO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Subcategory_Type_UO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship building</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmplMeetingsIntervall</name>
        <label>getEmplMeetingsIntervall</label>
        <locationX>1322</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateEmplMeetingsUOIntervall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Subcategory_Type_UO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship building</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmplMeetingsIPS</name>
        <label>getEmplMeetingsIPS</label>
        <locationX>2114</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateEmplMeetingsIPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>ips_Subcategory_Type_IPS__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Job development</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <sortField>RelatedToAccount__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobs</name>
        <label>getJobs</label>
        <locationX>158</locationX>
        <locationY>3302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkJob_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Work_Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ips_Job__c</object>
        <sortField>ips_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobsIPS</name>
        <label>getJobsIPS</label>
        <locationX>2114</locationX>
        <locationY>3302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkJob_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Work_Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailIPS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ips_Job__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ips_Status__c</queriedFields>
        <queriedFields>ips_Form_of_Employment__c</queriedFields>
        <queriedFields>ips_Start_Date__c</queriedFields>
        <queriedFields>ips_End_Date__c</queriedFields>
        <sortField>ips_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOwnerIPS</name>
        <label>getOwnerIPS</label>
        <locationX>2388</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getParticipantDetailsIPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailIPS.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOwnerUO</name>
        <label>getOwnerUO</label>
        <locationX>872</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getParticipantDetailsUO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailUO.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantDetailsIPS</name>
        <label>getParticipantDetailsIPS</label>
        <locationX>2388</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkReportTypeIPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailIPS.ips_Participant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantDetailsUO</name>
        <label>getParticipantDetailsUO</label>
        <locationX>872</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkReportType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailUO.ips_Participant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantMeetings</name>
        <label>getParticipantMeetings</label>
        <locationX>158</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addParticipantShowMeeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Participant</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_No_Show__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantMeetingsIntervall</name>
        <label>getParticipantMeetingsIntervall</label>
        <locationX>1322</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateParticipantMeetingShow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Participant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantMeetingsIPS</name>
        <label>getParticipantMeetingsIPS</label>
        <locationX>2114</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addParticipantShowMeeting_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Participant</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_No_Show__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantNoShow</name>
        <label>getParticipantNoShow</label>
        <locationX>158</locationX>
        <locationY>3062</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addParticipantNoShow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_No_Show__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Participant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantNoShowIPS</name>
        <label>getParticipantNoShowIPS</label>
        <locationX>2114</locationX>
        <locationY>3062</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addParticipantNoShowIPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_No_Show__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Participant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordtypeName</name>
        <label>getRecordtypeName</label>
        <locationX>1899</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>selectReportType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getTasksIPS</name>
        <label>getTasksIPS</label>
        <locationX>2114</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTaskIPS</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål (av hovedmål)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CompletedDateTime</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTasksUO</name>
        <label>getTasksUO</label>
        <locationX>158</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTask_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål (av hovedmål)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CompletedDateTime</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTasksUOIntervall</name>
        <label>getTasksUOIntervall</label>
        <locationX>1322</locationX>
        <locationY>2582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sortTaskUOIntervall</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål (av hovedmål)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CompletedDateTime</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorktrailIPS</name>
        <label>getWorktrailIPS</label>
        <locationX>2388</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOwnerIPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorktrailRecordTypeId</name>
        <label>getWorktrailRecordTypeId</label>
        <locationX>1899</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordtypeName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Work_Trail__c</object>
        <outputAssignments>
            <assignToReference>varCurrentRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getWorktrailUO</name>
        <label>getWorktrailUO</label>
        <locationX>872</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOwnerUO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateWorktrailIPS</name>
        <label>updateWorktrailIPS</label>
        <locationX>2114</locationX>
        <locationY>3974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_report__c</field>
            <value>
                <elementReference>templateIPSEndReport</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateWorktrailUOEnd</name>
        <label>updateWorktrailUOEnd</label>
        <locationX>158</locationX>
        <locationY>3974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_report__c</field>
            <value>
                <elementReference>templateUOEndReport</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateWorktrailUOIntervall</name>
        <label>updateWorktrailUOIntervall</label>
        <locationX>1322</locationX>
        <locationY>3590</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_report__c</field>
            <value>
                <elementReference>templateIntervallUOReport</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <screens>
        <name>noWorkTrail_0</name>
        <label>Not a worktrail</label>
        <locationX>2926</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noWorkTrailText_0</name>
            <fieldText>&lt;p&gt;This is not a proper worktrail&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectReportType</name>
        <label>Select report type</label>
        <locationX>1899</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkRecordType</targetReference>
        </connector>
        <fields>
            <name>varReportIntervall</name>
            <dataType>Boolean</dataType>
            <fieldText>Underveis rapport</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>varReportEnd</name>
            <dataType>Boolean</dataType>
            <fieldText>Sluttrapport/Avslutningsnotat</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>workTrailEndReportIPS</name>
        <label>Avslutningsnotat</label>
        <locationX>2114</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getEmplMeetingsIPS</targetReference>
        </connector>
        <fields>
            <name>compMessageIPS</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å lage et avslutningsnotat</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt1</name>
                    <fieldText>&lt;p&gt;Type: &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>recordTypeNametxtIPS</name>
                    <fieldText>&lt;p&gt;{!viewRecordTypeName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt2</name>
                    <fieldText>&lt;p&gt;Deltakernavn:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtNameIPS</name>
                    <fieldText>&lt;p&gt;{!getParticipantDetailsIPS.FirstName} {!getParticipantDetailsIPS.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt3</name>
                    <fieldText>&lt;p&gt;Jobbspesialist:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtOwnerIPS</name>
                    <fieldText>&lt;p&gt;{!getWorktrailIPS.Owner:User.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt4</name>
                    <fieldText>&lt;p&gt;Nav-veileder:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtSupervisorIPS</name>
                    <fieldText>&lt;p&gt;{!getWorktrailIPS.ips_NAV_supervisor__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt5</name>
                    <fieldText>&lt;p&gt;Oppstartsdato:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtToDateIPS</name>
                    <fieldText>&lt;p&gt;{!varStartDateIPS}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt6</name>
                    <fieldText>&lt;p&gt;Sluttdato:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtFromDateIPS</name>
                    <fieldText>&lt;p&gt;{!varEndDateIPS}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt7</name>
                    <fieldText>&lt;p&gt;Sluttårsak:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtEndCauseIPS</name>
                    <fieldText>&lt;p&gt;{!getWorktrailIPS.ips_Other_end_cases__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtWorkDevelopmentIPS</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Hovedmål: {!getWorktrailIPS.ips_Main_goal__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Karriere ønsker: {!getWorktrailIPS.ips_Priority_career_wishes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>summarizeCooperationIPS</name>
                    <fieldText>Hvilke utfordringer/hindringer har deltaker møtt i jobbutviklingsprosessen?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>summarizePosNegIPS</name>
                    <fieldText>Hvilke viktige faktorer har påvirket jobbutviklingen, positivt og negativt?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>needForHelpIPS</name>
            <fieldText>Behov for tilrettelegging</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SummarizeEmployeerIPS</name>
            <fieldText>Oppsummering av jobb utført mot arbeidsgiver</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Oppsummering av den jobben jobbspesialist har gjort ut mot arbeidsgivere i den hensikt å skaffe jobbmuligheter. Hva er årsaken til at kontaktene ikke resulterte i muligheter for jobb?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>summarizeEndIPS</name>
            <fieldText>Avsluttende oppsummering</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Avsluttende oppsummering og anbefaling om videre tiltak eller tilrettelegging.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>workTrailEndReportUO</name>
        <label>Slutt rapport</label>
        <locationX>158</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getEmplMeetings</targetReference>
        </connector>
        <fields>
            <name>compMessage_0_0</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å lage sluttrapport</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTrailEndReportUO_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportUO_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportUO_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportUO_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>recordTypetxt</name>
                    <fieldText>&lt;p&gt;Type: &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>txtParticipantText</name>
                    <fieldText>&lt;p&gt;Deltakernavn:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportUO_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>recordTypeNametxt</name>
                    <fieldText>&lt;p&gt;{!viewRecordTypeName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>varParticipantsName</name>
                    <fieldText>&lt;p&gt;{!getParticipantDetailsUO.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!getParticipantDetailsUO.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportUO_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportUO_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayInfoTxtUO</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Rapporten skal omhandle hva som har vært forsøkt av arbeidsoppgaver og tilrettelegging, og anbefaling om videre tiltak eller tilrettelegging. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Rapporten må kunne brukes som dokumentasjon ved utarbeidelse av arbeidsevnevurdering, også i forbindelse med søknad om uføretrygd dersom aktuelt. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Hvis resultatet av Utvidet oppfølging er et stabilt arbeidsforhold, er det ikke på samme måte behov for en fyldig rapport. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Husk at rapporten alltid skal godkjennes av deltaker.&amp;nbsp;&lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportUO_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportUO_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayInfoTxtUO1</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Kommer etter definerte felter som hentes fra Yrkesprofil, per mai 22 kun ett felt.&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>summarizeCooperationUO</name>
                    <fieldText>Oppsummering av innholdet i, og samarbeidet rundt, yrkeskartlegging og karriereplanlegging.</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Hvordan samarbeidet du og deltakeren for å komme frem til retning for jobbsøk m.m.?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Eksempler: oppsøkt bedrifter sammen, jobbsmak, gjennomgått karriereveiledning, arbeidet med CV og/eller jobbsøkerferdigheter. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Har Yrkesprofilen og retningen endret seg underveis, i så fall hvordan og hvorfor?&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 10px;&quot;&gt;Beskrivelse av hvordan jobbspesialist og deltaker har jobbet sammen om yrkeskartlegging og karriereprofil.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>diplayInfoTxtUO2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Kommer etter oversikten over antall deltakermøter møtt og ikke møtt.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummarizeParticipantUO</name>
            <fieldText>Oppsummering av samarbeidet mellom deltaker og jobbspesialist.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;Oppsummering av samarbeidet underveis i tjenesten. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;Eksempler: hvor har dere primært møttes, og hvor hyppig? Om deltakeren har hatt utfordringer med oppmøte, hvordan har du tilnærmet deg det, og hvilke strategier er evt. forsøkt?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayInfoTxtUO3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Kommer etter listen over hvilke arbeidsgivere det har vært relasjonsbyggende kontakt med underveis.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummarizeEmployeerUO</name>
            <fieldText>Oppsummering av arbeid ut mot, og samarbeid med, arbeidsgivere .</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Oppsummering av den jobben jobbspesialist har gjort ut mot arbeidsgivere i den hensikt å skaffe jobbmuligheter. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Har jobbspesialisten hatt kontakt med arbeidsgivere alene eller sammen med deltakeren? Om deltakeren på egenhånd har hatt kontakt med arbeidsgivere kan også det beskrives her. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Hvis samarbeid med arbeidsgivere ikke resulterte i muligheter for jobb, hva kan dette skyldes?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayInfoTxtUO4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Kommer etter listen over jobber.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>summarizeParticipantMeetings</name>
            <fieldText>Oppsummering av deltakelse i jobb eller arbeidstrening underveis i løpet.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Oppsummering av erfaringer dersom deltakeren har vært i jobb eller arbeidstrening. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Hva fungerte, og hva fungerte ikke? Hva slags tilrettelegging var nødvendig for at det skulle fungere, og hvor stor stilling? Hvordan samarbeidet deltaker, jobbspesialist og arbeidsgiver om jobbstøtte underveis?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayTxtInfoUO5</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Kommer til slutt.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>summarizeEndUO</name>
            <fieldText>Avsluttende oppsummering</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Avsluttende oppsummering og anbefaling om videre tiltak eller tilrettelegging, basert på det som har vært forsøkt og det man har erfart underveis.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>workTrailIntervall_0</name>
        <label>Intervall</label>
        <locationX>1322</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getEmplMeetingsIntervall</targetReference>
        </connector>
        <fields>
            <name>compMessage_0_0_0_0</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å lage en underveis rapport</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTrailIntervall_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervall_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervall_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervall_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtParticipantText_0_0_0_0</name>
                    <fieldText>&lt;p&gt;Deltakernavn:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailIntervall_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>selectDate_0</name>
            <fieldText>&lt;p&gt;Velg periode underveis rapport gjelder for&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>workTrailIntervall_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervall_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fromDate_0</name>
                    <dataType>Date</dataType>
                    <fieldText>Dato gjeldende fra:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailIntervall_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>toDate_0</name>
                    <dataType>Date</dataType>
                    <fieldText>Dato gjeldende til:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervall_0_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervall_0_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>summarizeCooperationUOIntervall</name>
                    <fieldText>Kommentarer</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: WordVisi_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Her kan du legge til en kommentarer knyttet til tiltaksperioden rapporten gjelder for, samt om planen for kommende periode.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1773</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorktrailRecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: serif;&quot;&gt;{!conGES}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateIntervallUOReport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Underveisrapport for {!varWorkTrailName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Innledning&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Deltaker:             {!getParticipantDetailsUO.FirstName} {!getParticipantDetailsUO.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Jobbspesialist:    {!getOwnerUO.FirstName} {!getOwnerUO.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;NAV-veileder:     {!getWorktrailUO.ips_NAV_supervisor__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Startdato:           {!getWorktrailUO.Oppstartsdato__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Oppsummering av perioden fra  {!fromDate_0} - {!toDate_0}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Hovedmål:&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!getWorktrailUO.ips_Main_goal__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Delmål:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!taskList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Samarbeid mellom jobbspesialist og deltaker i perioden:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Liste over møter deltaker har deltatt på.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varParticipantIntervallUOShow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Liste over møter deltaker ikke har deltatt på.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!varParticipantIntervallUONoShow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Samarbeid med arbeidsgivere i perioden:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Liste over gjennomførte møter med arbeidsgivere:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!varEmployeeMeetingIntervall}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Plan for kommende period:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Liste over åpne delmål:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!taskListForward}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Liste over åpne møter:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!varParticipantIntervallUOForward}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!varEmployeeMeetingForward}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!summarizeCooperationUOIntervall}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>End report template for IPS</description>
        <name>templateIPSEndReport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Avslutningsnotat - {!getWorktrailIPS.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Innledning&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Deltaker:           {!getParticipantDetailsIPS.FirstName} {!getParticipantDetailsIPS.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Jobbspesialist:  {!getOwnerIPS.FirstName} {!getOwnerIPS.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;NAV-veileder:&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;  {!getWorktrailIPS.ips_NAV_supervisor__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Startdato:         {!varStartDateIPS}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Sluttdato:         {!varEndDateIPS}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Sluttårsak:        {!getWorktrailIPS.End_Cause__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!getParticipantDetailsIPS.FirstName} {!getParticipantDetailsIPS.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; ble henvist til Individuell jobbstøtte (IPS) av behandler &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!getOwnerIPS.FirstName} {!getOwnerIPS.LastName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;den &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varStartDateIPS}&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;. Deltaker har vært med i perioden &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!varStartDateIPS} - {!varEndDateIPS}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Deltakers mål med IPS:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Prioriterte yrker/ønsker:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!getWorktrailIPS.ips_Priority_career_wishes__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Hovedmål&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!getWorktrailIPS.ips_Main_goal__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Delmål&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!taskList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿Deltagermøter&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Det er gjennomført {!varParticipantShowCount} deltagermøte(r) med deltager tilstede.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Det er {!varParticipantNoShow} deltagermøte(r) hvor deltager ikke har møtt.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Deltagelse i jobb/arbeidstrening&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!jobsListIPS}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hvilke utfordringer/hindringer har deltaker møtt i jobbutviklingsprosessen?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!summarizeCooperationIPS}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hvilke viktige faktorer har påvirket jobbutviklingen, positivt og negativt?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!summarizePosNegIPS}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Behov for tilrettelegging&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!needForHelpIPS}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Samarbeid med arbeidsgivere&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Jobbspesialist har enten på egenhånd, eller sammen med deg, vært i kontakt med følgende arbeidsgivere for å utforske mulighetene for arbeid:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!SummarizeEmployeerIPS}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Avslutning&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!summarizeEndIPS}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateUOEndReport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Sluttrapport for - {!getWorktrailUO.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Innledning&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Deltaker:             {!getParticipantDetailsUO.FirstName} {!getParticipantDetailsUO.LastName}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Jobbspesialist:    {!getOwnerUO.FirstName} {!getOwnerUO.LastName}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;NAV-veileder:     {!getWorktrailUO.ips_NAV_supervisor__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Startdato:           {!varStartDateUO}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sluttdato:           {!varEndDateUO}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Sluttårsak:          {!getWorktrailUO.ips_Other_end_cases__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(38, 38, 38); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Yrkeskartlegging og karriereplanlegging&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Ønsket yrke/bransje/karriere&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!getWorktrailUO.ips_Desired_profession_industry_career__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!summarizeCooperationUO}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Handlingsplan&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Hovedmål&lt;/b&gt;  &lt;/p&gt;&lt;p&gt;{!getWorktrailUO.ips_Main_goal__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Delmål&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!taskList}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Deltagermøter&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Det er gjennomført {!varParticipantShowCount} deltagermøte(r) med deltager tilstede.&lt;/p&gt;&lt;p&gt;Det er {!varParticipantNoShow} deltagermøte(r) hvor deltager ikke har møtt.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Oppsummering av samarbeid mellom deltaker og jobbspesialist&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!SummarizeParticipantUO}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Samarbeid med arbeidsgivere&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Jobbspesialist har enten på egenhånd, eller sammen med deg, vært i kontakt med følgende arbeidsgivere for å utforske mulighetene for arbeid:&lt;/p&gt;&lt;p&gt;{!employeeMeetings}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Oppsummering av samarbeid med arbeidsgivere&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!SummarizeEmployeerUO}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Deltagelse i jobb/arbeidstrening&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!jobsList}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Oppsummering av jobbdeltakelse&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!summarizeParticipantMeetings}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Avsluttende Oppsummering&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!summarizeEndUO}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>assignmentParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>employeeMeetings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employeeMeetingsIPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endCause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobsList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobsListIPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantMeetingIntervallShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantMeetings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supervisorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskListForward</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDesiredProfession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmplCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEmployeeMeetingForward</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmployeeMeetingIntervall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMainGoal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantIntervallUOForward</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantIntervallUONoShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantIntervallUOShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantNoShow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varParticipantShowCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPriorityCareerWishes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkTrailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTrailEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTrailStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
