force-app/main/default/flows/IPS_check_and_update_task_duedate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Activity_Date</name>
        <label>Update Activity Date</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Completed_DateTime</name>
        <label>Update Completed DateTime</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.IPS_Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Due_Date_Greater_Than_Completed_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Due_Date</name>
        <label>Update Due Date</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.ips_Due_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPS_Completed_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Activity_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Custom_Completed_datetime_empty</name>
        <label>Is Custom Completed datetime empty ?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Due_Date_Greater_Than_Completed_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPS_Completed_Date_Time__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not applicable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Completed_DateTime</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Due_Date_Greater_Than_Completed_Date</name>
        <label>Is Due Date Greater Than Completed Date ?</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Update_Activity_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Greater</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_Due_Date_Time__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.IPS_Completed_Date_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not applicable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Due_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates
- activity date from custom due datetime
- Completed datetime from standard completed datetime
- Due date when due datetime is greater than completed datetime</description>
    <environments>Default</environments>
    <formulas>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.ips_Due_Date_Time__c})</expression>
    </formulas>
    <interviewLabel>IPS - check and update task duedate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - check and update task duedate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Custom_Completed_datetime_empty</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål (av hovedmål)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oppgave</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
