force-app/main/default/flows/IPS_report_unshare_report_to_participant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends owner of report a notification when report is unshared with participant</description>
        <name>IPS_sendCustomNotificationAction</name>
        <label>Send Custom Notification Action</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>IPS_get_custom_notification_id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Deling av veilederrapport avsluttet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Deling av veilederrapport er nå avsluttet automatisk. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>IPS_set_activity_text</name>
        <label>Set activity text</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>varActivityOnReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varActivityReportUnshareText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varActivityOnReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varActivityOnReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varActivityOnReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.IPS_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IPS_update_status_to_open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IPS_set_recipient_id</name>
        <label>Set recipient id</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>varOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.IPS_workTrailName__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IPS_sendCustomNotificationAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if duedate is passed and set status back to open.</description>
        <name>IPS_check_if_date_is_passed</name>
        <label>check if date is passed</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPS_dueDateBack__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>IPS_today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPS_get_custom_notification_id</targetReference>
            </connector>
            <label>isPassed</label>
        </rules>
    </decisions>
    <description>Scheduled flow that check if duedate is passed. Set status back to Open for report. This prevent reports to be shared with participant in experience cloud when its not supposed to be shared.</description>
    <environments>Default</environments>
    <formulas>
        <name>IPS_today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>reportOwnerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.IPS_workTrailName__r.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>varActivityReportUnshareText</name>
        <dataType>String</dataType>
        <expression>TEXT(TODAY())&amp;&apos; &apos;&amp;{!$User.FirstName}&amp;&apos; &apos;&amp;{!$User.LastName}&amp; &apos; - Avsluttet deling av rapport til deltaker automatisk, da frist er passert&apos;</expression>
    </formulas>
    <interviewLabel>IPS - report unshare report to participant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - report unshare report to participant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>IPS_get_custom_notification_id</name>
        <label>Get custom notification id</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IPS_set_activity_text</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS_unshare_report_notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>IPS_update_status_to_open</name>
        <label>Update status to open</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>IPS_set_recipient_id</targetReference>
        </connector>
        <inputAssignments>
            <field>IPS_Activity__c</field>
            <value>
                <elementReference>varActivityOnReport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IPS_check_if_date_is_passed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IPS_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shared report</stringValue>
            </value>
        </filters>
        <object>ips_report__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-02</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varActivityOnReport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
