force-app/main/default/flows/IPS_create_or_update_participant_meeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createTravelTime</name>
        <label>createTravelTime</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>getEvents.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>getEvents.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>getEvents.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedTo</name>
            <value>
                <elementReference>getEvents.WhatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>getEvents.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>getEvents.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>getEvents.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>createTravelTime_0</name>
        <label>createTravelTime</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>getEvents.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>getEvents.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>getEvents.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedTo</name>
            <value>
                <elementReference>getEvents.WhatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>getEvents.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>getEvents.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>getEvents.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>updateTravelTime_0</name>
        <label>updateTravelTime</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>getEvents.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>getEvents.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>getEvents.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedTo</name>
            <value>
                <elementReference>getEvents.WhatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>getEvents.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>getEvents.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>getEvents.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>checkUpdate</name>
        <label>checkUpdate</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>updateTravelTime_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>anythingElse</defaultConnectorLabel>
        <rules>
            <name>isTravelTimeAdded</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>getEvents.ips_Travel_time__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvents.IPS_travelTimeFrom__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ips_Travel_time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IPS_travelTimeFrom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTravelTime_0</targetReference>
            </connector>
            <label>isTravelTimeAdded</label>
        </rules>
    </decisions>
    <decisions>
        <name>createOrUpdate</name>
        <label>createOrUpdate</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>checkUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isNewEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTravelTime</targetReference>
            </connector>
            <label>isNewEvent</label>
        </rules>
    </decisions>
    <formulas>
        <name>isDateTimeChanged</name>
        <dataType>Boolean</dataType>
        <expression>IsChanged( {!$Record.StartDateTime}) || isChanged({!$Record.EndDateTime} )</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>IPS - create or update participant meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - create or update participant meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getEvents</name>
        <label>getEvents</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createOrUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEvents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Participant</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
