force-app/main/default/flows/IPS_Opt_Out_Of_Recruitment_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Sets the Recruitment Program boolean field to false when all required end detail fields are populated.</description>
    <environments>Default</environments>
    <interviewLabel>IPS - Opt Out Of Recruitment Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Opt Out Of Recruitment Program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update recruitment program field to false.</description>
        <name>Opt_Out_Of_RP</name>
        <label>Opt Out Of RP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Application_Log_RP_Update</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Trail__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_Is_healthcare_related__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Work_Trail__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opt_Out_Of_RP</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Cause__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Detailed_end_cause__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Recruitment_Program__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Application_Log_RP_Update</name>
        <label>Application Log - RP Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>IPS_Subflow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>applicationDomain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceFunction</name>
            <value>
                <stringValue>IPS - Opt Out Of Recruitment Program</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
