force-app/main/default/flows/IPS_createOrUpdateStarttupMeeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createTravelTime</name>
        <label>createTravelTime</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_contactId_to_event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordtypeId</name>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>$Record.IPS_Status1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>$Record.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>$Record.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_eventTravelTimeController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>createTravelTime1</name>
        <label>createTravelTime</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkTravelTimeUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordtypeId</name>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>$Record.IPS_Status1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>$Record.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>$Record.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_eventTravelTimeController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>updateTravelTime</name>
        <label>updateTravelTime</label>
        <locationX>490</locationX>
        <locationY>839</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsEventClosed1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordtypeId</name>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>varRecordStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>$Record.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>$Record.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_eventTravelTimeController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>setPublic</name>
        <label>setPublic</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varPublicTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEventClosed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkCriteria</name>
        <label>checkCriteria</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>checkUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>anythingElse</defaultConnectorLabel>
        <rules>
            <name>isNewEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTravelTime</targetReference>
            </connector>
            <label>isNewEvent</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTravelTimeUpdate</name>
        <label>checkTravelTimeUpdate</label>
        <locationX>622</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>IsEventClosed1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTravelTimeUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPS_travelTimeFrom__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_Travel_time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDateTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IPS_Status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IPS_Status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Participant Absent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IPS_Status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateTravelTime</targetReference>
            </connector>
            <label>isTravelTimeUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkUpdate</name>
        <label>checkUpdate</label>
        <locationX>622</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>checkTravelTimeUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>anythingElse</defaultConnectorLabel>
        <rules>
            <name>isTravelTimeAdded</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ips_Travel_time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_Travel_time__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IPS_travelTimeFrom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IPS_travelTimeFrom__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ips_Travel_time__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_Travel_time__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IPS_travelTimeFrom__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IPS_travelTimeFrom__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTravelTime1</targetReference>
            </connector>
            <label>isTravelTimeAdded</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEventClosed</name>
        <label>IsEventClosed</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>UpdateEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>anythingElse</defaultConnectorLabel>
        <rules>
            <name>IsClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPS_Status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateStartUpDate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEventClosed1</name>
        <label>IsEventClosed</label>
        <locationX>622</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>anythingElse</defaultConnectorLabel>
        <rules>
            <name>isClosed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPS_Status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_updateStartUpDate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>isClosed</label>
        </rules>
    </decisions>
    <description>creation or updates on startup meetings
- set startdate for worktrail when meeting is completed
- set contactId on WhoId
- set public checkbox</description>
    <environments>Default</environments>
    <formulas>
        <name>isDateTimeChanged</name>
        <dataType>Boolean</dataType>
        <expression>IsChanged( {!$Record.StartDateTime}) || isChanged({!$Record.EndDateTime} )</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>varRecordStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.IPS_Status1__c}, 
&apos;Cancelled&apos;, &apos;Completed&apos;, 
&apos;Participant Absent&apos;, &apos;Completed&apos;,
&apos;Completed&apos;, &apos;Completed&apos;, &apos;Open&apos;)</expression>
    </formulas>
    <interviewLabel>IPS - create or update starttup meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - create or update starttup meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_updateStartUpDate</name>
        <label>updateStartUpDate</label>
        <locationX>490</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Oppstartsdato__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Start_up_meeting_completed__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEvent</name>
        <label>UpdateEvent</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>IPS_participant_related_to_meeting__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService__c</field>
            <value>
                <elementReference>varPublicTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Oppdaterer felter på jobbspor knyttet til oppstartsmøte.</description>
        <name>updateStartUpDate</name>
        <label>updateStartUpDate</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>UpdateEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Oppstartsdato__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Start_up_meeting_completed__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkCriteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Start up meeting</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_contactId_to_event</name>
        <label>Add contactId to event</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>setPublic</targetReference>
        </connector>
        <flowName>IPS_subflowAddContactId</flowName>
        <inputAssignments>
            <name>varWorkTrailId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <name>varContactId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublicTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
