force-app/main/default/flows/IPS_Admin_EditWorkTrail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_FaultStepOnEventUpdate</name>
        <label>Assign Fault Step On Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_faultStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error when updating Event</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>sfl_LogErrors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FaultStepOnWorkTrail</name>
        <label>Assign Fault Step On Work Trail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_faultStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error when updating Work Trail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sfl_LogErrors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_EmptyStartupDate</name>
        <label>Set New Startup Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sObj_Work_Trail.Oppstartsdato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Oppstartsdato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_IfWorkTrailShouldBeUpdated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_UpdatedStartupDateOnStartupMeeting</name>
        <label>SET Updated Startup Date on Startup Meeting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_StartupMeeting.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Oppstartsdato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_flowHeader</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rediger Jobbspor</stringValue>
        </value>
    </constants>
    <constants>
        <description>&quot;Oppstartsdato&quot; kan settes lik-, men ikke etter datoen for første møte med arbeidsgiver. Vennligst oppgi gyldige datoer.</description>
        <name>const_Oppstartsdato_ValidationMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Oppstartsdato&quot; kan settes lik-, men ikke etter datoen for første møte med arbeidsgiver. Vennligst oppgi gyldige datoer.</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_If_StartDateShouldBeBlank</name>
        <label>Check If Start Date Should Be Blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_IfWorkTrailShouldBeUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Start Date</defaultConnectorLabel>
        <rules>
            <name>Check_If_StartDateShouldBeBlank_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_removeStartupDate.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_StartupMeeting</targetReference>
            </connector>
            <label>Start Date Should Be Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_If_StartupMeetingShouldBeUpdated</name>
        <label>CHECK If Startup Meeting Should Be Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Update_StartupMeeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Oppstartsdato</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_StartupMeeting.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_UpdatedStartupDateOnStartupMeeting</targetReference>
            </connector>
            <label>Update Startup Meeting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IfWorkTrailShouldBeUpdated</name>
        <label>Check If Work Trail Should Be Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Check_IfWorkTrailShouldBeUpdated_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_StartDateShouldBeBlank_Yes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WorkTrail</targetReference>
            </connector>
            <label>Work Trail Should Be Updated</label>
        </rules>
    </decisions>
    <description>Enables Work Trail Admin Users to edit read-only fields on Work Trails.</description>
    <environments>Default</environments>
    <interviewLabel>IPS - Admin - Edit Worktrail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Admin - Edit Work Trail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_StartupMeeting</name>
        <label>Get Startup Meeting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>s_setNewStartupDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deltakermøte</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oppstartsmøte</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObj_Work_Trail.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <sortField>StartDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>assign_FaultStepOnEventUpdate</targetReference>
        </faultConnector>
        <inputReference>Get_StartupMeeting</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkTrail</name>
        <label>Update Work Trail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CHECK_If_StartupMeetingShouldBeUpdated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_FaultStepOnWorkTrail</targetReference>
        </faultConnector>
        <inputReference>sObj_Work_Trail</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>s_setNewStartupDate</name>
        <label>Set New Startup Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_EmptyStartupDate</targetReference>
        </connector>
        <fields>
            <name>s_displayFlowTitle2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!const_flowHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>var_Oppstartsdato</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_StartupMeeting.StartDateTime</elementReference>
            </defaultValue>
            <fieldText>Ny Oppstartsdato</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!const_Oppstartsdato_ValidationMessage}&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!var_Oppstartsdato} &gt; {!sObj_Work_Trail.ips_First_meeting_with_the_Employer_held__c}, FALSE, TRUE)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_OfferOpeningWorkTrailForEditing</name>
        <label>Work Trail Update Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_If_StartDateShouldBeBlank</targetReference>
        </connector>
        <fields>
            <name>s_displayFlowTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;{!const_flowHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>var_removeStartupDate</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Ja</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nei</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>var_shouldResetStartUpDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Rediger Oppstartsdato?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sObj_Work_Trail.Oppstartsdato__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_OfferOpeningWorkTrailForEditing</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sfl_LogErrors</name>
        <label>Log Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>IPS - Admin - Find And Edit Work Trail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <elementReference>var_faultStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>Work_Trail__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>sObj_Work_Trail.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>The Work Trail the user has selected and may want to modify, e.g. change the end date for. Required to run flow</description>
        <name>sObj_Work_Trail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Trail__c</objectType>
    </variables>
    <variables>
        <name>var_faultStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_makeWorkTrailWritable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_shouldResetStartUpDate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
