force-app/main/default/flows/IPS_EndReport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>addEmployeer</name>
        <label>addEmployeer</label>
        <locationX>1262</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>employeeMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>employeeMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>employeeRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>employeeMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateMeetings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addJobs</name>
        <label>addJobs</label>
        <locationX>954</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>jobRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateJobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipant</name>
        <label>addParticipant</label>
        <locationX>998</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>participantMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participantMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>participantRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participantMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateMeetings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTask_0</name>
        <label>addTask</label>
        <locationX>954</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateTasks</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <decisions>
        <name>checkJob</name>
        <label>checkJob</label>
        <locationX>974</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>isMeetingsNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsJobNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getJobs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateJobs</targetReference>
            </connector>
            <label>IsJobNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMeetingType</name>
        <label>checkMeetingType</label>
        <locationX>1262</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>iterateMeetings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isParticipant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateMeetings.IPS_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting with Participant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addParticipant</targetReference>
            </connector>
            <label>isParticipant</label>
        </rules>
        <rules>
            <name>isEmployeer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateMeetings.IPS_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting with Employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addEmployeer</targetReference>
            </connector>
            <label>isEmployeer</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecordType</name>
        <label>checkRecordType</label>
        <locationX>974</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>noWorkTrail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isUO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ips_Supported_Employment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkReportType</targetReference>
            </connector>
            <label>isUO</label>
        </rules>
        <rules>
            <name>isIPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkReportType_0</targetReference>
            </connector>
            <label>isIPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkReportType</name>
        <label>checkReportType</label>
        <locationX>314</locationX>
        <locationY>2870</locationY>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isEndReport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReportEnd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workTrailEndReport_0_0_0</targetReference>
            </connector>
            <label>isEndReport</label>
        </rules>
        <rules>
            <name>isIntervallReport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReportIntervall</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workTrailIntervall</targetReference>
            </connector>
            <label>isIntervallReport</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkReportType_0</name>
        <label>checkReportType</label>
        <locationX>1106</locationX>
        <locationY>2870</locationY>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isEndReport_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReportEnd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workTrailEndReport_0_0</targetReference>
            </connector>
            <label>isEndReport</label>
        </rules>
        <rules>
            <name>isIntervallReport_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReportIntervall</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>isIntervallReport</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTask</name>
        <label>checkTask</label>
        <locationX>974</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>checkRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>IsNotTaskNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateTasks</targetReference>
            </connector>
            <label>IsNotTaskNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>isMeetingsNull</name>
        <label>isMeetingsNull</label>
        <locationX>974</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>noMeetingInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNull</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMeetings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateMeetings</targetReference>
            </connector>
            <label>isNotNull</label>
        </rules>
    </decisions>
    <description>End report for IPS/UO</description>
    <formulas>
        <name>employeeRow</name>
        <dataType>String</dataType>
        <expression>RPAD({!iterateMeetings.Subject},50)&amp;&apos;, &apos;
&amp;RPAD(TEXT(DAY({!iterateMeetings.ActivityDate}))&amp;&quot;.&quot;&amp;TEXT(MONTH({!iterateMeetings.ActivityDate}))&amp;&quot;.&quot;&amp;TEXT(YEAR({!iterateMeetings.ActivityDate})),10)</expression>
    </formulas>
    <formulas>
        <name>jobRow</name>
        <dataType>String</dataType>
        <expression>{!iterateJobs.Name}&amp;&apos; , &apos;&amp;TEXT({!iterateJobs.ips_Form_of_Employment__c})&amp;&apos; , &apos;&amp;TEXT({!iterateJobs.ips_Status__c})</expression>
    </formulas>
    <formulas>
        <name>participantRow</name>
        <dataType>String</dataType>
        <expression>{!newLine}
&amp;&quot;Dato: &quot; &amp;TEXT(DAY({!iterateMeetings.ActivityDate}))&amp;&quot;.&quot;&amp;TEXT(MONTH({!iterateMeetings.ActivityDate}))&amp;&quot;.&quot;&amp;TEXT(YEAR({!iterateMeetings.ActivityDate}))
&amp;{!newLine}
&amp;&quot;Emne: &quot;
&amp; {!iterateMeetings.Subject}</expression>
    </formulas>
    <formulas>
        <name>taskRow</name>
        <dataType>String</dataType>
        <expression>&quot;Delmål:&quot;
&amp;{!newLine}
&amp;RPAD(TEXT(DAY({!iterateTasks.ActivityDate}))&amp;&quot;.&quot;&amp;TEXT(MONTH({!iterateTasks.ActivityDate}))&amp;&quot;.&quot;&amp;TEXT(YEAR({!iterateTasks.ActivityDate})),10)
&amp;RPAD({!iterateTasks.Subject},40,&apos; &apos;)
&amp;{!newLine}
&amp;RPAD({!iterateTasks.Description},255,&apos; &apos;)</expression>
    </formulas>
    <interviewLabel>IPS - end report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - end report</label>
    <loops>
        <name>iterateJobs</name>
        <label>iterateJobs</label>
        <locationX>866</locationX>
        <locationY>998</locationY>
        <collectionReference>getJobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addJobs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>isMeetingsNull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateMeetings</name>
        <label>iterateMeetings</label>
        <locationX>910</locationX>
        <locationY>1550</locationY>
        <collectionReference>getMeetings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkMeetingType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateTasks</name>
        <label>iterateTasks</label>
        <locationX>866</locationX>
        <locationY>2318</locationY>
        <collectionReference>getTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addTask_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkRecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getJobs</name>
        <label>getJobs</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>selectReportType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Work_Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ips_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMeetings</name>
        <label>getMeetings</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTasks</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Participant</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Employer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>RelatedToAccount__c</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>IPS_No_Show__c</queriedFields>
        <queriedFields>IPS_Type__c</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordtypeName</name>
        <label>getRecordtypeName</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMeetings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getTasks</name>
        <label>getTasks</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getJobs</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål (av hovedmål)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>ips_uo_Subject__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorktrail</name>
        <label>getWorktrail</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordtypeName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Work_Trail__c</object>
        <outputAssignments>
            <assignToReference>endCause</assignToReference>
            <field>End_Cause__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWorkTrailName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workTrailStartDate</assignToReference>
            <field>Oppstartsdato__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ownerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDesiredProfession</assignToReference>
            <field>ips_Desired_profession_industry_career__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workTrailEndDate</assignToReference>
            <field>ips_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMainGoal</assignToReference>
            <field>ips_Main_goal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>supervisorName</assignToReference>
            <field>ips_NAV_supervisor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>participantName</assignToReference>
            <field>ips_Participant__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPriorityCareerWishes</assignToReference>
            <field>ips_Priority_career_wishes__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateWorktrail</name>
        <label>updateWorktrail</label>
        <locationX>50</locationX>
        <locationY>3110</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_report__c</field>
            <value>
                <elementReference>templateUOEndReport</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateWorktrail_0</name>
        <label>updateWorktrail</label>
        <locationX>314</locationX>
        <locationY>3110</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_report__c</field>
            <value>
                <elementReference>templateIntervallUOReport</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <screens>
        <name>noMeetingInfo</name>
        <label>No meeting</label>
        <locationX>1038</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkTask</targetReference>
        </connector>
        <fields>
            <name>noMeetingTxt</name>
            <fieldText>&lt;p&gt;This worktrail have no meetings related.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noWorkTrail</name>
        <label>Not a worktrail</label>
        <locationX>1634</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noWorkTrailText</name>
            <fieldText>&lt;p&gt;This is not a proper worktrail&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectReportType</name>
        <label>Select report type</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkJob</targetReference>
        </connector>
        <fields>
            <name>varReportIntervall</name>
            <dataType>Boolean</dataType>
            <fieldText>Underveis rapport</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>varReportEnd</name>
            <dataType>Boolean</dataType>
            <fieldText>Sluttrapport</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>workTrailEndReport_0_0</name>
        <label>Slutt rapport</label>
        <locationX>842</locationX>
        <locationY>2990</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>compMessage</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å lage sluttrapport</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTrailEndReport_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReport_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReport_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReport_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtParticipantText</name>
                    <fieldText>&lt;p&gt;Deltakernavn:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>txtSupervisorName</name>
                    <fieldText>&lt;p&gt;NAV veileder navn:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReport_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>varParticipantsName</name>
                    <fieldText>&lt;p&gt;{!participantName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>varSupervisorName</name>
                    <fieldText>&lt;p&gt;{!supervisorName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>workTrailEndReport_0_0_0</name>
        <label>Slutt rapport</label>
        <locationX>50</locationX>
        <locationY>2990</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateWorktrail</targetReference>
        </connector>
        <fields>
            <name>compMessage_0</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å lage sluttrapport</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTrailEndReport_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReport_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReport_0_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReport_0_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtParticipantText_0</name>
                    <fieldText>&lt;p&gt;Deltakernavn:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReport_0_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>varParticipantsName_0</name>
                    <fieldText>&lt;p&gt;{!participantName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReport_0_0_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReport_0_0_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>summarizeCooperation</name>
                    <fieldText>Beskrivelse av samarbeid mellom deltager og jobbspesialist</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Beskrivelse av hvordan jobbspesialist og deltaker har jobbet sammen om yrkeskartlegging og karriereprofil.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SummarizeEmployeer</name>
            <fieldText>Oppsummering av jobb utført mot arbeidsgiver</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Oppsummering av den jobben jobbspesialist har gjort ut mot arbeidsgivere i den hensikt å skaffe jobbmuligheter. Hva er årsaken til at kontaktene ikke resulterte i muligheter for jobb?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>summarizeEnd</name>
            <fieldText>Avsluttende oppsummering</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Avsluttende oppsummering og anbefaling om videre tiltak eller tilrettelegging.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>workTrailIntervall</name>
        <label>Intervall</label>
        <locationX>314</locationX>
        <locationY>2990</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateWorktrail_0</targetReference>
        </connector>
        <fields>
            <name>compMessage_0_0_0</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å lage sluttrapport</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTrailIntervall_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervall_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervall_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervall_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtParticipantText_0_0_0</name>
                    <fieldText>&lt;p&gt;Deltakernavn:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailIntervall_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>varParticipantsName_0_0_0</name>
                    <fieldText>&lt;p&gt;{!participantName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>selectDate</name>
            <fieldText>&lt;p&gt;Velg periode underveis rapport gjelder for&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>workTrailIntervall_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervall_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fromDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Dato gjeldende fra:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailIntervall_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>toDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Dato gjeldende til:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervall_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervall_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>summarizeCooperation_0</name>
                    <fieldText>Hva ønskes inn her</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SummarizeEmployeer_0</name>
            <fieldText>Hva ønskes inn her</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorktrail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: serif;&quot;&gt;{!conGES}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>space</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(240, 248, 226); font-size: 14px; font-family: DSCDefaultFontRegular; color: rgb(51, 51, 51);&quot;&gt;&amp;amp;nbsp&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateIntervallUOReport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Underveisrapport for {!varWorkTrailName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Innledning&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Deltaker:             {!participantName}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Jobbspesialist:    {!ownerId}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;NAV-veileder:     &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!supervisorName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Startdato:           {!workTrailStartDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Oppsummering av perioden fra {!fromDate} - {!toDate}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Hva ønskes inn her.&lt;/p&gt;&lt;p&gt;{!summarizeCooperation_0}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Deltakermøter&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!participantMeetings}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Arbeidsgivere&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!employeeMeetings}&lt;/p&gt;&lt;p&gt;  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Plan fremover&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Hva ønskes inn her&lt;/p&gt;&lt;p&gt;{!SummarizeEmployeer_0}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Deltakermøter&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!participantMeetings}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Arbeidsgivere&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!employeeMeetings}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>End report template for IPS</description>
        <name>templateIPSEndReport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Sluttrapport - {!varWorkTrailName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Innledning&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!participantName} ble henvist til Individuell jobbstøtte (IPS) av behandler &lt;i style=&quot;color: rgb(0, 0, 0);&quot;&gt;XXX&lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;på &lt;i&gt;XXX &lt;/i&gt;den {!workTrailStartDate}. IPS er et tilbud som bistår personer i behandling på XXX ut i ordinært, lønnet arbeid. Deltaker har vært med i perioden &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!workTrailStartDate} - {!workTrailEndDate}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateUOEndReport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Sluttrapport for {!varWorkTrailName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Innledning&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Deltaker:             {!participantName}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Jobbspesialist:    {!ownerId}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;NAV-veileder:     &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!supervisorName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Startdato:           {!workTrailStartDate}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sluttdato:           {!workTrailEndDate}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Sluttårsak:          {!endCause}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Yrkesprofil&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Ønsket yrke/bransje/karriere:&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!varDesiredProfession}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Beskrivelse av hvordan jobbspesialist og deltaker har jobbet sammen om yrkeskartlegging og karriereprofil:&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!summarizeCooperation}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Handlingsplan&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Hovedmål:   &lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!varMainGoal}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!taskList}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Deltakermøter&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!participantMeetings}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Arbeidsgivere&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!employeeMeetings}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Oppsummering av jobb utført mot arbeidsgiver:&lt;/span&gt;&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!SummarizeEmployeer}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Oversikt over deltakers jobber:&lt;/p&gt;&lt;p&gt;{!jobsList}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Avslutning&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Avsluttende oppsummering:&lt;/span&gt;&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!summarizeEnd}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>assignmentParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>employeeMeetings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endCause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobsList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantMeetings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supervisorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDesiredProfession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMainGoal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorityCareerWishes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkTrailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTrailEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTrailStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
