force-app/main/default/flows/IPS_update_owner_on_related_objects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Changes owner on all open events that is open and related to a work trail, assigns it to new work trail owner</description>
        <name>Change_owner_on_event</name>
        <label>Change owner on event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_changeOwnerOnActivityController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>create_owner_history</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldOwnerRecord</name>
            <value>
                <elementReference>varOldOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerRecord</name>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IPS_changeOwnerOnActivityController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Changes owner on all open task (delmål) that is open, assigns it to new work trail owner</description>
        <name>Change_owner_on_task</name>
        <label>Change owner on task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_changeOwnerOnActivityController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Change_owner_on_event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerRecord</name>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IPS_changeOwnerOnActivityController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_owner_variables</name>
        <label>Assign owner variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOldOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOldOwnerRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Owner:User.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPS_ownerName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOldUserName</targetReference>
        </connector>
    </assignments>
    <description>Oppdaterer eier på åpne delmål og møter når jobbspor bytter eier
Oppretter platform event jobbspor</description>
    <environments>Default</environments>
    <formulas>
        <name>var_JobbsporApplyingDepartment</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!$Record.ips_Applying_Department__c}),{!$Record.ips_Applying_Department__c},
IF(!ISBLANK({!$Record.ips_Behandlingsteam__c}),{!$Record.ips_Behandlingsteam__c},
&apos;Ingen avdeling spesifisert&apos;
)
)</expression>
    </formulas>
    <formulas>
        <name>var_mainGoal</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK(TEXT({!$Record.ips_Main_Goal_list__c})),TEXT({!$Record.ips_Main_Goal_list__c}),
IF(ISBLANK(TEXT({!$Record.ips_UO_Service__c})),TEXT({!$Record.ips_UO_Service__c}),
&apos;&apos;
)
)</expression>
    </formulas>
    <formulas>
        <name>varDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Endrer eier til &apos;&amp; {!varNewOwnerName}</expression>
    </formulas>
    <interviewLabel>IPS - update owner on related objects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - worktrail update owner on related objects</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOldUserName</name>
        <label>getOldUserName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_owner_on_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldOwner</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varOldOwnerActive</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOldOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_ownerTextField</name>
        <label>update ownerTextField</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IPS_createPlatformEventJobbspor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_error_update_owner</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IPS_ownerNameText__c</field>
            <value>
                <elementReference>varNewOwnerName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_owner_variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ips_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <object>Work_Trail__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>create_owner_history</name>
        <label>create owner history</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_ownerTextField</targetReference>
        </connector>
        <flowName>IPS_subflow_create_task_history</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>IPS_createPlatformEventJobbspor</name>
        <label>Create platform event jobbspor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>IPS_subflow_create_jobbspor_platform_event</flowName>
        <inputAssignments>
            <name>input_JobbsporId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_error_update_owner</name>
        <label>Log error update owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>IPS - worktrail update owner on related objects</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Oppdatering av textfelt feiler</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>Work_Trail__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_mainGoalTranslated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldOwnerActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOldOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldOwnerRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Endring av eier</stringValue>
        </value>
    </variables>
</Flow>
