force-app/main/default/flows/IPS_Create_passive_period_tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Updating passive period fields to blank</description>
        <name>Update_passive_period_fields</name>
        <label>Update passive period fields</label>
        <locationX>402</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>$Record.Passive_activate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Passive_deactivate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Passive_followup__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Passive_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_worktrail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_task_to_completed</name>
        <label>Update task to completed</label>
        <locationX>490</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>Update_status.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updatedtasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Passive period is IPS feature.</description>
        <name>Is_IPS</name>
        <label>Is IPS</label>
        <locationX>644</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_worktrail_record_type_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>status</name>
        <label>Status</label>
        <locationX>358</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Passive_activate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_followup_task</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Deactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Passive_deactivate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_history_task_active</targetReference>
            </connector>
            <label>Deactive</label>
        </rules>
    </decisions>
    <description>Create tasks when upcoming passive period become 
active - followup task with reason
deactive - passive active and deactive task</description>
    <environments>Default</environments>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IPS - Create passive period tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Create passive period tasks scheduled</label>
    <loops>
        <description>Update status to completed</description>
        <name>Update_status</name>
        <label>Update status</label>
        <locationX>402</locationX>
        <locationY>1008</locationY>
        <collectionReference>Get_open_followup_task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_task_to_completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a follow up task when passive period is activated</description>
        <name>Create_followup_task</name>
        <label>Create followup task</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Passive_followup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Passive_reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_task_record_type_id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Oppfølging av passiv deltaker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Task_IPSUO__c</field>
            <value>
                <stringValue>Oppgave</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Due_Date_Time__c</field>
            <value>
                <elementReference>$Record.Passive_followup__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_open_followup_task</name>
        <label>Get open followup task</label>
        <locationX>402</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oppgave</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_task_record_type_id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oppfølging av passiv deltaker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_task_record_type_id</name>
        <label>Get task record type Id</label>
        <locationX>644</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_IPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_worktrail_record_type_Id</name>
        <label>Get worktrail record type Id</label>
        <locationX>644</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_task_record_type_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_tasks</name>
        <label>Update tasks</label>
        <locationX>402</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Update_passive_period_fields</targetReference>
        </connector>
        <inputReference>Updatedtasks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update triggering worktrail</description>
        <name>Update_worktrail</name>
        <label>Update worktrail</label>
        <locationX>402</locationX>
        <locationY>1524</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_worktrail_record_type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <filters>
            <field>ips_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Referred</stringValue>
            </value>
        </filters>
        <object>Work_Trail__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-03-12</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Create active task to passive period in supervisor report.</description>
        <name>Create_history_task_active</name>
        <label>Create history task active</label>
        <locationX>402</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Create_history_task_deactive</targetReference>
        </connector>
        <flowName>IPS_subflow_create_task_history</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <stringValue>Passiv tilstand aktivert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPassiveActiveDeactiveDate</name>
            <value>
                <elementReference>$Record.Passive_activate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <stringValue>Passiv tilstand aktivert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Create deactive task to passive period in supervisor report.</description>
        <name>Create_history_task_deactive</name>
        <label>Create history task deactive</label>
        <locationX>402</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Get_open_followup_task</targetReference>
        </connector>
        <flowName>IPS_subflow_create_task_history</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <stringValue>Passiv tilstand deaktivert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPassiveActiveDeactiveDate</name>
            <value>
                <elementReference>$Record.Passive_deactivate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <stringValue>Passiv tilstand deaktivert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Updatedtasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
