force-app/main/default/flows/IPS_worktrailChangeStatusHistory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>checkIfMainGoalChanged</name>
        <label>checkIfMainGoalChanged</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>checkIfServiceChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isGoalChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_Main_Goal_list__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mainGoalHistory</targetReference>
            </connector>
            <label>isGoalChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfServiceChanged</name>
        <label>checkIfServiceChanged</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isServiceChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_UO_Service__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ips_Supported_Employment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>serviceHistory</targetReference>
            </connector>
            <label>isServiceChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfStatusChanged</name>
        <label>checkIfStatusChanged</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>checkIfSupervisorChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>statusHistory</targetReference>
            </connector>
            <label>isChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfSupervisorChanged</name>
        <label>checkIfSupervisorChanged</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>checkIfMainGoalChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isChangedSupervisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_NAV_supervisor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>supervisorHistory</targetReference>
            </connector>
            <label>isChangedSupervisor</label>
        </rules>
    </decisions>
    <description>Logger en historikk hendelse ved endring av status, veileder og hovedmål i jobbsporet</description>
    <environments>Default</environments>
    <formulas>
        <name>varGoalDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Hovedmål endret til - &apos;&amp;
CASE({!$Record.ips_Main_Goal_list__c},
&apos;Education/Apprentice&apos;, &apos;Utdanning&apos;,
&apos;Work&apos;, &apos;Jobb&apos;,
&apos;Ingen hovedmål&apos;
)</expression>
    </formulas>
    <formulas>
        <name>varServiceDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Hovedmål endret til - &apos;&amp;
CASE({!$Record.ips_UO_Service__c},
&apos;AMS&apos;, &apos;Arbeid&apos;,
&apos;Vocational education and training&apos;, &apos;Arbeid via fag- og yrkesopplæring&apos;,
&apos;Ingen hovedmål&apos;
)</expression>
    </formulas>
    <formulas>
        <name>varStatusDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Status er endret til - &apos;&amp;
CASE({!$Record.ips_Status__c}, 
&apos;Referred&apos;,&apos;Henvist&apos;,
&apos;Initial contact&apos;, &apos;Innledende kontakt&apos;,
&apos;Mapping&apos;, &apos;Kartlegging&apos;,
&apos;Job development&apos;, &apos;Jobbutvikling&apos;,
&apos;In Education&apos;,&apos;I utdannelse&apos;,
&apos;Working&apos;, &apos;Jobber&apos;,
&apos;Downsizing&apos;,&apos;Nedtrapping&apos;,
&apos;Career mapping and career planning&apos;, &apos;Yrkeskartlegging og karriereplanlegging&apos;,
&apos;Find a suitable job / Collaborate with AG&apos;, &apos;Finne en passende jobb/samarbeid med arbeidsgiver&apos;,
&apos;Education and training in and / or outside the workplace&apos;,&apos;Opplæring og trening på og/eller utenom arbeidsplassen&apos;,
&apos;Ended&apos;,&apos;Sluttet&apos;,
&apos;Ingen status&apos;)</expression>
    </formulas>
    <formulas>
        <name>varSupervisorDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Veileder endret til - &apos;&amp;{!$Record.ips_NAV_supervisor__c}</expression>
    </formulas>
    <interviewLabel>IPS - worktrailChangeStatusHistory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - worktrail update history</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkIfStatusChanged</targetReference>
        </connector>
        <object>Work_Trail__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>mainGoalHistory</name>
        <label>mainGoalHistory</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>checkIfServiceChanged</targetReference>
        </connector>
        <flowName>IPS_subflow_create_task_history</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>varGoalDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varGoalDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>serviceHistory</name>
        <label>serviceHistory</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <flowName>IPS_subflow_create_task_history</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>varServiceDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varServiceDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>statusHistory</name>
        <label>statusHistory</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>checkIfSupervisorChanged</targetReference>
        </connector>
        <flowName>IPS_subflow_create_task_history</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>varStatusDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varStatusDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>supervisorHistory</name>
        <label>supervisorHistory</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>checkIfMainGoalChanged</targetReference>
        </connector>
        <flowName>IPS_subflow_create_task_history</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>varSupervisorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varSupervisorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
