force-app/main/default/flows/IPS_education_AMS_update_status_on_create_or_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addStatusCompleted</name>
        <label>addStatusCompleted</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEducationStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addStatusOngoing</name>
        <label>addStatusOngoing</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEducationStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addStatusPlanned</name>
        <label>addStatusPlanned</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEducationStatus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkStatus</name>
        <label>checkStatus</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>isNot</defaultConnectorLabel>
        <rules>
            <name>isPlanned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AMS_Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AMS_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addStatusPlanned</targetReference>
            </connector>
            <label>isPlanned</label>
        </rules>
        <rules>
            <name>isOngoing</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AMS_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AMS_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AMS_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AMS_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ongoing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addStatusOngoing</targetReference>
            </connector>
            <label>isOngoing</label>
        </rules>
        <rules>
            <name>isCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AMS_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AMS_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AMS_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addStatusCompleted</targetReference>
            </connector>
            <label>isCompleted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IPS - education AMS update status on create or update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - education AMS update status on create or update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateEducationStatus</name>
        <label>updateEducationStatus</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>AMS_Status__c</field>
            <value>
                <elementReference>varStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AMS_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AMS_Vocational_education_and_training__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
