force-app/main/default/flows/IPS_send_report_to_journal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Document</name>
        <label>Generate Document</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Document_Variant_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>documentString</name>
            <value>
                <elementReference>Get_Necessary_Record_Info.IPS_endReport__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navIdent</name>
            <value>
                <elementReference>varUserNavIdent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>getWorkTrailParticipantsInfo.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PDF_DOCUMENT</assignToReference>
            <name>documentString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Document1</name>
        <label>Generate Document</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Document_Variant_Assignment1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>documentString</name>
            <value>
                <elementReference>Get_Necessary_Record_Info.IPS_endReport__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PDF_DOCUMENT</assignToReference>
            <name>documentString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls journal utils to perform the API post action</description>
        <name>Post_Journal_Request</name>
        <label>Post Journal Request</label>
        <locationX>314</locationX>
        <locationY>1694</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Post_State</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>journalRequest</name>
            <value>
                <elementReference>Journal_Request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST_JOURNAL</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Add document variants to document list and assign document title</description>
        <name>Assign_Journal_Documents</name>
        <label>Assign Journal Documents</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Journal_Documents.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Variant_PDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sluttrapport</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Sak_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add document variants to document list and assign document title</description>
        <name>Assign_Journal_Documents1</name>
        <label>Assign Journal Documents</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Journal_Documents.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Variant_PDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Underveisrapport</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Sak_Assignment1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journal_Entry_Default_data</name>
        <label>Assign Journal Entry Default data</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.CRM_Created_By_Ident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.NAV_Case_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.CRM_Journal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SF_Theme_Common_Code.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Journal_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns needed values to document variant wrapper</description>
        <name>Document_Variant_Assignment</name>
        <label>Document Variant Assignment</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDF_DOCUMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARKIV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns needed values to document variant wrapper</description>
        <name>Document_Variant_Assignment1</name>
        <label>Document Variant Assignment</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDF_DOCUMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARKIV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Documents1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns needed values to the journal requests and adds the document list.</description>
        <name>Journal_Request_Assignment</name>
        <label>Journal Request Assignment</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Journal_Request.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sluttrapport</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.kanal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARCHIVE CHANNEL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.sak</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Sak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalpostType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTGAAENDE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.dokumenter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalfoerendeEnhet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.INT_fnr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.INT_PersonIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.INT_fnr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWorkTrailParticipantsInfo.ips_Participant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.navn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.tema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Theme_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.behandlingstema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Subtheme_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Journal_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns needed values to the journal requests and adds the document list.</description>
        <name>Journal_Request_Assignment1</name>
        <label>Journal Request Assignment</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Journal_Request.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Underveisrapport</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.kanal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARCHIVE CHANNEL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.sak</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Sak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalpostType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTGAAENDE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.dokumenter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalfoerendeEnhet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.INT_fnr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.INT_PersonIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.INT_fnr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWorkTrailParticipantsInfo.ips_Participant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.navn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.tema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Theme_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.behandlingstema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Subtheme_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Journal_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns necessary values to the Sak wrapper for journal entry.</description>
        <name>Journal_Sak_Assignment</name>
        <label>Journal Sak Assignment</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Journal_Sak.fagsakId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Sak.sakstype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Request_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns necessary values to the Sak wrapper for journal entry.</description>
        <name>Journal_Sak_Assignment1</name>
        <label>Journal Sak Assignment</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Journal_Sak.fagsakId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Sak.sakstype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Request_Assignment1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Completed</name>
        <label>Set Post Completed</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal_Request.journalpostId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SF_Theme_Common_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Failed</name>
        <label>Set Post Failed</label>
        <locationX>446</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SF_Theme_Common_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setJournalCaseId</name>
        <label>setJournalCaseId</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Journal_Case_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setJournalCaseId1</name>
        <label>setJournalCaseId</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Journal_Case_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Document1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTypeEndReport</name>
        <label>setTypeEndReport</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varReportType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>End report</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setJournalCaseId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTypeIntervall</name>
        <label>setTypeIntervall</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varReportType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Intervall</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setJournalCaseId1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Endreport</name>
        <choiceText>Sluttrapport/Avslutningsnotat</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Intervallreport</name>
        <choiceText>Underveisrapport</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Post_State</name>
        <label>Check Post State</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Set_Post_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Post Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal_Request.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Post_Completed</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkReportType</name>
        <label>checkReportType</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>isEndReport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Endreport</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setTypeEndReport</targetReference>
            </connector>
            <label>isEndReport</label>
        </rules>
        <rules>
            <name>isIntervallReport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intervallreport</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setTypeIntervall</targetReference>
            </connector>
            <label>isIntervallReport</label>
        </rules>
    </decisions>
    <formulas>
        <description>Formula to define the journal case type (Sakstype). If no Journal Case ID has been input, default is GENERELL_SAK</description>
        <name>Journal_Case_Type</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Journal_Case_ID}), &apos;GENERELL_SAK&apos;, &apos;FAGSAK&apos;)</expression>
    </formulas>
    <formulas>
        <description>Formula to generate name convention on journal required format (For persons)</description>
        <name>Person_Full_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Account_Info.CRM_Person__r.INT_LastName__c} &amp; &apos;, &apos; &amp; {!Get_Account_Info.CRM_Person__r.INT_FirstName__c} &amp; &apos; &apos; &amp;{!Get_Account_Info.CRM_Person__r.INT_MiddleName__c}</expression>
    </formulas>
    <formulas>
        <name>varUserNavIdent</name>
        <dataType>String</dataType>
        <expression>{!$User.CRM_NAV_Ident__c}</expression>
    </formulas>
    <interviewLabel>IPS - send report to journal {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>IPS - send report to journal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Inserts a journal entry record. If post failed the entry status is set to failed and should be handled in asynchronous retry</description>
        <name>Create_Journal_Entry</name>
        <label>Create Journal Entry</label>
        <locationX>314</locationX>
        <locationY>2390</locationY>
        <inputReference>Journal_Entry_SF</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get necessary account information to post a journal entry</description>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkReportType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkTrailParticipantsInfo.ips_Participant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the info needed from record and relations to submit a journal entry</description>
        <name>Get_Necessary_Record_Info</name>
        <label>Get Necessary Record Info</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWorkTrailParticipantsInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ips_report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SF_Theme_Common_Code</name>
        <label>Get SF Theme Common Code</label>
        <locationX>314</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Journal_Entry_Default_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Theme_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tema</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkTrailParticipantsInfo</name>
        <label>getWorkTrailParticipantsInfo</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Necessary_Record_Info.IPS_workTrailName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ips_Participant__c</queriedFields>
        <queriedFields>IPS_Personnummer__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DisplayScrren</name>
        <label>DisplayScrren</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Necessary_Record_Info</targetReference>
        </connector>
        <fields>
            <name>scArchiveChoices</name>
            <choiceReferences>Endreport</choiceReferences>
            <choiceReferences>Intervallreport</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Velg type rapport som skal arkiveres</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;{!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DisplayScrren</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Document variant wrapper for journal request</description>
        <name>Document_Variant_PDF</name>
        <apexClass>CRM_Dokumentvarianter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique reference to the case in NAVs fagsystem that the journal post should relate to.</description>
        <name>Journal_Case_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper class for list of documents to journal</description>
        <name>Journal_Documents</name>
        <apexClass>CRM_Dokumenter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SF journal entry record to be created for a journal request</description>
        <name>Journal_Entry_SF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <description>NAV unit number of the user initiating the journal entry.</description>
        <name>Journal_Entry_Unit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper class for the actual journal request to be sent.</description>
        <name>Journal_Request</name>
        <apexClass>CRM_JournalEntryWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper object for the &quot;fagsystem sak&quot; the journal relates to</description>
        <name>Journal_Sak</name>
        <apexClass>CRM_Sak</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique subtheme code for the journal entry (Not required)</description>
        <name>Journal_Subtheme_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique theme code for the journal entry</description>
        <name>Journal_Theme_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PDF_DOCUMENT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the record triggering the journal flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
