force-app/main/default/flows/IPS_subflow_create_jobbspor_platform_event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IPS_logErrorOnFlow</name>
        <label>Create error log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>FlowInterview</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>IPS - subflow create jobbspor platform event</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>IPS_maskOwnerId</name>
        <label>Mask owner id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_StringHasherController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Status_is_empty</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>IPS_loopThroughAllRecords.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_StringHasherController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_OwnerId</assignToReference>
            <name>hashString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IPS_maskTrailId</name>
        <label>Mask trail id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_StringHasherController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IPS_maskOwnerId</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>IPS_loopThroughAllRecords.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_StringHasherController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_JobbsporId</assignToReference>
            <name>hashString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IPS_translateEndCause</name>
        <label>Translate end cause</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_UtilityFlowTranslateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_end_cause_detail_is_empty</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldCategory</name>
            <value>
                <stringValue>ENDCAUSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>IPS_loopThroughAllRecords.End_Cause__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_UtilityFlowTranslateController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_JobbsporetEndCause</assignToReference>
            <name>outputString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IPS_translateEndDetails</name>
        <label>Translate end details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_UtilityFlowTranslateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_data</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldCategory</name>
            <value>
                <stringValue>ENDDETAILCAUSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>IPS_loopThroughAllRecords.ips_Other_end_cases__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_UtilityFlowTranslateController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_JobbsporetEndDetailReson</assignToReference>
            <name>outputString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IPS_translateMainGoals</name>
        <label>Translate maingoals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_UtilityFlowTranslateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_end_cause_is_empty</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldCategory</name>
            <value>
                <stringValue>MAINGOAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>var_JobbsporMainGoal</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_UtilityFlowTranslateController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_MainGoals</assignToReference>
            <name>outputString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IPS_translateStatus</name>
        <label>Translate status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IPS_UtilityFlowTranslateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_maingoals_is_empty</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldCategory</name>
            <value>
                <stringValue>STATUS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>IPS_loopThroughAllRecords.ips_Status__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_UtilityFlowTranslateController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_JobbsporStatus</assignToReference>
            <name>outputString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_data</name>
        <label>Assign data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporId__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporService__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporStatus__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.ParticipantSCN__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IPS_loopThroughAllRecords.IPS_Personnummer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.UserId__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporApplyingDepartment__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporetApplyingDepartment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.ParticipantsMainGoal__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_MainGoals</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporEndReason__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporetEndCause</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporEndReasonDetail__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_JobbsporetEndDetailReson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IPS_loopThroughAllRecords.ips_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.ParticipantReferredDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IPS_loopThroughAllRecords.ips_Referred_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporCreated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IPS_loopThroughAllRecords.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.ParticipantStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IPS_loopThroughAllRecords.Oppstartsdato__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.JobbsporFirstEmployeeMeeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IPS_loopThroughAllRecords.ips_First_meeting_with_the_Employer_held__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.ParticipantPassiveDateActivated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IPS_loopThroughAllRecords.Passive_activate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobbsporList.ParticipantPassiveDateDeactivated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IPS_loopThroughAllRecords.Passive_deactivate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IPS_loopThroughAllRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_end_cause_detail_is_empty</name>
        <label>Check if end cause detail is empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IPS_translateEndDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notEmpty</defaultConnectorLabel>
        <rules>
            <name>isEmptyEndDetails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IPS_loopThroughAllRecords.ips_Other_end_cases__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_data</targetReference>
            </connector>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_end_cause_is_empty</name>
        <label>Check if end cause is empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IPS_translateEndCause</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notEmpty</defaultConnectorLabel>
        <rules>
            <name>isEmptyEndCause</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IPS_loopThroughAllRecords.End_Cause__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_end_cause_detail_is_empty</targetReference>
            </connector>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_maingoals_is_empty</name>
        <label>Check if maingoals is empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IPS_translateMainGoals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notEmpty</defaultConnectorLabel>
        <rules>
            <name>isEmptyMainGoals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobbsporMainGoal</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_end_cause_is_empty</targetReference>
            </connector>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_is_empty</name>
        <label>Check if Status is empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IPS_translateStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notEmpty</defaultConnectorLabel>
        <rules>
            <name>isEmptyStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IPS_loopThroughAllRecords.ips_Status__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_maingoals_is_empty</targetReference>
            </connector>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <description>Create an new record in IPSJobbsporEvent__e object</description>
    <environments>Default</environments>
    <formulas>
        <name>var_JobbsporetApplyingDepartment</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!IPS_loopThroughAllRecords.ips_Applying_Department__c}),{!IPS_loopThroughAllRecords.ips_Applying_Department__c},
IF(!ISBLANK({!IPS_loopThroughAllRecords.ips_Behandlingsteam__c}),{!IPS_loopThroughAllRecords.ips_Behandlingsteam__c},
&apos;&apos;)
)</expression>
    </formulas>
    <formulas>
        <name>var_JobbsporMainGoal</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK(TEXT({!IPS_loopThroughAllRecords.ips_Main_Goal_list__c})),TEXT({!IPS_loopThroughAllRecords.ips_Main_Goal_list__c}),
IF(!ISBLANK(TEXT({!IPS_loopThroughAllRecords.ips_UO_Service__c})),TEXT({!IPS_loopThroughAllRecords.ips_UO_Service__c}),
&apos;&apos;
)
)</expression>
    </formulas>
    <formulas>
        <description>Gjør om posttype til 3 bokstavs kode for AMS, IPS, VTO</description>
        <name>var_JobbsporService</name>
        <dataType>String</dataType>
        <expression>CASE({!IPS_loopThroughAllRecords.RecordType.DeveloperName},
&apos;IPS&apos;, &apos;IPS&apos;,
&apos;ips_Supported_Employment&apos;,&apos;AMS&apos;,
&apos;CE_Customized_Employment&apos;,&apos;VTO&apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>var_PassiveDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>IPS - subflow create jobbspor platform event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - platform event subflow create jobbspor</label>
    <loops>
        <name>IPS_loopThroughAllRecords</name>
        <label>Loop through all records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>IPS_getJobbsporRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IPS_maskTrailId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_jobbspor_platform_event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_jobbspor_platform_event</name>
        <label>Create jobbspor platform event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>IPS_logErrorOnFlow</targetReference>
        </faultConnector>
        <inputReference>JobbsporList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>IPS_getJobbsporRecords</name>
        <label>Get jobbspor records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IPS_loopThroughAllRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_JobbsporId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IPS_getJobbsporRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Unike id for jobbsporet (SF id)</description>
        <name>input_JobbsporId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobbsporList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPSJobbsporEvent__e</objectType>
    </variables>
    <variables>
        <name>var_JobbsporetEndCause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_JobbsporetEndDetailReson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_JobbsporId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_JobbsporStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MainGoals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
