force-app/main/default/flows/IPS_Person_set_worktrail_skjerming.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>setConfidentialAssignment</name>
        <label>setConfidentialAssignment</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>varSetConfidentalitet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSkjermingAdress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ungraded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setConfidentialAssignment1</name>
        <label>setConfidentialAssignment</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varSetConfidentalitet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_worktrail_records1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setConfidentialAssignment2</name>
        <label>setConfidentialAssignment</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>varSetConfidentalitet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSkjermingAdress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPersonAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_worktrail_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setConfidentialAssignment4</name>
        <label>setConfidentialAssignment</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varSetConfidentalitet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSkjermingAdress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CodeSeven</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setConfidentialAssignment5</name>
        <label>setConfidentialAssignment</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varSetConfidentalitet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSkjermingAdress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPersonAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CodeSeven</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CodeSeven</name>
        <label>CodeSeven</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Ungraded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>isCodeSeven</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.INT_Confidential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTROLIG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setConfidentialAssignment</targetReference>
            </connector>
            <label>isCodeSeven</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confidential_Changed</name>
        <label>Confidential Changed</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>NAVEmployee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>anythingElse</defaultConnectorLabel>
        <rules>
            <name>isStrictConfidentiality</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.INT_Confidential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STRENGT_FORTROLIG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.INT_Confidential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STRENGT_FORTROLIG_UTLAND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueue</targetReference>
            </connector>
            <label>isStrictConfidentiality</label>
        </rules>
    </decisions>
    <decisions>
        <name>NAVEmployee</name>
        <label>NAVEmployee</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>setConfidentialAssignment5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isSetTofalse</defaultConnectorLabel>
        <rules>
            <name>isSetToTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.INT_IsNavEmployee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setConfidentialAssignment4</targetReference>
            </connector>
            <label>isSetToTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ungraded</name>
        <label>Ungraded</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Update_worktrail_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>isUngraded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.INT_Confidential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UGRADERT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setConfidentialAssignment2</targetReference>
            </connector>
            <label>isUngraded</label>
        </rules>
    </decisions>
    <description>When confidentiality or nav_employee changes it updates worktrail fields accordingly</description>
    <environments>Default</environments>
    <formulas>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <expression>&apos;Jobbsporet - &apos;&amp;{!$Record.CRM_Account__r.FirstName}&amp;&apos; &apos;&amp;{!$Record.CRM_Account__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>varPersonAddress</name>
        <dataType>String</dataType>
        <expression>{!$Record.INT_ResidentialAddress__c}&amp;&apos; &apos;&amp;{!$Record.INT_ResidentialZipCode__c}&amp;&apos; &apos;&amp;{!$Record.INT_ResidentialPlace__c}</expression>
    </formulas>
    <interviewLabel>IPS - Person update skjerming {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Person set worktrail skjerming</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>If the participant get code 6 - the work_trail will be assigned an queue</description>
        <name>getQueue</name>
        <label>getQueue</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setConfidentialAssignment1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS_Fortrolig</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_worktrail_records</name>
        <label>Update worktrail records</label>
        <locationX>446</locationX>
        <locationY>1331</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_Participants_home_address__c</field>
            <value>
                <elementReference>varSkjermingAdress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_isParticipantConfidential__c</field>
            <value>
                <elementReference>varSetConfidentalitet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_participant_skjerming_address__c</field>
            <value>
                <elementReference>varPersonAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_worktrail_records1</name>
        <label>Update worktrail records</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_isParticipantConfidential__c</field>
            <value>
                <elementReference>varSetConfidentalitet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confidential_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>INT_Confidential__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>INT_IsNavEmployee__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Person__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSetConfidentalitet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSkjermingAdress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
