force-app/main/default/flows/IPS_Update_Worktrail_Owner_When_Role_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Triggers when a platform event &apos;Role Changed&apos; is published.</description>
    <environments>Default</environments>
    <interviewLabel>IPS - Update Worktrail Owner When Role Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Update Worktrail Owner When Role Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>User_Log</name>
        <label>User Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Metodeveileder</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Profile__c</field>
            <value>
                <elementReference>$Record.Current_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Role__c</field>
            <value>
                <elementReference>$Record.Current_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Metodeveileder_Id__c</field>
            <value>
                <elementReference>$Record.Previous_Metodeveileder_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Metodeveileder__c</field>
            <value>
                <elementReference>$Record.Previous_Metodeveileder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Profile__c</field>
            <value>
                <elementReference>$Record.Previous_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Role__c</field>
            <value>
                <elementReference>$Record.Role_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Id__c</field>
            <value>
                <elementReference>$Record.Role_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Id__c</field>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Name__c</field>
            <value>
                <elementReference>$Record.User_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>User_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Metodeveileder</name>
        <label>Get Metodeveileder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Worktrails_Related_To_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Previous_Metodeveileder_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Worktrails_Related_To_User</name>
        <label>Worktrails Related To User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Worktrails_With_New_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Worktrails_With_New_Owner</name>
        <label>Update Worktrails With New Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Metodeveileder.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Log</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Role_Changed__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
