force-app/main/default/flows/IPS_createOrUpdateEmployeeMeeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createTravelTime</name>
        <label>createTravelTime</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkRelatedTo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>getEvents.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>getEvents.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>getEvents.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordtypeId</name>
            <value>
                <elementReference>getEvents.RecordTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>getEvents.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>getEvents.IPS_Status1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>getEvents.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>getEvents.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_eventTravelTimeController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>createTravelTime_0_0</name>
        <label>createTravelTime</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>getEvents.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>getEvents.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>getEvents.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordtypeId</name>
            <value>
                <elementReference>getEvents.RecordTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>getEvents.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>getEvents.IPS_Status1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>getEvents.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>getEvents.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_eventTravelTimeController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>updateTravelTime_0</name>
        <label>updateTravelTime</label>
        <locationX>1502</locationX>
        <locationY>647</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>getEvents.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>getEvents.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>getEvents.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordtypeId</name>
            <value>
                <elementReference>getEvents.RecordTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>getEvents.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>getEvents.IPS_Status1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>getEvents.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>getEvents.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_eventTravelTimeController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>addAccountId</name>
        <label>addAccountId</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varRelatedToAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEvents.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEvents.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createTravelTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addAssignmentsFromRecord</name>
        <label>addAssignmentsFromRecord</label>
        <locationX>1370</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>varRelatedToAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEvents.RelatedToAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEvents.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isParticipantsAdded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addPublicTrue</name>
        <label>addPublicTrue</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>varPublicTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateMeetingWithId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addAccountId</name>
        <label>addAccountId</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varRelatedToAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEvents.RelatedToAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEvents.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkMeetingCriteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addPublicFalse</name>
        <label>addPublicFalse</label>
        <locationX>1370</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>varPublicTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_meeting_with_Id1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addPublicTrue</name>
        <label>addPublicTrue</label>
        <locationX>1106</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>varPublicTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_meeting_with_Id1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkMeetingCriteria</name>
        <label>checkMeetingCriteria</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>nothing</defaultConnectorLabel>
        <rules>
            <name>isMeetingWithEmployerJobbstotte</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getEvents.ips_Subcategory_Type_IPS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvents.IPS_Subcategory_Type_UO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow-up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPS_createTaskBasedOnMeetingJobbstotte</targetReference>
            </connector>
            <label>isMeetingWithJobbstotte</label>
        </rules>
        <rules>
            <name>isMeetingWithEmployerJobbutvikling</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getEvents.ips_Subcategory_Type_IPS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvents.IPS_Subcategory_Type_UO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relationship building</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPS_createTaskBasedOnMeetingJobbutvikling</targetReference>
            </connector>
            <label>isMeetingWithJobbutvikling</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if changes is added travel or updates</description>
        <name>checkpoint1</name>
        <label>checkpoint1</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>updateTravelTime_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>anything else</defaultConnectorLabel>
        <rules>
            <name>addTravel</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ips_Travel_time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvents.ips_Travel_time__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IPS_travelTimeFrom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvents.IPS_travelTimeFrom__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTravelTime_0_0</targetReference>
            </connector>
            <label>addTravel</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRelatedTo</name>
        <label>checkRelatedTo</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>updateMeetingWithId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isFalse</defaultConnectorLabel>
        <rules>
            <name>isTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPS_participant_related_to_meeting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_contactid_into_event</targetReference>
            </connector>
            <label>isTrue</label>
        </rules>
    </decisions>
    <decisions>
        <description>check type of meeting</description>
        <name>checkType</name>
        <label>checkType</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_addAccountId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>anything else</defaultConnectorLabel>
        <rules>
            <name>isArbeidsgiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEvents.IPS_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbeidsgivermøte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAccountId</targetReference>
            </connector>
            <label>isArbeidsgiver</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkUpdate</name>
        <label>checkUpdate</label>
        <locationX>1370</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>addAssignmentsFromRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>toFinishLine</defaultConnectorLabel>
        <rules>
            <name>IsFirstMeetingFinished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEvents.IPS_Status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IPS_Status1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvents.F_rste_arbeidsgiverm_te__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateFirstEmployeeMeeting</targetReference>
            </connector>
            <label>IsFirstMeetingFinished</label>
        </rules>
    </decisions>
    <decisions>
        <name>isEventNew</name>
        <label>isEventNew</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>checkpoint1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isParticipantsAdded</name>
        <label>isParticipantsAdded</label>
        <locationX>1370</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>updateTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>noChanges</defaultConnectorLabel>
        <rules>
            <name>isTrue1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPS_participant_related_to_meeting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IPS_participant_related_to_meeting__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_contactid_into_event</targetReference>
            </connector>
            <label>isTrue</label>
        </rules>
        <rules>
            <name>isFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPS_participant_related_to_meeting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IPS_participant_related_to_meeting__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_addPublicFalse</targetReference>
            </connector>
            <label>isFalse</label>
        </rules>
    </decisions>
    <description>Create or update when using employee meeting or calendar
- create/update employee meeting
- create task
- create/update traveltime
- update startdate
- set public true</description>
    <environments>Default</environments>
    <formulas>
        <name>isDateTimeChanged</name>
        <dataType>Boolean</dataType>
        <expression>IsChanged({!$Record.StartDateTime} ) || isChanged({!$Record.EndDateTime})</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>IPS - create or update employee meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - create or update employee meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getEvents</name>
        <label>getEvents</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isEventNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_meeting_with_Id1</name>
        <label>Update meeting with Id</label>
        <locationX>1370</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>updateTask</targetReference>
        </connector>
        <inputAssignments>
            <field>IPS_taskId__c</field>
            <value>
                <elementReference>varOutputTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService__c</field>
            <value>
                <elementReference>varPublicTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToAccount__c</field>
            <value>
                <elementReference>varRelatedToAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateFirstEmployeeMeeting</name>
        <label>updateFirstEmployeeMeeting</label>
        <locationX>1238</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>addAssignmentsFromRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEvents.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ips_First_meeting_with_the_Employer_held__c</field>
            <value>
                <elementReference>getEvents.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateMeetingWithId</name>
        <label>Update meeting with Id</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <inputAssignments>
            <field>IPS_taskId__c</field>
            <value>
                <elementReference>varOutputTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService__c</field>
            <value>
                <elementReference>varPublicTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToAccount__c</field>
            <value>
                <elementReference>varRelatedToAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varWhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateTask</name>
        <label>updateTask</label>
        <locationX>1370</locationX>
        <locationY>1721</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEvents.IPS_taskId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>getEvents.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEvents</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reisetid</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Arbeidsgivermøte</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>First Meeting with Employer</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_contactid_into_event</name>
        <label>Add contactid into event</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>addPublicTrue</targetReference>
        </connector>
        <flowName>IPS_subflowAddContactId</flowName>
        <inputAssignments>
            <name>varWorkTrailId</name>
            <value>
                <elementReference>getEvents.WhatId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <name>varContactId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Add_contactid_into_event</name>
        <label>Copy 1 of Add contactid into event</label>
        <locationX>1106</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Copy_1_of_addPublicTrue</targetReference>
        </connector>
        <flowName>IPS_subflowAddContactId</flowName>
        <inputAssignments>
            <name>varWorkTrailId</name>
            <value>
                <elementReference>getEvents.WhatId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <name>varContactId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>IPS_createTaskBasedOnMeetingJobbstotte</name>
        <label>Create task based on meeting - jobbstotte</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>createTravelTime</targetReference>
        </connector>
        <flowName>IPS_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varActivityType</name>
            <value>
                <stringValue>Rekruttere og inkludere</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDueDate</name>
            <value>
                <elementReference>getEvents.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varKontoKontakt</name>
            <value>
                <elementReference>getEvents.Konto_kontakt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>getEvents.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>ArbeidsgiverTask</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedContact</name>
            <value>
                <elementReference>getEvents.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToAccount</name>
            <value>
                <elementReference>varRelatedToAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varService</name>
            <value>
                <stringValue>Jobbstøtte (Jobbspesialist)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <stringValue>IPS/AMS Møte</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>varRelatedToAccount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOutputTaskId</assignToReference>
            <name>varTaskId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>IPS_createTaskBasedOnMeetingJobbutvikling</name>
        <label>Create task based on meeting - jobbutvikling</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>createTravelTime</targetReference>
        </connector>
        <flowName>IPS_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varActivityType</name>
            <value>
                <stringValue>Rekruttere og inkludere</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDueDate</name>
            <value>
                <elementReference>getEvents.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varKontoKontakt</name>
            <value>
                <elementReference>getEvents.Konto_kontakt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>getEvents.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>ArbeidsgiverTask</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedContact</name>
            <value>
                <elementReference>getEvents.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToAccount</name>
            <value>
                <elementReference>varRelatedToAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varService</name>
            <value>
                <stringValue>Jobbutvikling (Jobbspesialist)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <stringValue>IPS/AMS Møte</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>varRelatedToAccount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOutputTaskId</assignToReference>
            <name>varTaskId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEventSubCategoryTypeIPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventSubCategoryTypeUO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutputTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPublicTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRelatedToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedToContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWhoIDEmpty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
