force-app/main/default/flows/IPS_Archive_worktrail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_worktrail_to_JSON</name>
        <label>Convert worktrail to JSON</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <actionName>ArchiveHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_worktrail_to_archive</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>Work_Trail__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordsList</name>
            <value>
                <elementReference>worktralCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArchiveHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>archiveData</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Events_to_JSON</name>
        <label>Events to JSON</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <actionName>ArchiveHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_events_to_archive</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>Event</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordsList</name>
            <value>
                <elementReference>eventsToArchive</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArchiveHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>eventJsonOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_archive_Events</name>
        <label>Post to archive - Events</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <actionName>ArchiveHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>archiveData</name>
            <value>
                <elementReference>eventJsonOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dokumentasjonId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fnr</name>
            <value>
                <elementReference>$Record.IPS_Personnummer__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>konfidentiellt</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opprettetAv</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceObject</name>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tema</name>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ArchiveHandler</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_worktrail_to_archive</name>
        <label>Post worktrail to archive</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>ArchiveHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_meetings_related_to_worktrail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>archiveData</name>
            <value>
                <elementReference>archiveData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dokumentasjonId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fnr</name>
            <value>
                <elementReference>$Record.IPS_Personnummer__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>konfidentiellt</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opprettetAv</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceObject</name>
            <value>
                <stringValue>Work_Trail__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tema</name>
            <value>
                <stringValue>Jobbspor</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ArchiveHandler</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_events_to_archive</name>
        <label>Add events to archive</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>eventsFileToArchive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventJsonOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Events_Exceed_Max_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_worktrail_to_archive</name>
        <label>Add Worktrail To Archive</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>worktrailDataToSplit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>archiveData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_worktrail_exceeds_maxlimit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Event_to_archive</name>
        <label>Event to archive</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>eventToArchive.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_meetings_to_collection.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventToArchive.IPS_Status1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_meetings_to_collection.IPS_Status1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Events_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Events_collection</name>
        <label>Events collection</label>
        <locationX>270</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>eventsToArchive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventToArchive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_meetings_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Worktrail_collection_to_convert_to_JSON</name>
        <label>Worktrail collection to convert to JSON</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>worktralCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>worktrailToArchive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_worktrail_to_JSON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Worktrail_to_archive</name>
        <label>Worktrail to archive</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>worktrailToArchive.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.IPS_Personnummer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPS_Personnummer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Referred_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Referred_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.Oppstartsdato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oppstartsdato__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_Main_Goal_list__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_Main_Goal_list__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Worktrail_collection_to_convert_to_JSON</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Events_Exceed_Max_Limit</name>
        <label>Is Events Exceed Max Limit ?</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Post_to_archive_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Events</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventsExceedMaxLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_archive_entries_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_worktrail_exceeds_maxlimit</name>
        <label>Is worktrail exceeds maxlimit ?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Post_worktrail_to_archive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_worktrail_exceeds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWorktrailExceedsMaxLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_archive_entries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>eventsExceedMaxLimit</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!eventJsonOutput}) &gt; 150,
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>isWorktrailExceedsMaxLimit</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!archiveData}) &gt; 150,
TRUE,
FALSE)</expression>
    </formulas>
    <formulas>
        <description>The field storing archive data is -  Long Text Area(131072). 
Limited to 90,000 characters to avoid exceeding the maximum limit when Base64 encoding is applied.</description>
        <name>isWorktrailFileTooLong</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!worktrailFileToPost}) &gt; 150
,TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>IPS - Archive worktrail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Archive worktrail</label>
    <loops>
        <name>Add_meetings_to_collection</name>
        <label>Add meetings to collection</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_meetings_related_to_worktrail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Event_to_archive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Events_to_JSON</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_meetings_related_to_worktrail</name>
        <label>Get meetings related to worktrail</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_meetings_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Worktrail_to_archive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Ready_for_archive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Work_Trail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_archive_entries</name>
        <label>Create archive entries</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_meetings_related_to_worktrail</targetReference>
        </connector>
        <flowName>IPS_Create_archive_entries</flowName>
        <inputAssignments>
            <name>archiveDataToSplit</name>
            <value>
                <elementReference>worktrailDataToSplit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>confidential</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>domain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fnr</name>
            <value>
                <elementReference>$Record.IPS_Personnummer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_archive_entries_Event</name>
        <label>Create Archive Entries - Event</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <flowName>IPS_Create_archive_entries</flowName>
        <inputAssignments>
            <name>archiveDataToSplit</name>
            <value>
                <elementReference>eventsFileToArchive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>confidential</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>domain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fnr</name>
            <value>
                <elementReference>$Record.IPS_Personnummer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>archiveData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>archiveResponce</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>eventJsonOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventsFileToArchive</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventsToArchive</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>eventToArchive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>worktrailDataToSplit</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>worktrailFileToPost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>worktrailToArchive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Trail__c</objectType>
    </variables>
    <variables>
        <name>worktralCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Trail__c</objectType>
    </variables>
</Flow>
