force-app/main/default/flows/IPS_subflowEndReportUO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_report_page</name>
        <label>Go to report page</label>
        <locationX>182</locationX>
        <locationY>4286</locationY>
        <actionName>c:IPS_redirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varReportingId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>addCurrentAccountId_0</name>
        <label>addCurrentAccountId</label>
        <locationX>534</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterateEmplMeetingsUO.RelatedToAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateEmplMeetingsUO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addJobs</name>
        <label>addJobs</label>
        <locationX>162</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Stilling som: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Jobbtype: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varJobType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.ips_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.ips_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Status: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varJobStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Antall timer i uka: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.ips_Number_of_hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateJobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantNoShow</name>
        <label>addParticipantNoShow</label>
        <locationX>182</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>varParticipantNoShow</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getParticipantNoShow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getJobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantShowMeeting</name>
        <label>addParticipantShowMeeting</label>
        <locationX>182</locationX>
        <locationY>3134</locationY>
        <assignmentItems>
            <assignToReference>varParticipantShowCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getParticipantMeetings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getParticipantNoShow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTask</name>
        <label>addTask</label>
        <locationX>162</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addText</name>
        <label>addText</label>
        <locationX>290</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deltaker har ingen fullførte delmål i perioden</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getParticipantMeetings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countParticipantEmployeeNoShow</name>
        <label>countParticipantEmployeeNoShow</label>
        <locationX>534</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varCountParticipantEmployeeNoShow</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForDuplicatUO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countParticipantEmployMeeting</name>
        <label>countParticipantEmployMeeting</label>
        <locationX>270</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varCountParticipantEmployeeMeeting</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForDuplicatUO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmplName_0</name>
        <label>setEmplName</label>
        <locationX>754</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>employeeMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsUO.RelatedToAccount__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>employeeMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCurrentAccountId_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmplName_0_0</name>
        <label>setEmplName</label>
        <locationX>490</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>employeeMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsUO.RelatedToAccount__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>employeeMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCurrentAccountId_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setScreenVariableNew</name>
        <label>setScreenVariableNew</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varsummarizeCooperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizeCooperationUONew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSummarizeParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummarizeParticipantUONew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSummarizeEmployeer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummarizeEmployeerUONew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsummarizeParticipantMeetings</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizeParticipantMeetingsNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsummarizeEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizeEndUONew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEmplMeetings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setScreenVariableNew_0</name>
        <label>setScreenVariableNew</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varsummarizeCooperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizeCooperationUOOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSummarizeParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummarizeParticipantUOOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSummarizeEmployeer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummarizeEmployeerUOOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsummarizeParticipantMeetings</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizeParticipantMeetingsOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsummarizeEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizeEndUOOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReportingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEndReports.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEmplMeetings</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <decisions>
        <name>checkForDuplicatUO</name>
        <label>checkForDuplicatUO</label>
        <locationX>534</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>setEmplName_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDuplicatAccountUO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUO.RelatedToAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varAccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCurrentAccountId_0</targetReference>
            </connector>
            <label>isDuplicatAccountUO</label>
        </rules>
        <rules>
            <name>isFirstAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setEmplName_0_0</targetReference>
            </connector>
            <label>isFirstAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkJob_0</name>
        <label>checkJob</label>
        <locationX>182</locationX>
        <locationY>3614</locationY>
        <defaultConnector>
            <targetReference>updateReport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsJobNotNull_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getJobs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateJobs</targetReference>
            </connector>
            <label>IsJobNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkNumberOfMeetingWithParticipant</name>
        <label>checkNumberOfMeetingWithParticipant</label>
        <locationX>534</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>checkForDuplicatUO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isWithParticipant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUO.WhoId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getParticipantDetailsUO.PersonContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUO.IPS_No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>countParticipantEmployMeeting</targetReference>
            </connector>
            <label>isWithParticipant</label>
        </rules>
        <rules>
            <name>isNoShow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUO.WhoId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getParticipantDetailsUO.PersonContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUO.IPS_No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>countParticipantEmployeeNoShow</targetReference>
            </connector>
            <label>isNoShow</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if report is empty.</description>
        <name>checkReportingIsNotNull</name>
        <label>checkReportingIsNotNull</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>createReportingRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>IsNotReportingNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEndReports</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workTrailEndReportUO</targetReference>
            </connector>
            <label>IsNotReportingNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTask_0</name>
        <label>checkTask</label>
        <locationX>182</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>addText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>IsNotTaskNull_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTasksUO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateTasks</targetReference>
            </connector>
            <label>IsNotTaskNull</label>
        </rules>
    </decisions>
    <formulas>
        <name>employeeRow</name>
        <dataType>String</dataType>
        <expression>{!iterateEmplMeetingsUO.RelatedToAccount__r.Name}</expression>
    </formulas>
    <formulas>
        <name>jobRow</name>
        <dataType>String</dataType>
        <expression>{!iterateJobs.ips_Employer__r.Name}&amp;&apos;, &apos;&amp;{!iterateJobs.Name}&amp;&apos;, &apos;&amp;TEXT({!iterateJobs.ips_Form_of_Employment__c})</expression>
    </formulas>
    <formulas>
        <name>taskRow</name>
        <dataType>String</dataType>
        <expression>{!iterateTasks.Subject}
&amp;&apos;, &apos;&amp;
CASE(TEXT({!iterateTasks.Status}),
&apos;Open&apos;,&apos;Åpen&apos;,
&apos;Completed&apos;,&apos;Gjennomført&apos;,
&apos; &apos;)
&amp;&apos;, &apos;&amp;
TEXT(DAY(DATEVALUE({!iterateTasks.CompletedDateTime})))&amp;&quot;.&quot;&amp;TEXT(MONTH(DATEVALUE({!iterateTasks.CompletedDateTime})))&amp;&quot;.&quot;&amp;TEXT(YEAR(DATEVALUE({!iterateTasks.CompletedDateTime})))</expression>
    </formulas>
    <formulas>
        <name>varEndDateUO</name>
        <dataType>Date</dataType>
        <expression>{!getWorktrailUO.ips_End_Date__c}</expression>
    </formulas>
    <formulas>
        <name>varJobStatus</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!iterateJobs.ips_Status__c}),
&apos;Ongoing&apos;,&apos;Pågående&apos;,
&apos;Planned&apos;,&apos;Planlagt&apos;,
&apos;Completed&apos;,&apos;Avsluttet&apos;,
&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varJobType</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!iterateJobs.ips_Form_of_Employment__c}),
&apos;Freelance / self-employed&apos;,&apos;Freelance/selvstendig næringsdrivende&apos;,
&apos;Job taster&apos;,&apos;Jobbsmak&apos;,
&apos;Permanent employment&apos;,&apos;Fast ansettelse&apos;,
&apos;Temporary employment&apos;,&apos;Tidsbegrenset ansettelse&apos;,
&apos;Work training&apos;,&apos;Arbeidstrening&apos;,
&apos;Zero hours contrac&apos;,&apos;Tilkalling ekstrajobb&apos;,
&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varStartDateUO</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!getWorktrailUO.Oppstartsdato__c})</expression>
    </formulas>
    <formulas>
        <name>varTaskRowHeading</name>
        <dataType>String</dataType>
        <expression>RPAD(&quot;Dato &quot;,10,&apos; &apos;)&amp;RPAD(&quot;Beskrivelse &quot;,100,&apos; &apos;)&amp;RPAD(&quot;Status &quot;,20,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>viewRecordTypeName</name>
        <dataType>String</dataType>
        <expression>CASE({!recordTypeName},
&apos;ips_Supported_Employment&apos;,&apos;Utvidet oppfølging&apos;,
&apos;IPS&apos;
)</expression>
    </formulas>
    <interviewLabel>IPS - subflow end report UO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - subflow end report UO</label>
    <loops>
        <name>iterateEmplMeetingsUO</name>
        <label>iterateEmplMeetingsUO</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <collectionReference>getEmplMeetings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkNumberOfMeetingWithParticipant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getTasksUO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateJobs</name>
        <label>iterateJobs</label>
        <locationX>74</locationX>
        <locationY>3734</locationY>
        <collectionReference>getJobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addJobs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateReport</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateTasks</name>
        <label>iterateTasks</label>
        <locationX>74</locationX>
        <locationY>2582</locationY>
        <collectionReference>getTasksUO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addTask</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getParticipantMeetings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createReportingRecord</name>
        <label>createReportingRecord</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>varReportingId</assignRecordIdToReference>
        <connector>
            <targetReference>workTrailEndReportUO_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>IPS_report_Type__c</field>
            <value>
                <stringValue>End report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_workTrailName__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ips_report__c</object>
    </recordCreates>
    <recordLookups>
        <name>getEmplMeetings</name>
        <label>getEmplMeetings</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateEmplMeetingsUO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Subcategory_Type_UO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship building</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all end report if it exists - only the ones that is open. Archived reports should not be altered.</description>
        <name>getEndReports</name>
        <label>getEndReports</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkReportingIsNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IPS_workTrailName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_report_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>End report</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ips_report__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobs</name>
        <label>getJobs</label>
        <locationX>182</locationX>
        <locationY>3494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkJob_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Work_Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ips_Job__c</object>
        <sortField>ips_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOwnerUO</name>
        <label>getOwnerUO</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getParticipantDetailsUO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailUO.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantDetailsUO</name>
        <label>getParticipantDetailsUO</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEndReports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailUO.ips_Participant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantMeetings</name>
        <label>getParticipantMeetings</label>
        <locationX>182</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addParticipantShowMeeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Participant</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_No_Show__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantNoShow</name>
        <label>getParticipantNoShow</label>
        <locationX>182</locationX>
        <locationY>3254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addParticipantNoShow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_No_Show__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Participant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTasksUO</name>
        <label>getTasksUO</label>
        <locationX>182</locationX>
        <locationY>2342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTask_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål (av hovedmål)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CompletedDateTime</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorktrailUO</name>
        <label>getWorktrailUO</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOwnerUO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateReport</name>
        <label>updateReport</label>
        <locationX>182</locationX>
        <locationY>4166</locationY>
        <connector>
            <targetReference>Go_to_report_page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReportingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_endReportSumm1__c</field>
            <value>
                <elementReference>varsummarizeCooperation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_endReportSumm2__c</field>
            <value>
                <elementReference>varSummarizeParticipant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_endReportSumm3__c</field>
            <value>
                <elementReference>varSummarizeEmployeer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_endReportSumm4__c</field>
            <value>
                <elementReference>varsummarizeParticipantMeetings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_endReportSumm5__c</field>
            <value>
                <elementReference>varsummarizeEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_endReport__c</field>
            <value>
                <elementReference>templateUOEndReport</elementReference>
            </value>
        </inputAssignments>
        <object>ips_report__c</object>
    </recordUpdates>
    <screens>
        <name>workTrailEndReportUO</name>
        <label>Slutt rapport</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setScreenVariableNew_0</targetReference>
        </connector>
        <fields>
            <name>compMessageOld</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du endrer en eksisterende  sluttrapport</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTrailEndReportUO_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportUO_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportUO_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportUO_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtParticipantTextOld</name>
                    <fieldText>&lt;p&gt;Deltakernavn:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportUO_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>varParticipantsNameOld</name>
                    <fieldText>&lt;p&gt;{!getParticipantDetailsUO.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!getParticipantDetailsUO.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportUO_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportUO_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayInfoTxtUOOld</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Rapporten skal omhandle hva som har vært forsøkt av arbeidsoppgaver og tilrettelegging, og anbefaling om videre tiltak eller tilrettelegging. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Rapporten må kunne brukes som dokumentasjon ved utarbeidelse av arbeidsevnevurdering, også i forbindelse med søknad om uføretrygd dersom aktuelt. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Hvis resultatet av Utvidet oppfølging er et stabilt arbeidsforhold, er det ikke på samme måte behov for en fyldig rapport. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Husk at rapporten alltid skal godkjennes av deltaker.&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportUO_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportUO_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayInfoTxtUO1Old</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Kommer etter definerte felter som hentes fra Yrkesprofil, per mai 22 kun ett felt.&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>summarizeCooperationUOOld</name>
                    <defaultValue>
                        <stringValue>{!getEndReports.IPS_endReportSumm1__c}</stringValue>
                    </defaultValue>
                    <fieldText>Oppsummering av innholdet i, og samarbeidet rundt, yrkeskartlegging og karriereplanlegging.</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Hvordan samarbeidet du og deltakeren for å komme frem til retning for jobbsøk m.m.?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Eksempler: oppsøkt bedrifter sammen, jobbsmak, gjennomgått karriereveiledning, arbeidet med CV og/eller jobbsøkerferdigheter. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Har Yrkesprofilen og retningen endret seg underveis, i så fall hvordan og hvorfor?&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 10px;&quot;&gt;Beskrivelse av hvordan jobbspesialist og deltaker har jobbet sammen om yrkeskartlegging og karriereprofil.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>diplayInfoTxtUO2Old</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Kommer etter oversikten over antall deltakermøter møtt og ikke møtt.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummarizeParticipantUOOld</name>
            <defaultValue>
                <stringValue>{!getEndReports.IPS_endReportSumm2__c}</stringValue>
            </defaultValue>
            <fieldText>Oppsummering av samarbeidet mellom deltaker og jobbspesialist.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;Oppsummering av samarbeidet underveis i tjenesten. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;Eksempler: hvor har dere primært møttes, og hvor hyppig? Om deltakeren har hatt utfordringer med oppmøte, hvordan har du tilnærmet deg det, og hvilke strategier er evt. forsøkt?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayInfoTxtUO3Old</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Kommer etter oversikten over hvilke arbeidsgivere det har vært relasjonsbyggende kontakt med underveis.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummarizeEmployeerUOOld</name>
            <defaultValue>
                <stringValue>{!getEndReports.IPS_endReportSumm3__c}</stringValue>
            </defaultValue>
            <fieldText>Oppsummering av arbeid ut mot, og samarbeid med, arbeidsgivere .</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Oppsummering av den jobben jobbspesialist har gjort ut mot arbeidsgivere i den hensikt å skaffe jobbmuligheter. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Har jobbspesialisten hatt kontakt med arbeidsgivere alene eller sammen med deltakeren? Om deltakeren på egenhånd har hatt kontakt med arbeidsgivere kan også det beskrives her. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Hvis samarbeid med arbeidsgivere ikke resulterte i muligheter for jobb, hva kan dette skyldes?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayInfoTxtUO4Old</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Kommer etter oversikten over jobber.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>summarizeParticipantMeetingsOld</name>
            <defaultValue>
                <stringValue>{!getEndReports.IPS_endReportSumm4__c}</stringValue>
            </defaultValue>
            <fieldText>Oppsummering av deltakelse i jobb eller arbeidstrening underveis i løpet.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Oppsummering av erfaringer dersom deltakeren har vært i jobb eller arbeidstrening. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Hva fungerte, og hva fungerte ikke? Hva slags tilrettelegging var nødvendig for at det skulle fungere, og hvor stor stilling? Hvordan samarbeidet deltaker, jobbspesialist og arbeidsgiver om jobbstøtte underveis?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayTxtInfoUO5Old</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Kommer til slutt.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>summarizeEndUOOld</name>
            <defaultValue>
                <stringValue>{!getEndReports.IPS_endReportSumm5__c}</stringValue>
            </defaultValue>
            <fieldText>Avsluttende oppsummering</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Avsluttende oppsummering og anbefaling om videre tiltak eller tilrettelegging, basert på det som har vært forsøkt og det man har erfart underveis.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>workTrailEndReportUO_0_0</name>
        <label>Slutt rapport</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setScreenVariableNew</targetReference>
        </connector>
        <fields>
            <name>compMessageNew</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å lage sluttrapport</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTrailEndReportUO_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportUO_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportUO_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportUO_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtParticipantTextNew</name>
                    <fieldText>&lt;p&gt;Deltakernavn:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportUO_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>varParticipantsNameNew</name>
                    <fieldText>&lt;p&gt;{!getParticipantDetailsUO.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!getParticipantDetailsUO.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportUO_0_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportUO_0_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayInfoTxtUONew</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Rapporten skal omhandle hva som har vært forsøkt av arbeidsoppgaver og tilrettelegging, og anbefaling om videre tiltak eller tilrettelegging. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Rapporten må kunne brukes som dokumentasjon ved utarbeidelse av arbeidsevnevurdering, også i forbindelse med søknad om uføretrygd dersom aktuelt. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Hvis resultatet av Utvidet oppfølging er et stabilt arbeidsforhold, er det ikke på samme måte behov for en fyldig rapport. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Husk at rapporten alltid skal godkjennes av deltaker.&amp;nbsp;&lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportUO_0_0_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportUO_0_0_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayInfoTxtUO1New</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Kommer etter definerte felter som hentes fra Yrkesprofil, per mai 22 kun ett felt.&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>summarizeCooperationUONew</name>
                    <fieldText>Oppsummering av innholdet i, og samarbeidet rundt, yrkeskartlegging og karriereplanlegging.</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Hvordan samarbeidet du og deltakeren for å komme frem til retning for jobbsøk m.m.?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Eksempler: oppsøkt bedrifter sammen, jobbsmak, gjennomgått karriereveiledning, arbeidet med CV og/eller jobbsøkerferdigheter. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Har Yrkesprofilen og retningen endret seg underveis, i så fall hvordan og hvorfor?&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 10px;&quot;&gt;Beskrivelse av hvordan jobbspesialist og deltaker har jobbet sammen om yrkeskartlegging og karriereprofil.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>diplayInfoTxtUO2New</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Kommer etter oversikten over antall deltakermøter møtt og ikke møtt.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummarizeParticipantUONew</name>
            <fieldText>Oppsummering av samarbeidet mellom deltaker og jobbspesialist.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;Oppsummering av samarbeidet underveis i tjenesten. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;Eksempler: hvor har dere primært møttes, og hvor hyppig? Om deltakeren har hatt utfordringer med oppmøte, hvordan har du tilnærmet deg det, og hvilke strategier er evt. forsøkt?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayInfoTxtUO3New</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Kommer etter oversikten over hvilke arbeidsgivere det har vært relasjonsbyggende kontakt med underveis.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummarizeEmployeerUONew</name>
            <fieldText>Oppsummering av arbeid ut mot, og samarbeid med, arbeidsgivere .</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Oppsummering av den jobben jobbspesialist har gjort ut mot arbeidsgivere i den hensikt å skaffe jobbmuligheter. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Har jobbspesialisten hatt kontakt med arbeidsgivere alene eller sammen med deltakeren? Om deltakeren på egenhånd har hatt kontakt med arbeidsgivere kan også det beskrives her. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Hvis samarbeid med arbeidsgivere ikke resulterte i muligheter for jobb, hva kan dette skyldes?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayInfoTxtUO4New</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Kommer etter oversikten over jobber.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>summarizeParticipantMeetingsNew</name>
            <fieldText>Oppsummering av deltakelse i jobb eller arbeidstrening underveis i løpet.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Oppsummering av erfaringer dersom deltakeren har vært i jobb eller arbeidstrening. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Hva fungerte, og hva fungerte ikke? Hva slags tilrettelegging var nødvendig for at det skulle fungere, og hvor stor stilling? Hvordan samarbeidet deltaker, jobbspesialist og arbeidsgiver om jobbstøtte underveis?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayTxtInfoUO5New</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Kommer til slutt.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>summarizeEndUONew</name>
            <fieldText>Avsluttende oppsummering</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Avsluttende oppsummering og anbefaling om videre tiltak eller tilrettelegging, basert på det som har vært forsøkt og det man har erfart underveis.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorktrailUO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: serif;&quot;&gt;{!conGES}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateUOEndReport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Sluttrapport Utvidet oppfølging - &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt; {!getParticipantDetailsUO.FirstName} {!getParticipantDetailsUO.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Innledning&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Deltaker:                 {!getParticipantDetailsUO.FirstName} {!getParticipantDetailsUO.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Jobbspesialist:        {!getOwnerUO.FirstName} {!getOwnerUO.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;NAV-veileder:         {!getWorktrailUO.ips_NAV_supervisor__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Behandlingsteam:  {!getWorktrailUO.ips_Behandlingsteam__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;Startdato:               {!varStartDateUO}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;Sluttdato:               {!varEndDateUO}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Sluttårsak:              {!getWorktrailUO.ips_Other_end_cases__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(38, 38, 38); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Yrkeskartlegging og karriereplanlegging&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Ønsket yrke/bransje/karriere&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!getWorktrailUO.ips_Desired_profession_industry_career__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!varsummarizeCooperation}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Handlingsplan&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Hovedmål&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!getWorktrailUO.ips_Main_goal__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Delmål&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!taskList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Deltagermøter&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Det er gjennomført {!varParticipantShowCount} deltagermøte(r) med deltager tilstede.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Det er {!varParticipantNoShow} deltagermøte(r) hvor deltager ikke har møtt.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;Oppsummering av samarbeid mellom deltaker og jobbspesialist&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!SummarizeParticipantUOOld}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Samarbeid med arbeidsgivere&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Jobbspesialist har enten på egenhånd, eller sammen med deg, vært i kontakt med følgende arbeidsgivere for å utforske mulighetene for arbeid:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!employeeMeetings}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Det er gjennomført {!varCountParticipantEmployeeMeeting} arbeidsgivermøte(r) med deltager tilstede.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Det er {!varCountParticipantEmployeeNoShow} arbeidsgivermøte(r) hvor deltager ikke har møtt.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Oppsummering av samarbeid med arbeidsgivere&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!SummarizeEmployeerUOOld}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Deltagelse i jobb/arbeidstrening&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!jobsList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Oppsummering av jobbdeltakelse&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!summarizeParticipantMeetingsOld}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Avsluttende Oppsummering&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!summarizeEndUOOld}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>assignmentParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>employeeMeetings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endCause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobsList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobsListIPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantMeetingIntervallShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantMeetings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supervisorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskListForward</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountParticipantEmployeeMeeting</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountParticipantEmployeeNoShow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDesiredProfession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmployeeMeetingForward</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMainGoal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantNoShow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varParticipantShowCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPriorityCareerWishes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varsummarizeCooperation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSummarizeEmployeer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varsummarizeEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSummarizeParticipant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varsummarizeParticipantMeetings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkTrailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTrailEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTrailStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
