force-app/main/default/flows/IPS_jobb_insert_update_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>put_IPS_as_working</name>
        <label>Sett IPS til jobber</label>
        <locationX>50</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>getWorktrail.ips_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEndDatePassed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_as_completed</name>
        <label>Sett Jobb Status til Avsluttet</label>
        <locationX>50</locationX>
        <locationY>1188</locationY>
        <assignmentItems>
            <assignToReference>$Record.ips_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_status_as_ongoing</name>
        <label>Sett jobbstatus til Påbegynt</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>$Record.ips_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsIPSJobOngoing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks to see if the end date has passed, and if so, sets the jobb status as completed</description>
        <name>IsEndDatePassed</name>
        <label>IsEndDatePassed</label>
        <locationX>182</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasPassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>todaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_as_completed</targetReference>
            </connector>
            <label>HasPassed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsIPSJobOngoing</name>
        <label>IsIPSJobOngoing</label>
        <locationX>182</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>IsEndDatePassed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IPSJobOngoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ongoing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_Work_Trail__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorktrail</targetReference>
            </connector>
            <label>IPSJobOngoing</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsStartDateTodayOrPreviously</name>
        <label>IsStartDateTodayOrPreviously</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>IsIPSJobOngoing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ips_Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>todaysDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_status_as_ongoing</targetReference>
            </connector>
            <label>IsTrue</label>
        </rules>
    </decisions>
    <formulas>
        <name>todaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IPS jobb insert/update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS jobb insert/update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getWorktrail</name>
        <label>getWorktrail</label>
        <locationX>50</locationX>
        <locationY>732</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>put_IPS_as_working</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ips_Work_Trail__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsStartDateTodayOrPreviously</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ips_Job__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-24</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
