force-app/main/default/flows/IPS_subflowEndReportIPS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>addCurrentAccountId</name>
        <label>addCurrentAccountId</label>
        <locationX>534</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterateEmplMeetingsIPS.RelatedToAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateEmplMeetingsIPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addJobsIPS</name>
        <label>addJobsIPS</label>
        <locationX>162</locationX>
        <locationY>4406</locationY>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Stilling som: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobsIPS.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Jobbtype: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varJobTypeIPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varStartDateIPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEndDateIPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobsListIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateJobsIPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantShowMeeting</name>
        <label>addParticipantShowMeeting</label>
        <locationX>182</locationX>
        <locationY>3806</locationY>
        <assignmentItems>
            <assignToReference>varParticipantShowCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getParticipantMeetingsIPS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getParticipantNoShowIPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addRecordDate</name>
        <label>addRecordDate</label>
        <locationX>162</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varPassiveRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deltaker har vært passiv i perioden </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPassiveRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPassiveFromDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPassiveRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPassiveRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iteratePassivRecords.IPS_endDatePassive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPassiveRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iteratePassivRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTaskIPS</name>
        <label>addTaskIPS</label>
        <locationX>162</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRowIPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateTasksIPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>counterNoShow</name>
        <label>counterNoShow</label>
        <locationX>534</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>varCountNoShow</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForDuplicat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>counterWithEmployeeParticipant</name>
        <label>counterWithEmployeeParticipant</label>
        <locationX>270</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>varCounterParticipantEmployeeMeeting</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForDuplicat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmplName</name>
        <label>setEmplName</label>
        <locationX>754</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>employeeMeetingsIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsIPS.RelatedToAccount__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>employeeMeetingsIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCurrentAccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmplName_0</name>
        <label>setEmplName</label>
        <locationX>490</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>employeeMeetingsIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsIPS.RelatedToAccount__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>employeeMeetingsIPS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCurrentAccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setScreenVariableNew</name>
        <label>setScreenVariableNew</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varsummarizeCooperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizeCooperationIPSOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSummarizeEmployeer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummarizeEmployeerIPSOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsummarizePosNeg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizePosNegIPSOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNeedForHelp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>needForHelpIPSOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsummarizeEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizeEndIPSOld</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPassivRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setScreenVariableOld</name>
        <label>setScreenVariableOld</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varsummarizeCooperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizeCooperationIPSOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSummarizeEmployeer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummarizeEmployeerIPSOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsummarizePosNeg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizePosNegIPSOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNeedForHelp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>needForHelpIPSOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsummarizeEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizeEndIPSOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReportId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEndReports.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPassivRecords</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <decisions>
        <name>checkForDuplicat</name>
        <label>checkForDuplicat</label>
        <locationX>534</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>setEmplName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDuplicatAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateEmplMeetingsIPS.RelatedToAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varAccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCurrentAccountId</targetReference>
            </connector>
            <label>isDuplicatAccount</label>
        </rules>
        <rules>
            <name>isFirstAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setEmplName_0</targetReference>
            </connector>
            <label>isFirstAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkJob</name>
        <label>checkJob</label>
        <locationX>182</locationX>
        <locationY>4166</locationY>
        <defaultConnector>
            <targetReference>updateReport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsJobNotNullIPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getJobsIPS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateJobsIPS</targetReference>
            </connector>
            <label>IsJobNotNullIPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkNumberOfMeetingWithParticipant</name>
        <label>checkNumberOfMeetingWithParticipant</label>
        <locationX>534</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>checkForDuplicat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isWithParticipant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateEmplMeetingsIPS.WhoId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getParticipantDetailsIPS.PersonContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateEmplMeetingsIPS.IPS_No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>counterWithEmployeeParticipant</targetReference>
            </connector>
            <label>isWithParticipant</label>
        </rules>
        <rules>
            <name>isNoShow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateEmplMeetingsIPS.WhoId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getParticipantDetailsIPS.PersonContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateEmplMeetingsIPS.IPS_No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>counterNoShow</targetReference>
            </connector>
            <label>isNoShow</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecords</name>
        <label>checkRecords</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>getEmplMeetingsIPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPassivRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iteratePassivRecords</targetReference>
            </connector>
            <label>isNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkReportTypeIPS</name>
        <label>checkReportTypeIPS</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>createReport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNull</defaultConnectorLabel>
        <rules>
            <name>IsNotReportingNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEndReports</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workTrailEndReportIPS</targetReference>
            </connector>
            <label>IsNotReportingNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTaskIPS</name>
        <label>checkTaskIPS</label>
        <locationX>182</locationX>
        <locationY>3134</locationY>
        <defaultConnector>
            <targetReference>getParticipantMeetingsIPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>IsNotTaskNullIPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTasksIPS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateTasksIPS</targetReference>
            </connector>
            <label>IsNotTaskNullIPS</label>
        </rules>
    </decisions>
    <formulas>
        <name>taskRowIPS</name>
        <dataType>String</dataType>
        <expression>{!iterateTasksIPS.Subject}
&amp;&apos;, &apos;&amp;
CASE(TEXT({!iterateTasksIPS.Status}),
&apos;Open&apos;,&apos;Åpen&apos;,
&apos;Completed&apos;,&apos;Gjennomført&apos;,
&apos; &apos;)
&amp;&apos;  -  &apos;&amp;
TEXT(DAY(DATEVALUE({!iterateTasksIPS.CompletedDateTime})))&amp;&quot;.&quot;&amp;TEXT(MONTH(DATEVALUE({!iterateTasksIPS.CompletedDateTime})))&amp;&quot;.&quot;&amp;TEXT(YEAR(DATEVALUE({!iterateTasksIPS.CompletedDateTime})))</expression>
    </formulas>
    <formulas>
        <name>varEndDateIPS</name>
        <dataType>Date</dataType>
        <expression>{!getWorktrailIPS.ips_End_Date__c}</expression>
    </formulas>
    <formulas>
        <name>varJobStatusIPS</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!iterateJobsIPS.ips_Status__c}),
&apos;Ongoing&apos;,&apos;Pågående&apos;,
&apos;Planned&apos;,&apos;Planlagt&apos;,
&apos;Completed&apos;,&apos;Avsluttet&apos;,
&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varJobTypeIPS</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!iterateJobsIPS.ips_Form_of_Employment__c}),
&apos;Freelance / self-employed&apos;,&apos;Freelance/selvstendig næringsdrivende&apos;,
&apos;Job taster&apos;,&apos;Jobbsmak&apos;,
&apos;Permanent employment&apos;,&apos;Fast ansettelse&apos;,
&apos;Temporary employment&apos;,&apos;Tidsbegrenset ansettelse&apos;,
&apos;Work training&apos;,&apos;Arbeidstrening&apos;,
&apos;Zero hours contrac&apos;,&apos;Tilkalling ekstrajobb&apos;,
&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varPassiveFromDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!iteratePassivRecords.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>varStartDateIPS</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!getWorktrailIPS.Oppstartsdato__c})</expression>
    </formulas>
    <formulas>
        <name>varTaskRowHeading</name>
        <dataType>String</dataType>
        <expression>RPAD(&quot;Dato &quot;,10,&apos; &apos;)&amp;RPAD(&quot;Beskrivelse &quot;,100,&apos; &apos;)&amp;RPAD(&quot;Status &quot;,20,&apos; &apos;)</expression>
    </formulas>
    <interviewLabel>IPS - subflow end report IPS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - subflow end report IPS</label>
    <loops>
        <name>iterateEmplMeetingsIPS</name>
        <label>iterateEmplMeetingsIPS</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <collectionReference>getEmplMeetingsIPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkNumberOfMeetingWithParticipant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getTasksIPS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateJobsIPS</name>
        <label>iterateJobsIPS</label>
        <locationX>74</locationX>
        <locationY>4286</locationY>
        <collectionReference>getJobsIPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addJobsIPS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateReport</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iteratePassivRecords</name>
        <label>iteratePassivRecords</label>
        <locationX>74</locationX>
        <locationY>1454</locationY>
        <collectionReference>getPassivRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addRecordDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getEmplMeetingsIPS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateTasksIPS</name>
        <label>iterateTasksIPS</label>
        <locationX>74</locationX>
        <locationY>3254</locationY>
        <collectionReference>getTasksIPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addTaskIPS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getParticipantMeetingsIPS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createReport</name>
        <label>createReportingRecord</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>varReportId</assignRecordIdToReference>
        <connector>
            <targetReference>workTrailEndReportIPSNew</targetReference>
        </connector>
        <inputAssignments>
            <field>IPS_report_Type__c</field>
            <value>
                <stringValue>End report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_workTrailName__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ips_report__c</object>
    </recordCreates>
    <recordLookups>
        <name>getEmplMeetingsIPS</name>
        <label>getEmplMeetingsIPS</label>
        <locationX>182</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateEmplMeetingsIPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>ips_Subcategory_Type_IPS__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Job development</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <sortField>RelatedToAccount__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEndReports</name>
        <label>getEndReports</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkReportTypeIPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IPS_workTrailName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_report_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>End report</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ips_report__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobsIPS</name>
        <label>getJobsIPS</label>
        <locationX>182</locationX>
        <locationY>4046</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkJob</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Work_Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailIPS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ips_Job__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ips_Status__c</queriedFields>
        <queriedFields>ips_Form_of_Employment__c</queriedFields>
        <queriedFields>ips_Start_Date__c</queriedFields>
        <queriedFields>ips_End_Date__c</queriedFields>
        <sortField>ips_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOwnerIPS</name>
        <label>getOwnerIPS</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getParticipantDetailsIPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailIPS.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantDetailsIPS</name>
        <label>getParticipantDetailsIPS</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEndReports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailIPS.ips_Participant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantMeetingsIPS</name>
        <label>getParticipantMeetingsIPS</label>
        <locationX>182</locationX>
        <locationY>3686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addParticipantShowMeeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Participant</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_No_Show__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantNoShowIPS</name>
        <label>getParticipantNoShowIPS</label>
        <locationX>182</locationX>
        <locationY>3926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getJobsIPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_No_Show__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Participant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPassivRecords</name>
        <label>getPassivRecords</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IPS_Work_Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailIPS.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Passiv</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IPS_Historic_Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTasksIPS</name>
        <label>getTasksIPS</label>
        <locationX>182</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTaskIPS</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål (av hovedmål)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CompletedDateTime</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorktrailIPS</name>
        <label>getWorktrailIPS</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOwnerIPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateReport</name>
        <label>updateReport</label>
        <locationX>182</locationX>
        <locationY>4718</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReportId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_endReportSumm1__c</field>
            <value>
                <elementReference>varsummarizeCooperation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_endReportSumm2__c</field>
            <value>
                <elementReference>varsummarizePosNeg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_endReportSumm3__c</field>
            <value>
                <elementReference>varNeedForHelp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_endReportSumm4__c</field>
            <value>
                <elementReference>varSummarizeEmployeer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_endReportSumm5__c</field>
            <value>
                <elementReference>varsummarizeEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_endReport__c</field>
            <value>
                <elementReference>templateIPSEndReport</elementReference>
            </value>
        </inputAssignments>
        <object>ips_report__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>workTrailEndReportIPS</name>
        <label>Avslutningsnotat</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setScreenVariableOld</targetReference>
        </connector>
        <fields>
            <name>compMessageIPSOld</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å lage et avslutningsnotat</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IPS_summarizeParticipantDataOld</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿Kort oppsummering av deltaker:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt1Old</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Type&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>recordTypeNametxtIPSOld</name>
                    <fieldText>&lt;p&gt;{!recordTypeName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt2Old</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Deltakernavn&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtNameIPSOld</name>
                    <fieldText>&lt;p&gt;{!getParticipantDetailsIPS.FirstName} {!getParticipantDetailsIPS.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt4Old</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Behandlingsteam&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtSupervisorIPSOld</name>
                    <fieldText>&lt;p&gt;{!getWorktrailIPS.ips_NAV_supervisor__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt5Old</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Oppstartsdato&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtToDateIPSOld</name>
                    <fieldText>&lt;p&gt;{!varStartDateIPS}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt6Old</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Sluttdato&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtFromDateIPSOld</name>
                    <fieldText>&lt;p&gt;{!varEndDateIPS}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt7Old</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Sluttårsak:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtEndCauseIPSOld</name>
                    <fieldText>&lt;p&gt;{!getWorktrailIPS.ips_Other_end_cases__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPS_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtWorkDevelopmentIPSOld</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Hovedmål: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!getWorktrailIPS.ips_Main_goal__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Karriere ønsker: &lt;/strong&gt;{!getWorktrailIPS.ips_Priority_career_wishes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IPS_starOld</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;----------------------------------------------------------------------------------------------------------------------------------------------&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>workTrailEndReportIPS_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPS_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipsDisplay33Old</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Kommer under seksjonen - &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Deltagelse i jobb/arbeidstrening&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>summarizeCooperationIPSOld</name>
                    <defaultValue>
                        <stringValue>{!getEndReports.IPS_endReportSumm1__c}</stringValue>
                    </defaultValue>
                    <fieldText>Hvilke utfordringer/hindringer har deltaker møtt i jobbutviklingsprosessen?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>summarizePosNegIPSOld</name>
                    <defaultValue>
                        <stringValue>{!getEndReports.IPS_endReportSumm2__c}</stringValue>
                    </defaultValue>
                    <fieldText>Hvilke viktige faktorer har påvirket jobbutviklingen, positivt og negativt?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ipsDisplay35Old</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Kommer under seksjonen - &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Behov for tilrettelegging&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>needForHelpIPSOld</name>
            <defaultValue>
                <stringValue>{!getEndReports.IPS_endReportSumm3__c}</stringValue>
            </defaultValue>
            <fieldText>Behov for tilrettelegging</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ipsDisplay36Old</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Kommer under seksjonen - &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Samarbeid med arbeidsgivere&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummarizeEmployeerIPSOld</name>
            <defaultValue>
                <stringValue>{!getEndReports.IPS_endReportSumm4__c}</stringValue>
            </defaultValue>
            <fieldText>Oppsummering av jobb utført mot arbeidsgiver</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Oppsummering av den jobben jobbspesialist har gjort ut mot arbeidsgivere i den hensikt å skaffe jobbmuligheter. Hva er årsaken til at kontaktene ikke resulterte i muligheter for jobb?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ipsDisplay37Old</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Kommer under seksjonen - Avslutning&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>summarizeEndIPSOld</name>
            <defaultValue>
                <stringValue>{!getEndReports.IPS_endReportSumm5__c}</stringValue>
            </defaultValue>
            <fieldText>Avsluttende oppsummering</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Avsluttende oppsummering og anbefaling om videre tiltak eller tilrettelegging.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>workTrailEndReportIPSNew</name>
        <label>Avslutningsnotat</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setScreenVariableNew</targetReference>
        </connector>
        <fields>
            <name>compMessageIPSNew</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å lage et avslutningsnotat</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTrailEndReportIPSNew_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPSNew_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IPS_summarizeParticipantDataNew</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿Kort oppsummering av deltaker:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>workTrailEndReportIPSNew_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPSNew_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt1New</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Type&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>recordTypeNametxtIPSNew</name>
                    <fieldText>&lt;p&gt;{!recordTypeName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPSNew_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPSNew_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt2New</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Deltakernavn&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtNameIPSNew</name>
                    <fieldText>&lt;p&gt;{!getParticipantDetailsIPS.FirstName} {!getParticipantDetailsIPS.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPSNew_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPSNew_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt4New</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Behandlingsteam&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtSupervisorIPSNew</name>
                    <fieldText>&lt;p&gt;{!getWorktrailIPS.ips_NAV_supervisor__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPSNew_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPSNew_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt5new</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Oppstartsdato&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtToDateIPSNew</name>
                    <fieldText>&lt;p&gt;{!varStartDateIPS}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt6New</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Sluttdato&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtFromDateIPSNew</name>
                    <fieldText>&lt;p&gt;{!varEndDateIPS}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPSNew_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPSNew_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxt7New</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Sluttårsak:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtEndCauseIPSNew</name>
                    <fieldText>&lt;p&gt;{!getWorktrailIPS.ips_Other_end_cases__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailEndReportIPSNew_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailEndReportIPSNew_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPSNew_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTxtWorkDevelopmentIPSNew</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Hovedmål: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!getWorktrailIPS.ips_Main_goal__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Karriere ønsker: &lt;/strong&gt;{!getWorktrailIPS.ips_Priority_career_wishes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IPS_star_New</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;----------------------------------------------------------------------------------------------------------------------------------------------&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>workTrailEndReportIPSNew_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailEndReportIPSNew_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipsDisplay33New</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Kommer under seksjonen - &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Deltagelse i jobb/arbeidstrening&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>summarizeCooperationIPSNew</name>
                    <fieldText>Hvilke utfordringer/hindringer har deltaker møtt i jobbutviklingsprosessen?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>summarizePosNegIPSNew</name>
                    <fieldText>Hvilke viktige faktorer har påvirket jobbutviklingen, positivt og negativt?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ipsDisplay35New</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Kommer under seksjonen - &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Behov for tilrettelegging&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>needForHelpIPSNew</name>
            <fieldText>Behov for tilrettelegging</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ipsDisplay36New</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Kommer under seksjonen - &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Samarbeid med arbeidsgivere&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummarizeEmployeerIPSNew</name>
            <fieldText>Oppsummering av jobb utført mot arbeidsgiver</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Oppsummering av den jobben jobbspesialist har gjort ut mot arbeidsgivere i den hensikt å skaffe jobbmuligheter. Hva er årsaken til at kontaktene ikke resulterte i muligheter for jobb?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ipsDisplay37New</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Kommer under seksjonen - Avslutning&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>summarizeEndIPSNew</name>
            <fieldText>Avsluttende oppsummering</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Avsluttende oppsummering og anbefaling om videre tiltak eller tilrettelegging.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorktrailIPS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: serif;&quot;&gt;{!conGES}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>End report template for IPS</description>
        <name>templateIPSEndReport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Avslutningsnotat - {!getWorktrailIPS.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Innledning&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Deltaker:                 {!getParticipantDetailsIPS.FirstName} {!getParticipantDetailsIPS.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Jobbspesialist:        {!getOwnerIPS.FirstName} {!getOwnerIPS.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Behandlingsteam:&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;  {!getWorktrailIPS.ips_NAV_supervisor__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Startdato:                {!varStartDateIPS}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Sluttdato:                {!varEndDateIPS}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Sluttårsak:               {!getWorktrailIPS.End_Cause__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!getParticipantDetailsIPS.FirstName} {!getParticipantDetailsIPS.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; ble henvist til Individuell jobbstøtte (IPS)&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;den &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varStartDateIPS}&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;. Deltaker har vært med i perioden &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!varStartDateIPS} - {!varEndDateIPS}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!varPassiveRecord}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Deltakers mål med IPS:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Prioriterte yrker/ønsker:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!getWorktrailIPS.ips_Priority_career_wishes__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Hovedmål&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!getWorktrailIPS.ips_Main_goal__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Delmål&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!taskList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿Deltagermøter&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Det er gjennomført {!varParticipantShowCount} deltagermøte(r) med deltager tilstede.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Det er {!varParticipantNoShow} deltagermøte(r) hvor deltager ikke har møtt.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Deltagelse i jobb/arbeidstrening&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!jobsListIPS}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hvilke utfordringer/hindringer har deltaker møtt i jobbutviklingsprosessen?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!varsummarizeCooperation}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hvilke viktige faktorer har påvirket jobbutviklingen, positivt og negativt?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!varsummarizePosNeg}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Behov for tilrettelegging&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!varNeedForHelp}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Samarbeid med arbeidsgivere&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Jobbspesialist har enten på egenhånd, eller sammen med deg, vært i kontakt med følgende arbeidsgivere for å utforske mulighetene for arbeid:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;﻿{!employeeMeetingsIPS}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Det er gjennomført {!varCounterParticipantEmployeeMeeting} arbeidsgivermøte(r) med deltager tilstede.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Det er {!varCountNoShow} arbeidsgivermøte(r) hvor deltager ikke har møtt.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!varSummarizeEmployeer}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Avslutning&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!varsummarizeEnd}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>assignmentParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>employeeMeetings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employeeMeetingsIPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endCause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobsList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobsListIPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantMeetings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supervisorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskListForward</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCounterParticipantEmployeeMeeting</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountNoShow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDesiredProfession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMainGoal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNeedForHelp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantNoShow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varParticipantShowCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPassiveRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorityCareerWishes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varsummarizeCooperation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSummarizeEmployeer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varsummarizeEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varsummarizePosNeg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkTrailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTrailEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTrailStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
