force-app/main/default/flows/IPS_workTrailSetEndcauseAndEnddate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checkEndCauseValues</name>
        <label>Check endcause values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>displayInformationEnded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isValuesSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorkTrailValues.ips_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getWorkTrailValues.End_Cause__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getWorkTrailValues.ips_Other_end_cases__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>displayInformation</targetReference>
            </connector>
            <label>isValuesSet</label>
        </rules>
    </decisions>
    <description>Viser sluttdato, slutt책rsak og detaljer n책r deltaker i jobbsporet blir satt til avsluttet.
Oppretter platform event jobbspor</description>
    <environments>Default</environments>
    <interviewLabel>IPS - work trail set endcause and enddate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - work trail set endcause and enddate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getWorkTrailValues</name>
        <label>Get worktrail values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkEndCauseValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateBasedOnUserInput</name>
        <label>Update based on userinput</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IPS_createPlatformEventJobbspor</targetReference>
        </connector>
        <inputReference>getWorkTrailValues</inputReference>
    </recordUpdates>
    <screens>
        <name>displayInformation</name>
        <label>displayInformation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayInformationEndText</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Sluttdato og slutt책rsak er fylt ut</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>displayInformationEnded</name>
        <label>displayInformationEnded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateBasedOnUserInput</targetReference>
        </connector>
        <fields>
            <name>displayInformationEndTitle</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Sett sluttdato og slutt책rsak</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getWorkTrailValues.ips_End_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getWorkTrailValues.End_Cause__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getWorkTrailValues.ips_Other_end_cases__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Lagre</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorkTrailValues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>IPS_createPlatformEventJobbspor</name>
        <label>Create platform event jobbspor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IPS_removes_any_manually_shared_records</targetReference>
        </connector>
        <flowName>IPS_subflow_create_jobbspor_platform_event</flowName>
        <inputAssignments>
            <name>input_JobbsporId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>IPS_removes_any_manually_shared_records</name>
        <label>Removes any manually shared records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>IPS_worktrail_subflow_delete_shared_records</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>getWorkTrailValues.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
