force-app/main/default/flows/IPS_eventUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>checkForCriteria</name>
        <label>checkForCriteria</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isIPSEmployerMeeting</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>getEvent.IPS_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting with Employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvent.ips_Subcategory_Type_IPS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvent.ips_Subcategory_Type_IPS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvent.IPS_taskId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateTask</targetReference>
            </connector>
            <label>isIPSEmployerMeeting</label>
        </rules>
        <rules>
            <name>isUOEmployerMeeting</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>getEvent.IPS_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting with Employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvent.IPS_Subcategory_Type_UO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relationship building</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvent.IPS_Subcategory_Type_UO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow-up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getEvent.IPS_taskId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateTask</targetReference>
            </connector>
            <label>isUOEmployerMeeting</label>
        </rules>
    </decisions>
    <description>When event updates
- when employment meeting updates - task is updated</description>
    <interviewLabel>IPS - event update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - event update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getEvent</name>
        <label>getEvent</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkForCriteria</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <queriedFields>EndDateTime</queriedFields>
        <queriedFields>ips_Subcategory_Type_IPS__c</queriedFields>
        <queriedFields>IPS_Subcategory_Type_UO__c</queriedFields>
        <queriedFields>ips_Travel_time__c</queriedFields>
        <queriedFields>IPS_travelTimeFrom__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>IPS_Type__c</queriedFields>
        <queriedFields>IPS_taskId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateTask</name>
        <label>updateTask</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEvent.IPS_taskId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>getEvent.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEvent</targetReference>
        </connector>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Employer</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
