force-app/main/default/flows/IPS_Job_Complete_When_Worktrail_Ended.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Been_Ended_For_30_Days</name>
        <label>Has been ended for 30 days?</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Not yet 30 days</defaultConnectorLabel>
        <rules>
            <name>Yes_30_Days_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ips_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varEndDateThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Jobs_To_Completed</targetReference>
            </connector>
            <label>Yes - 30 days have passed</label>
        </rules>
    </decisions>
    <description>Marks all related ips_Job__c records as &quot;Completed&quot; when the Work_Trail__c has had status &quot;Ended&quot; for 30 days.</description>
    <environments>Default</environments>
    <formulas>
        <name>varEndDateThreshold</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 30</expression>
    </formulas>
    <interviewLabel>IPS - Job Complete When Worktrail Ended {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Job Complete When Worktrail Ended</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Related_Jobs_To_Completed</name>
        <label>Update Related Jobs to Completed</label>
        <locationX>176</locationX>
        <locationY>444</locationY>
        <faultConnector>
            <targetReference>Application_Log</targetReference>
        </faultConnector>
        <filters>
            <field>ips_Work_Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ips_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ips_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ips_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Been_Ended_For_30_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <filters>
            <field>ips_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Work_Trail__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-01-01</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Application_Log</name>
        <label>Application Log</label>
        <locationX>440</locationX>
        <locationY>552</locationY>
        <flowName>IPS_Subflow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>applicationDomain</name>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceFunction</name>
            <value>
                <stringValue>IPS - Job Complete When Worktrail Ended</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
