force-app/main/default/flows/IPS_New_Worktrail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>c:IPS_redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_existing.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Redirect_0_0</name>
        <label>Redirect</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <actionName>c:IPS_redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Worktrail_0</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>If_worktrail_exists</name>
        <label>If worktrail exists</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Registrer_Jobbspor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Selected</name>
        <label>Owner Selected</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Create_Worktrail_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner not selected</defaultConnectorLabel>
        <rules>
            <name>Owner_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EierCheckbox.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Worktrail_0_0</targetReference>
            </connector>
            <label>Owner filled inn</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>IPS_test</name>
        <dataType>String</dataType>
        <displayField>ips_Behandlingsteam__c</displayField>
        <object>Work_Trail__c</object>
        <valueField>ips_Behandlingsteam__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>New Worktrail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nytt Jobbspor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Error_log</name>
        <label>Create Error log</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Duplicate creation stopped</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_ID__c</field>
            <value>
                <elementReference>Get_existing.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Worktrail_0</name>
        <label>Create Worktrail</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Redirect_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Noe_gikk_galt</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Participant__c</field>
            <value>
                <elementReference>Participant.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Worktrail_0_0</name>
        <label>Create Worktrail</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Opprettet</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Noe_gikk_galt</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EierCheckbox.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Participant__c</field>
            <value>
                <elementReference>Participant.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_existing</name>
        <label>Get existing</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_worktrail_exists</targetReference>
        </connector>
        <filters>
            <field>ips_Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Participant.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ips_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Participant_Details</name>
        <label>Get Participant Details</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Participant_Detail</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Participant.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeId</name>
        <label>Get RecordTypeId</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Worktrail</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>New_Worktrail</name>
        <label>Nytt Jobbspor</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Participant_Details</targetReference>
        </connector>
        <fields>
            <name>Participant</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ips_Participant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Deltaker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Work_Trail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Noe_gikk_galt</name>
        <label>Noe gikk galt</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Error_log</targetReference>
        </connector>
        <fields>
            <name>Errormessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Kunne ikke opprettes. Kontakt din administrator&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opprettet</name>
        <label>Opprettet</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreatedMessage</name>
            <fieldText>&lt;p&gt;Jobbspor har blitt opprettet&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Participant_Detail</name>
        <label>Participant Detail</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_existing</targetReference>
        </connector>
        <fields>
            <name>Participant_Detail_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Participant_Detail_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PersonIcon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>PersonIcon</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>Person</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Participant_Detail_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Valgt Deltaker&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Deltaker: {!Get_Participant_Details.FirstName}        {!Get_Participant_Details.LastName}&lt;/p&gt;&lt;p&gt;Personnummer: {!Get_Participant_Details.INT_PersonIdent__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Er_bruker_informert</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Er dette riktig Deltaker? Er Deltaker informert?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Registrer_Jobbspor</name>
        <label>Registrer Jobbspor</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Owner_Selected</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EierCheckbox</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Eier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Work_Trail__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Behandlingsteam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>IPS_test</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UORecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
