force-app/main/default/flows/IPS_Team_Member_Before_Set_Unique_User_Key.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Unique_User_Team_Key</name>
        <label>Assign Unique User Team Key</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ips_Unique_User_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_navIdentAndTeamName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
    </assignments>
    <description>Sets the ips_Unique_User_Key__c based on the Nav Ident and team name to prevent duplicate team members</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_navIdentAndTeamName</name>
        <dataType>String</dataType>
        <expression>{!$Record.ips_NAV_Ident__c} &amp; &apos;_&apos;  &amp; {!$Record.ips_Team__r.Name}</expression>
    </formulas>
    <interviewLabel>IPS Team Member Before Set Unique User Key {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS Team Member - Before - Set Unique User Key</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ips_Unique_User_Key__c</field>
            <value>
                <elementReference>$Record.ips_NAV_Ident__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Unique_User_Team_Key</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Unique_User_Key__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ips_Team__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ips_Team_Member__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
