force-app/main/default/flows/IPS_worktrailSetParticipantPassive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Setting the following field to true, displays the &quot;Passive&quot; flag in worktrail</description>
        <name>Activate_passive_flag</name>
        <label>Activate passive flag</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>getWorktrail.ips_Passive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passive_period_activated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addHistoryAssignmentText</name>
        <label>addHistoryAssignmentText</label>
        <locationX>248</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateWorktrail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addHistoryAssignmentText1</name>
        <label>addHistoryAssignmentText</label>
        <locationX>512</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passiv tilstand deaktivert</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateWorktrail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the following field to false, disables the &quot;Passive&quot; flag from worktrail.</description>
        <name>Deactivate_passive_flag</name>
        <label>Deactivate passive flag</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>getWorktrail.ips_Passive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passiv_periode_deactivated</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Deactives the ongoing passive period.</description>
        <name>Deaktiver</name>
        <choiceText>Deaktiver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deaktiver</stringValue>
        </value>
    </choices>
    <choices>
        <description>Extends the ongoing passive period.</description>
        <name>Forleng</name>
        <choiceText>Forleng</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forleng</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Deactivate_or_extend</name>
        <label>Deactivate or Extend</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Extend_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Extend</defaultConnectorLabel>
        <rules>
            <name>Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vennligst_velg_en_av_f_lgende_handlinger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deaktiver</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_screen</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the participant is already active ?</description>
        <name>Is_participant_passive</name>
        <label>Is participant passive ?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>setParticipantAsPassive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorktrail.ips_Passive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_passive_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isDateFilled</name>
        <label>isDateFilled</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>addHistoryAssignmentText1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dateFilled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAddDateFollowUp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ny_oppf_lging_dato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordTypeId</targetReference>
            </connector>
            <label>dateFilled</label>
        </rules>
    </decisions>
    <description>Gjelder kun for IPS hvor JS kan sette deltaker i en passiv tilstand</description>
    <environments>Default</environments>
    <formulas>
        <description>If activating, it sets the follow-up date to varAddDateFollowUp from Set participant active screen. 
If extending, it sets the follow-up date Ny_oppfølging_dato from Extend screen.</description>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <expression>IF(!ISBLANK({!varAddDateFollowUp}), {!varAddDateFollowUp}, {!Ny_oppf_lging_dato})</expression>
    </formulas>
    <formulas>
        <name>setDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <description>If activating, it sets the reason from Set participant screen.
If extending, it sets the new reason from Extend screen.</description>
        <name>taskComment</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!varAddDateFollowUp}), {!varReasonForPassiveParticipant},{!Ny_aarsak})</expression>
    </formulas>
    <formulas>
        <description>If activating, it sets the subject from Set participant screen.
If extending, it sets the subject from Extend screen.</description>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!varAddDateFollowUp}), &apos;Passiv tilstand aktivert&apos;, &apos;Passiv tilstand forlenget&apos;)</expression>
    </formulas>
    <formulas>
        <description>Adds 30 days as follow up date</description>
        <name>varFollowUpDate</name>
        <dataType>Date</dataType>
        <expression>{!Passiv_periode_starter} + 30</expression>
    </formulas>
    <formulas>
        <name>varNyFollowUpDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>IPS_worktrailSetParticipantPassive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - worktrail Set Participant Passive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createTask</name>
        <label>createTask</label>
        <locationX>248</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>addHistoryAssignmentText</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varAddDateFollowUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>taskComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Task_IPSUO__c</field>
            <value>
                <stringValue>Oppgave</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>getWorktrail.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Due_Date_Time__c</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>248</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getWorktrail</name>
        <label>getWorktrail</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_participant_passive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateWorktrail</name>
        <label>updateWorktrail</label>
        <locationX>380</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>createPassiveHistory</targetReference>
        </connector>
        <inputReference>getWorktrail</inputReference>
    </recordUpdates>
    <screens>
        <name>Deactivate_screen</name>
        <label>Deactivate screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Deactivate_passive_flag</targetReference>
        </connector>
        <fields>
            <name>info_Text_deactivate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Velg dato for deaktivering. Dato kan ikke være frem i tid&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Passiv_periode_deaktivert</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>setDate</elementReference>
            </defaultValue>
            <fieldText>Passiv periode deaktivert</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Deaktiver</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Extend_screen</name>
        <label>Extend screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>Passive_period_extended</targetReference>
        </connector>
        <fields>
            <name>info_text_extend</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Deltakeren har en pågående passiv periode.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Extend_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Extend_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ny_oppf_lging_dato</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varNyFollowUpDate</elementReference>
                    </defaultValue>
                    <fieldText>Ny oppfølging dato</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Extend_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ny_aarsak</name>
            <dataType>String</dataType>
            <fieldText>Ny årsak</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Forleng</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provides alternative for deactivating or extending passive period.</description>
        <name>Manage_passive_status</name>
        <label>Manage passive status</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deactivate_or_extend</targetReference>
        </connector>
        <fields>
            <name>info_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Deltakeren har en pågående passiv periode &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vennligst_velg_en_av_f_lgende_handlinger</name>
            <choiceReferences>Deaktiver</choiceReferences>
            <choiceReferences>Forleng</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vennligst velg en av følgende handlinger:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Neste</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Passiv_periode_deactivated</name>
        <label>Passiv periode deactivated</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>isDateFilled</targetReference>
        </connector>
        <fields>
            <name>deactivate_info_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Passiv periode registrert til &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Passiv_periode_deaktivert}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Passive_period_activated</name>
        <label>Passive period activated</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>isDateFilled</targetReference>
        </connector>
        <fields>
            <name>info_text_activated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Passiv periode aktivert med oppfølging &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!varAddDateFollowUp}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Passive_period_extended</name>
        <label>Passive period extended</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>isDateFilled</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_info_text_activated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Passiv periode forlenget med oppfølging &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Ny_oppf_lging_dato}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>setParticipantAsPassive</name>
        <label>Set participant as passive</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Activate_passive_flag</targetReference>
        </connector>
        <fields>
            <name>setParticipantAsPassive_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>setParticipantAsPassive_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Passiv_periode_starter</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>setDate</elementReference>
                    </defaultValue>
                    <fieldText>Passiv periode starter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>varAddDateFollowUp</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varFollowUpDate</elementReference>
                    </defaultValue>
                    <fieldText>Add date for follow up participant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>setParticipantAsPassive_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>setParticipantAsPassive_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>setParticipantAsPassive_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>varReasonForPassiveParticipant</name>
                    <dataType>String</dataType>
                    <fieldText>Reason for passive</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Reason for absence. Next step and follow up.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Aktiver</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorktrail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>createPassiveHistory</name>
        <label>createPassiveHistory</label>
        <locationX>380</locationX>
        <locationY>1682</locationY>
        <flowName>IPS_subflow_create_task_history</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHistoricRowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Oppfølging av deltaker</stringValue>
        </value>
    </variables>
</Flow>
