force-app/main/default/flows/IPS_createOrUpdateStarttupMeeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createTravelTime</name>
        <label>createTravelTime</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_contactId_to_event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordtypeId</name>
            <value>
                <elementReference>varRecordTypeIdTraveltime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>$Record.IPS_Status1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>$Record.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>$Record.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_eventTravelTimeController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>createUpdateTravelTime</name>
        <label>createUpdateTravelTime</label>
        <locationX>1810</locationX>
        <locationY>647</locationY>
        <actionName>IPS_eventTravelTimeController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsEventClosed1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordtypeId</name>
            <value>
                <elementReference>varRecordTypeIdTraveltime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>$Record.IPS_Status1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeAfter</name>
            <value>
                <elementReference>$Record.IPS_travelTimeFrom__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelTimeBefore</name>
            <value>
                <elementReference>$Record.ips_Travel_time__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IPS_eventTravelTimeController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>setPublic</name>
        <label>setPublic</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varPublicTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEventClosed</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <description>Show validation error that occurs due to first meeting with employer held date</description>
        <name>First_meeting_with_employer_validation_error</name>
        <label>First meeting with employer validation error</label>
        <locationX>1018</locationX>
        <locationY>1679</locationY>
        <customErrorMessages>
            <errorMessage>Oppstartsdato må være før eller lik datoen for første møte med arbeidsgiver ble avholdt. Vennligst oppgi gyldige datoer.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Startup_date_not_valid</name>
        <label>Startup date not valid</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <customErrorMessages>
            <errorMessage>Oppstartsdato må være før eller lik datoen for første møte med arbeidsgiver ble avholdt. Vennligst oppgi gyldige datoer.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>checkCriteria</name>
        <label>checkCriteria</label>
        <locationX>1194</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>createUpdateTravelTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotNew</defaultConnectorLabel>
        <rules>
            <name>isNewEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTravelTime</targetReference>
            </connector>
            <label>isNewEvent</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEventClosed</name>
        <label>IsEventClosed</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>UpdateEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>anythingElse</defaultConnectorLabel>
        <rules>
            <name>IsClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPS_Status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsStartupDateValid</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEventClosed1</name>
        <label>IsEventClosed</label>
        <locationX>1810</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>anythingElse</defaultConnectorLabel>
        <rules>
            <name>isClosed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPS_Status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsStartupDateValidNotNew</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>isClosed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensures the startup date is earlier than first meeting with employer held.</description>
        <name>IsStartupDateValid</name>
        <label>IsStartupDateValid</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Startup_date_not_valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Startup date not valid</defaultConnectorLabel>
        <rules>
            <name>Startup_date_valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isStartupDateValidFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_work_trail.ips_First_meeting_with_the_Employer_held__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateStartUpDate</targetReference>
            </connector>
            <label>Startup date valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensures the startup date is earlier than first meeting with employer held.</description>
        <name>IsStartupDateValidNotNew</name>
        <label>IsStartupDateValid</label>
        <locationX>1546</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Startup_date_not_valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Startup date not valid</defaultConnectorLabel>
        <rules>
            <name>Startup_date_valid_Not_new</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isStartupDateValidFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_work_trail.ips_First_meeting_with_the_Employer_held__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_updateStartUpDate</targetReference>
            </connector>
            <label>Startup date valid</label>
        </rules>
    </decisions>
    <description>creation or updates on startup meetings
- sets startdate for worktrail when meeting is completed
- sets contactId on WhoId
- sets public checkbox</description>
    <environments>Default</environments>
    <formulas>
        <name>isDateTimeChanged</name>
        <dataType>Boolean</dataType>
        <expression>IsChanged( {!$Record.StartDateTime}) || isChanged({!$Record.EndDateTime} )</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <description>Returns true, if startup date is equal or earlier than first meeting with employer held.</description>
        <name>isStartupDateValidFormula</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.StartDateTime} &gt; {!Get_related_work_trail.ips_First_meeting_with_the_Employer_held__c}</expression>
    </formulas>
    <formulas>
        <name>varRecordStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.IPS_Status1__c}, 
&apos;Cancelled&apos;, &apos;Completed&apos;, 
&apos;Participant Absent&apos;, &apos;Completed&apos;,
&apos;Completed&apos;, &apos;Completed&apos;, &apos;Open&apos;)</expression>
    </formulas>
    <interviewLabel>IPS - create or update starttup meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - create or update starttup meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Getting related work trail to compare startup date and first meeting with employer held.</description>
        <name>Get_related_work_trail</name>
        <label>Get related work trail</label>
        <locationX>1194</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkCriteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeNameTravelTime</name>
        <label>getRecordTypeNameTravelTime</label>
        <locationX>1194</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_work_trail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordtypeNameTraveltime</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeIdTraveltime</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_updateStartUpDate</name>
        <label>updateStartUpDate</label>
        <locationX>1282</locationX>
        <locationY>971</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>First_meeting_with_employer_validation_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Oppstartsdato__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Start_up_meeting_completed__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEvent</name>
        <label>UpdateEvent</label>
        <locationX>578</locationX>
        <locationY>1571</locationY>
        <faultConnector>
            <targetReference>First_meeting_with_employer_validation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IPS_participant_related_to_meeting__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <elementReference>varPublicTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Oppdaterer felter på jobbspor knyttet til oppstartsmøte.</description>
        <name>updateStartUpDate</name>
        <label>updateStartUpDate</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>UpdateEvent</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>First_meeting_with_employer_validation_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Oppstartsdato__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Start_up_meeting_completed__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <start>
        <locationX>1068</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordTypeNameTravelTime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Start up meeting</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_isFromTimeline__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_contactId_to_event</name>
        <label>Add contactId to event</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>setPublic</targetReference>
        </connector>
        <flowName>IPS_subflowAddContactId</flowName>
        <inputAssignments>
            <name>varWorkTrailId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <name>varContactId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublicTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varRecordTypeIdTraveltime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordtypeNameTraveltime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IPS_Traveltime</stringValue>
        </value>
    </variables>
</Flow>
