force-app/main/default/flows/IPS_Worktrail_data_to_archive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_worktrail_to_JSON</name>
        <label>Convert worktrail to JSON</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <actionName>ArchiveHelper</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>Work_Trail__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordsList</name>
            <value>
                <elementReference>worktralCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArchiveHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>archiveData</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Worktrail_collection_to_convert_to_JSON</name>
        <label>Worktrail collection to convert to JSON</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>worktralCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>worktrailToArchive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_worktrail_to_JSON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Worktrail_to_archive</name>
        <label>Worktrail to archive</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>worktrailToArchive.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.IPS_Personnummer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPS_Personnummer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>worktrailToArchive.ips_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ips_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Worktrail_collection_to_convert_to_JSON</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>IPS - Worktrail data to archive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Worktrail data to archive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Worktrail_to_archive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <object>Work_Trail__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-04-06</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>archiveData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>worktrailToArchive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Trail__c</objectType>
    </variables>
    <variables>
        <name>worktralCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Trail__c</objectType>
    </variables>
</Flow>
