force-app/main/default/flows/IPS_Update_Worktrail_Owner_When_Role_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>New_Jobbspesialist</name>
        <label>New Jobbspesialist ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Jobbspesialist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Previous_Team_Lead__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Fagansvarlig</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Previous_Team_Lead__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Metodeveileder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Worktrails_Related_To_The_User</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Triggers when a platform event &apos;Role Changed&apos; is published.</description>
    <environments>Default</environments>
    <interviewLabel>IPS - Update Worktrail Owner When Role Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - Update Worktrail Owner When Role Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Application_Log</name>
        <label>Application Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Application_Domain__c</field>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_ID__c</field>
            <value>
                <elementReference>$Record.ReplayId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>IPS - Update Worktrail Owner When Role Changed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UUID__c</field>
            <value>
                <elementReference>$Record.EventUuid</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>User_Log</name>
        <label>User Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Jobbspesialist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Application_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Current_Profile__c</field>
            <value>
                <elementReference>$Record.Current_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Role__c</field>
            <value>
                <elementReference>$Record.Current_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Profile__c</field>
            <value>
                <elementReference>$Record.Previous_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Role__c</field>
            <value>
                <elementReference>$Record.Role_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Lead__c</field>
            <value>
                <elementReference>$Record.Previous_Team_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Id__c</field>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Name__c</field>
            <value>
                <elementReference>$Record.User_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worktrails_Transferred__c</field>
            <value>
                <elementReference>$Record.Worktrails__c</elementReference>
            </value>
        </inputAssignments>
        <object>User_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Worktrails_Related_To_The_User</name>
        <label>Update Worktrails Related To The User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Application_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ips_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Previous_Team_Lead_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Log</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Role_Changed__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
