force-app/main/default/flows/IPS_notification_sent_on_intervall_reports.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendReportNotifications</name>
        <label>SendReportNotifications</label>
        <locationX>660</locationX>
        <locationY>1716</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>loopThroughWorkTrail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>varNotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>varNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varWorkTrailId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Adds value to task</description>
        <name>addAssigmentToSingleTask</name>
        <label>addAssigmentToSingleTask</label>
        <locationX>660</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>singleTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughWorkTrail.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReportRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNotificationTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.Type_of_Task_IPSUO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Veilederrapport</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkTrailId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.ips_Due_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addSingleIntoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addAssignments</name>
        <label>addAssignments</label>
        <locationX>792</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>varOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughWorkTrail.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Første veilederrapport</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getReportRecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addAssignments1</name>
        <label>addAssignments</label>
        <locationX>264</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>varOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getReports.IPS_workTrailName__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getReports.IPS_subject__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getReportRecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addSingleIntoCollection</name>
        <label>addSingleIntoCollection</label>
        <locationX>660</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>collectionTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getNotifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignWorkTrailId</name>
        <label>assignWorkTrailId</label>
        <locationX>660</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varWorkTrailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughWorkTrail.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getReports</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkDueDate</name>
        <label>checkDueDate</label>
        <locationX>396</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>loopThroughWorkTrail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotDue</defaultConnectorLabel>
        <rules>
            <name>isDueToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getReports.IPS_notificationDueDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAssignments1</targetReference>
            </connector>
            <label>isDueToday</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if it time to send a first time intervall report</description>
        <name>checkIfFirstTime</name>
        <label>checkIfFirstTime</label>
        <locationX>924</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>loopThroughWorkTrail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>isFirst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStartUpDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAssignments</targetReference>
            </connector>
            <label>isFirst</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfReportExists</name>
        <label>checkIfReportExists</label>
        <locationX>660</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>checkIfFirstTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getReports</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkDueDate</targetReference>
            </connector>
            <label>isNotNull</label>
        </rules>
    </decisions>
    <description>Sjekker antall dager siden siste intervallrapport pr jobbspor og sender en notifikasjon når det er 2 uker igjen til neste.</description>
    <environments>Default</environments>
    <formulas>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <expression>IF({!getReports.IPS_intervallDateTo__c}!=null, {!getReports.IPS_intervallDateTo__c}+90
,DATEVALUE({!loopThroughWorkTrail.Oppstartsdato__c})+90)</expression>
    </formulas>
    <formulas>
        <name>varNotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Påminnelse om veilederrapport - det har snart gått 3 måneder - &apos;&amp;{!loopThroughWorkTrail.Name}</expression>
    </formulas>
    <formulas>
        <name>varStartUpDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!loopThroughWorkTrail.Oppstartsdato__c}) +75</expression>
    </formulas>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IPS - notification sent on intervall reports {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - notification sent on intervall reports</label>
    <loops>
        <name>loopThroughWorkTrail</name>
        <label>loopThroughWorkTrail</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>getWorkTrails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignWorkTrailId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createNotificationTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createNotificationTask</name>
        <label>createNotificationTask</label>
        <locationX>176</locationX>
        <locationY>1908</locationY>
        <inputReference>collectionTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getNotifications</name>
        <label>getNotifications</label>
        <locationX>660</locationX>
        <locationY>1608</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendReportNotifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS_intervall_report_notification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>varNotificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get recordtype id for AMS recordtype</description>
        <name>getRecordType</name>
        <label>getRecordType</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWorkTrails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ips_Supported_Employment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getReportRecordTypeId</name>
        <label>getReportRecordTypeId</label>
        <locationX>660</locationX>
        <locationY>1284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addAssigmentToSingleTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varReportRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getReports</name>
        <label>getReports</label>
        <locationX>660</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfReportExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IPS_workTrailName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkTrailId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_report_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intervall</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ips_report__c</object>
        <sortField>IPS_intervallDateTo__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get AMS worktrails that is not ended or referred</description>
        <name>getWorkTrails</name>
        <label>getWorkTrails</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughWorkTrail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Referred</stringValue>
            </value>
        </filters>
        <filters>
            <field>ips_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordType</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-29</startDate>
            <startTime>03:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>singleTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Påminnelse - det er snart gått 3 måneder siden siste rapport</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkTrailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
