force-app/main/default/flows/IPS_worktrail_clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_workTrail</name>
        <label>Open workTrail</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>c:IPS_redirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>getWorktrailRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:IPS_redirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignWorktrailFields</name>
        <label>AssignWorktrailFields</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>getWorktrailRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrailRecord.ips_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Referred</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrailRecord.ips_behandler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrailRecord.ips_NAV_supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrailRecord.Oppstartsdato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSetDateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrailRecord.ips_Referred_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ips_referredDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrailRecord.ips_First_meeting_with_the_Employer_held__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSetDateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrailRecord.ips_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSetDateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrailRecord.ips_Applying_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrailRecord.End_Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorktrailRecord.ips_Other_end_cases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IPS_cloneWorkTrail</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AMS</name>
        <choiceText>AMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>IPS</name>
        <choiceText>IPS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IPS</stringValue>
        </value>
    </choices>
    <decisions>
        <description>check if worktrail is ended and is not older then 12 months</description>
        <name>isNotEnded</name>
        <label>isNotEnded</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ips_errorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NA</defaultConnectorLabel>
        <rules>
            <name>isEnded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorktrailRecord.ips_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDaysSinceEnded</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>366.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordTypeName</targetReference>
            </connector>
            <label>isEnded</label>
        </rules>
    </decisions>
    <description>Clones a worktrail, set correct dates, status and remove manual sharings</description>
    <environments>Default</environments>
    <formulas>
        <name>varDaysSinceEnded</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!getWorktrailRecord.ips_End_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varDefaultRecordTypeName</name>
        <dataType>String</dataType>
        <expression>CASE({!varRecordTypeDeveloperName}, 
&apos;IPS&apos;, &apos;IPS&apos;,
&apos;ips_Supported_Employment&apos;, &apos;AMS&apos;,
&apos;AMS&apos;)</expression>
    </formulas>
    <interviewLabel>IPS - worktrail_clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - worktrail_clone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createNewWorkTrailRecord</name>
        <label>createNewWorkTrailRecord</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Open_workTrail</targetReference>
        </connector>
        <inputReference>getWorktrailRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getRecordTypeName</name>
        <label>getRecordTypeName</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignWorktrailFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailRecord.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getWorktrailRecord</name>
        <label>getWorktrailRecord</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isNotEnded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>IPS_cloneWorkTrail</name>
        <label>Klone jobbsporet</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createNewWorkTrailRecord</targetReference>
        </connector>
        <fields>
            <name>ips_service</name>
            <choiceReferences>AMS</choiceReferences>
            <choiceReferences>IPS</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDefaultRecordTypeName</elementReference>
            </defaultValue>
            <fieldText>Velg tiltak</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ips_referredDate</name>
            <dataType>Date</dataType>
            <fieldText>Henvist dato</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IPS_cloneWorkTrail_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>IPS_cloneWorkTrail_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ips_selectRelated</name>
            <fieldText>&lt;p&gt;Velg hvilke deler man ønsker å ta med&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ips_jobs</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Jobber</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ips_education</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Utdanning</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ips_errorMessage</name>
        <label>Du er ikke innafor</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ips_errorMessage1</name>
            <fieldText>&lt;p&gt;Jobbsporet må være avsluttet og innenfor 12 måneder siden sluttdato.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Status: {!getWorktrailRecord.ips_Status__c}&lt;/p&gt;&lt;p&gt;Antall dager siden avsluttet: {!varDaysSinceEnded}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorktrailRecord</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSetDateNull</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
