force-app/main/default/flows/IPS_subflowIntervallReportUO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_report_page</name>
        <label>Go to report page</label>
        <locationX>1678</locationX>
        <locationY>7790</locationY>
        <actionName>c:IPS_redirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varReportId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>addEducation</name>
        <label>addEducation</label>
        <locationX>1658</locationX>
        <locationY>7358</locationY>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Tittel:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEducation.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Type utdanning:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEducationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEducation.ips_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEducation.ips_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateEducation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addNextPeriodText</name>
        <label>addNextPeriodText</label>
        <locationX>1458</locationX>
        <locationY>5894</locationY>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deltaker har ingen planlagte delmål</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getJobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addNoEducationText</name>
        <label>addNoEducationText</label>
        <locationX>1786</locationX>
        <locationY>7238</locationY>
        <assignmentItems>
            <assignToReference>educationList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Ingen utdanningsløp registrert.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateReportRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantForwardText</name>
        <label>addParticipantForwardText</label>
        <locationX>1546</locationX>
        <locationY>4766</locationY>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Det er ingen planlagte møter med deltaker fremover.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTasksUOIntervall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantMeetingListUOIntervall</name>
        <label>addParticipantMeetingListUOIntervall</label>
        <locationX>1766</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Emne: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOShow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateParticipantMeetingShow.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOShow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateParticipantMeetingShow.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateParticipantMeetingShow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantMeetingListUOIntervallForward</name>
        <label>addParticipantMeetingListUOIntervallForward</label>
        <locationX>2294</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Emne: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateParticipantMeetingShow.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateParticipantMeetingShow.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUOForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateParticipantMeetingShow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantMeetingListUOIntervallNoShow</name>
        <label>addParticipantMeetingListUOIntervallNoShow</label>
        <locationX>2030</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUONoShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Emne: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUONoShow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateParticipantMeetingShow.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUONoShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUONoShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUONoShow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateParticipantMeetingShow.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUONoShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUONoShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateParticipantMeetingShow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantNoShowText</name>
        <label>addParticipantNoShowText</label>
        <locationX>1546</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>varParticipantIntervallUONoShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deltager har ingen ikke møtt møter registrert i perioden.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkEmptyParticipantForwardList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addParticipantShowText</name>
        <label>addParticipantShowText</label>
        <locationX>1546</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>participantMeetingIntervallShow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deltager har ingen møter registrert i perioden.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkEmptyParticipantNoShowList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addPeriodTekst</name>
        <label>addPeriodTekst</label>
        <locationX>1194</locationX>
        <locationY>5894</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deltaker har ingen fullførte delmål i perioden</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getJobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addReportId</name>
        <label>addReportId</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varReportId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getIntervallReports.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReportIdOld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getIntervallReports.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkReportType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTaskForwardRange</name>
        <label>addTaskForwardRange</label>
        <locationX>1810</locationX>
        <locationY>5462</locationY>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Emne: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateTasksUOIntervall.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Frist: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateTasksUOIntervall.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Beskrivelse av målet: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateTasksUOIntervall.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskListForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateTasksUOIntervall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Employer phone call within range - assigns current record to textstring</description>
        <name>addTaskPhoneCallsEmployer</name>
        <label>addTaskPhoneCallsEmployer</label>
        <locationX>2338</locationX>
        <locationY>5462</locationY>
        <assignmentItems>
            <assignToReference>varPhoneListEmployer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Samtale: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhoneListEmployer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateTasksUOIntervall.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhoneListEmployer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhoneListEmployer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhoneListEmployer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateTasksUOIntervall.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhoneListEmployer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhoneListEmployer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateTasksUOIntervall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Participants phone call within range - assigns current record to textstring</description>
        <name>addTaskPhoneCallsParticipant</name>
        <label>addTaskPhoneCallsParticipant</label>
        <locationX>2074</locationX>
        <locationY>5462</locationY>
        <assignmentItems>
            <assignToReference>varPhoneList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Samtale: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhoneList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateTasksUOIntervall.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhoneList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhoneList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhoneList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateTasksUOIntervall.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhoneList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhoneList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateTasksUOIntervall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTaskWithinRange</name>
        <label>addTaskWithinRange</label>
        <locationX>1546</locationX>
        <locationY>5462</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Emne: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateTasksUOIntervall.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Frist: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fullført dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCompletedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Beskrivelse av målet: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateTasksUOIntervall.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateTasksUOIntervall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addText_0_0_0</name>
        <label>addText</label>
        <locationX>1546</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Ingen relasjonsbyggende møter i perioden.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForwardList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTextForward</name>
        <label>addText</label>
        <locationX>1546</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deltaker har ingen planlagte arbeidsgivermøter.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getParticipantMeetingsIntervall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmployerNameNextPeriod</name>
        <label>setEmployerNameNextPeriod</label>
        <locationX>2030</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Arbeidsgiver: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsUOIntervall.RelatedToAccount__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Møtedeltagere: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCheckParticipantName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Emne: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsUOIntervall.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsUOIntervall.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployeeMeetingForward</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateEmplMeetingsUOIntervall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmployerNameRelation</name>
        <label>setEmployerNameRelation</label>
        <locationX>1766</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Arbeidsgiver: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsUOIntervall.RelatedToAccount__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Møtedeltagere: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCheckParticipantName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Emne: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsUOIntervall.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEmplMeetingsUOIntervall.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Møtekategori: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSubCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployerMeetingRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateEmplMeetingsUOIntervall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setJobListText</name>
        <label>setJobListText</label>
        <locationX>1546</locationX>
        <locationY>6782</locationY>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Ingen jobber registrert</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEducation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setJobtext</name>
        <label>setJobtext</label>
        <locationX>1766</locationX>
        <locationY>6446</locationY>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Stilling som: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Arbeidsgiver: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.ips_Employer__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Jobbtype: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varJobType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dato: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.ips_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.ips_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Status: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varJobStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Antall timer i uka: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateJobs.ips_Number_of_hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Avsluttende kommentar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varClosingArgument</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateJobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setScreenVariablesNew</name>
        <label>setScreenVariablesNew</label>
        <locationX>1678</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>varToDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toDateNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFromDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fromDateNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsummarizePeriode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizePeriodeNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSummarizeNextPeriode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummarizeNextPeriodeNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEmplMeetingsIntervall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setScreenVariablesOld</name>
        <label>setScreenVariablesOld</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varToDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toDateOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFromDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fromDateOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsummarizePeriode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summarizePeriodeOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSummarizeNextPeriode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummarizeNextPeriodeOld</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getEmplMeetingsIntervall</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chooseNew</name>
        <choiceText>Lage en ny underveis rapport</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>chooseOld</name>
        <choiceText>Fortsette på eksisterende underveis rapport</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>reportNew</name>
        <choiceText>Lage ny underveisrapport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lage ny underveisrapport</stringValue>
        </value>
    </choices>
    <choices>
        <name>reportOld</name>
        <choiceText>Fortsette på eksisterende underveisrapport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fortsette på eksisterende underveisrapport</stringValue>
        </value>
    </choices>
    <choices>
        <name>varNothing</name>
        <choiceText>Ingen</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <constants>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>chechParticipantShow</name>
        <label>chechParticipantShow</label>
        <locationX>2162</locationX>
        <locationY>3542</locationY>
        <defaultConnector>
            <targetReference>iterateParticipantMeetingShow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isShowCompleted</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.IPS_No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.ActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varFromDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.ActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varToDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.ips_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.IPS_Status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addParticipantMeetingListUOIntervall</targetReference>
            </connector>
            <label>isShowCompleted</label>
        </rules>
        <rules>
            <name>isNoShowCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.IPS_No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.ActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varFromDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.ActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varToDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.ips_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addParticipantMeetingListUOIntervallNoShow</targetReference>
            </connector>
            <label>isNoShowCompleted</label>
        </rules>
        <rules>
            <name>isShowForward</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateParticipantMeetingShow.ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varToDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addParticipantMeetingListUOIntervallForward</targetReference>
            </connector>
            <label>isShowForward</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDecision</name>
        <label>checkDecision</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isExisting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOldReport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNewReport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workTrailIntervallOld</targetReference>
            </connector>
            <label>isExisting</label>
        </rules>
        <rules>
            <name>isNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOldReport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNewReport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOldReportToClosed</targetReference>
            </connector>
            <label>isNew</label>
        </rules>
        <rules>
            <name>isboth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOldReport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNewReport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>footer</targetReference>
            </connector>
            <label>isboth</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEmployeeMeeting</name>
        <label>checkEmployeeMeeting</label>
        <locationX>2030</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>iterateEmplMeetingsUOIntervall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isWithinRangeEmployeeRelation</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUOIntervall.ActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varFromDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUOIntervall.IPS_No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUOIntervall.ips_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUOIntervall.IPS_Status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUOIntervall.IPS_Status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Participant Absent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setEmployerNameRelation</targetReference>
            </connector>
            <label>isWithinRangeEmployeeRelation</label>
        </rules>
        <rules>
            <name>isForward</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterateEmplMeetingsUOIntervall.ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varToDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setEmployerNameNextPeriod</targetReference>
            </connector>
            <label>isForward</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEmptyParticipantForwardList</name>
        <label>checkEmptyParticipantForwardList</label>
        <locationX>1678</locationX>
        <locationY>4646</locationY>
        <defaultConnector>
            <targetReference>getTasksUOIntervall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isParticipantMeetingForwardEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParticipantIntervallUOForward</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addParticipantForwardText</targetReference>
            </connector>
            <label>isParticipantMeetingForwardEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEmptyParticipantMeeting</name>
        <label>checkEmptyParticipantMeeting</label>
        <locationX>1678</locationX>
        <locationY>3974</locationY>
        <defaultConnector>
            <targetReference>checkEmptyParticipantNoShowList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isParticipantMeetingListEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>participantMeetingIntervallShow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addParticipantShowText</targetReference>
            </connector>
            <label>isParticipantMeetingListEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEmptyParticipantNoShowList</name>
        <label>checkEmptyParticipantNoShowList</label>
        <locationX>1678</locationX>
        <locationY>4310</locationY>
        <defaultConnector>
            <targetReference>checkEmptyParticipantForwardList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isParticipantMeetingNoShowEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParticipantIntervallUONoShow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addParticipantNoShowText</targetReference>
            </connector>
            <label>isParticipantMeetingNoShowEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForwardList</name>
        <label>checkForwardList</label>
        <locationX>1678</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>getParticipantMeetingsIntervall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEmptyForward</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmployeeMeetingForward</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTextForward</targetReference>
            </connector>
            <label>isEmptyForward</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfEducation</name>
        <label>checkIfEducation</label>
        <locationX>1678</locationX>
        <locationY>7118</locationY>
        <defaultConnector>
            <targetReference>addNoEducationText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isEducationEmpty</defaultConnectorLabel>
        <rules>
            <name>isEducationNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEducation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateEducation</targetReference>
            </connector>
            <label>isEducationNotEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIntervall</name>
        <label>checkIntervall</label>
        <locationX>2074</locationX>
        <locationY>5342</locationY>
        <defaultConnector>
            <targetReference>iterateTasksUOIntervall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isWithinRangeDelmaal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDueDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varFromDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateTasksUOIntervall.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateTasksUOIntervall.Type_of_Task_IPSUO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delmål (av hovedmål)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTaskWithinRange</targetReference>
            </connector>
            <label>isWithinRangeDelmaal</label>
        </rules>
        <rules>
            <name>isForwardRangeDelmaal</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>varDueDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varToDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateTasksUOIntervall.Type_of_Task_IPSUO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delmål (av hovedmål)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDueDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateTasksUOIntervall.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTaskForwardRange</targetReference>
            </connector>
            <label>isForwardRangeDelmaal</label>
        </rules>
        <rules>
            <name>isWithinRangePhoneCallsParticipant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDueDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varFromDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDueDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varToDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateTasksUOIntervall.Type_of_Task_IPSUO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loggfør samtale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTaskPhoneCallsParticipant</targetReference>
            </connector>
            <label>isWithinRangePhoneCallsParticipant</label>
        </rules>
        <rules>
            <name>isWithinRangePhoneCallsEmployer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDueDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varFromDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDueDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varToDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterateTasksUOIntervall.Type_of_Task_IPSUO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loggfør Samtale Arb.giver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTaskPhoneCallsEmployer</targetReference>
            </connector>
            <label>isWithinRangePhoneCallsEmployer</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkJobbList</name>
        <label>checkJobbList</label>
        <locationX>1678</locationX>
        <locationY>6662</locationY>
        <defaultConnector>
            <targetReference>getEducation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varJobList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setJobListText</targetReference>
            </connector>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRelationList</name>
        <label>checkRelationList</label>
        <locationX>1678</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>checkForwardList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEmptyRelation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmployerMeetingRelation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addText_0_0_0</targetReference>
            </connector>
            <label>isEmptyRelation</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkReportType</name>
        <label>checkReportType</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createReportingRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNull</defaultConnectorLabel>
        <rules>
            <name>isNotReportingNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getIntervallReports</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenChoices</targetReference>
            </connector>
            <label>isNotReportingNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTask_0_0</name>
        <label>checkTask</label>
        <locationX>1678</locationX>
        <locationY>5102</locationY>
        <defaultConnector>
            <targetReference>getJobs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>IsNotTaskNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTasksUOIntervall</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateTasksUOIntervall</targetReference>
            </connector>
            <label>IsNotTaskNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>istaskListEmpty</name>
        <label>istaskListEmpty</label>
        <locationX>1458</locationX>
        <locationY>5774</locationY>
        <defaultConnector>
            <targetReference>getJobs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isPeriodTaskEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addPeriodTekst</targetReference>
            </connector>
            <label>isPeriodTaskEmpty</label>
        </rules>
        <rules>
            <name>isNextPeriodEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskListForward</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addNextPeriodText</targetReference>
            </connector>
            <label>isNextPeriodEmpty</label>
        </rules>
    </decisions>
    <formulas>
        <name>taskRowIntervall</name>
        <dataType>String</dataType>
        <expression>{!iterateTasksUOIntervall.Subject}
&amp;&apos;, &apos;&amp;
TEXT(DAY(DATEVALUE({!iterateTasksUOIntervall.CompletedDateTime})))&amp;&quot;.&quot;&amp;TEXT(MONTH(DATEVALUE({!iterateTasksUOIntervall.CompletedDateTime})))&amp;&quot;.&quot;&amp;TEXT(YEAR(DATEVALUE({!iterateTasksUOIntervall.CompletedDateTime})))</expression>
    </formulas>
    <formulas>
        <name>varActivityDate</name>
        <dataType>Date</dataType>
        <expression>{!iterateTasksUOIntervall.ActivityDate}</expression>
    </formulas>
    <formulas>
        <name>varCheckParticipantName</name>
        <dataType>String</dataType>
        <expression>IF(
!ISBLANK({!iterateEmplMeetingsUOIntervall.WhoId})
,({!getParticipantDetailsUO.FirstName}&amp;&apos; &apos;&amp;{!getParticipantDetailsUO.LastName})
,&apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>varClosingArgument</name>
        <dataType>String</dataType>
        <expression>if(TEXT({!iterateJobs.ips_Status__c})==&apos;Completed&apos;,&apos;Hva fungerte ikke: &apos;&amp;BR()&amp;{!iterateJobs.ips_What_did_not_work_at_the_workplace__c}&amp;BR()&amp;BR()&amp;&apos;Hva fungerte: &apos;&amp;BR()&amp;{!iterateJobs.ips_What_did_work_at_the_workplace__c},&apos;Jobb er ikke avsluttet&apos;
)</expression>
    </formulas>
    <formulas>
        <name>varCompletedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!iterateTasksUOIntervall.CompletedDateTime})</expression>
    </formulas>
    <formulas>
        <name>varCreatedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!iterateTasksUOIntervall.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>varDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Det er 3 måneder siden siste underveisrapport for: &apos; &amp; {!getWorktrailUO.Name}</expression>
    </formulas>
    <formulas>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!iterateTasksUOIntervall.ips_Due_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>varEducationType</name>
        <dataType>String</dataType>
        <expression>CASE({!iterateEducation.ips_Form_of_Education__c},
&apos;Certificate of Apprenticeship&apos;,&apos;Lærling&apos;,
&apos;Full-time Study&apos;,&apos;Heltidsstudie&apos;,
&apos;Part-time Study&apos;,&apos;Deltidsstudie&apos;,
&apos;Evening Course&apos;,&apos;Kveldskurs&apos;,
&apos;Day Cource&apos;,&apos;Kurs på dagtid&apos;,
&apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>varEmployeeMeetingRange</name>
        <dataType>String</dataType>
        <expression>{!iterateEmplMeetingsUOIntervall.Subject}
&amp;&apos;, &apos;&amp;
TEXT(DAY({!iterateEmplMeetingsUOIntervall.ActivityDate}))&amp;&quot;.&quot;&amp;TEXT(MONTH({!iterateEmplMeetingsUOIntervall.ActivityDate}))&amp;&quot;.&quot;&amp;TEXT(YEAR({!iterateEmplMeetingsUOIntervall.ActivityDate}))
&amp;&apos;, &apos;&amp;
{!iterateEmplMeetingsUOIntervall.RelatedToAccount__r.Name}
&amp;&apos;, &apos;&amp;
TEXT({!iterateEmplMeetingsUOIntervall.IPS_Subcategory_Type_UO__c})</expression>
    </formulas>
    <formulas>
        <name>varEndDateUO</name>
        <dataType>Date</dataType>
        <expression>{!getWorktrailUO.ips_End_Date__c}</expression>
    </formulas>
    <formulas>
        <name>varJobStatus</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!iterateJobs.ips_Status__c}),
&apos;Ongoing&apos;,&apos;Pågående&apos;,
&apos;Planned&apos;,&apos;Planlagt&apos;,
&apos;Completed&apos;,&apos;Avsluttet&apos;,
&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varJobType</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!iterateJobs.ips_Form_of_Employment__c}),
&apos;Freelance / self-employed&apos;,&apos;Freelance/selvstendig næringsdrivende&apos;,
&apos;Job taster&apos;,&apos;Jobbsmak&apos;,
&apos;Permanent employment&apos;,&apos;Fast ansettelse&apos;,
&apos;Temporary employment&apos;,&apos;Tidsbegrenset ansettelse&apos;,
&apos;work training&apos;,&apos;Arbeidstrening&apos;,
&apos;Zero hours contrac&apos;,&apos;Tilkalling ekstrajobb&apos;,
&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varParticipantIntervallUO</name>
        <dataType>String</dataType>
        <expression>{!iterateParticipantMeetingShow.Subject}&amp;&apos; - &apos;&amp;TEXT({!iterateParticipantMeetingShow.ActivityDate})</expression>
    </formulas>
    <formulas>
        <name>varParticipantName</name>
        <dataType>String</dataType>
        <expression>{!getParticipantDetailsUO.FirstName}&amp;&apos; &apos;&amp;{!getParticipantDetailsUO.MiddleName}&amp;&apos; &apos;&amp;{!getParticipantDetailsUO.LastName}</expression>
    </formulas>
    <formulas>
        <name>varStartDateUO</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!getWorktrailUO.Oppstartsdato__c})</expression>
    </formulas>
    <formulas>
        <name>varSubCategory</name>
        <dataType>String</dataType>
        <expression>
CASE(TEXT({!iterateEmplMeetingsUOIntervall.IPS_Subcategory_Type_UO__c}),
&apos;Relationship building&apos;,&apos;Relasjonsbygging&apos;,
&apos;Follow-up&apos;,&apos;Oppfølging&apos;,
&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varTaskRowHeading</name>
        <dataType>String</dataType>
        <expression>RPAD(&quot;Dato &quot;,10,&apos; &apos;)&amp;RPAD(&quot;Beskrivelse &quot;,100,&apos; &apos;)&amp;RPAD(&quot;Status &quot;,20,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varThreeMonthsDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(NOW())+90</expression>
    </formulas>
    <formulas>
        <name>viewRecordTypeName</name>
        <dataType>String</dataType>
        <expression>CASE({!recordTypeName},
&apos;ips_Supported_Employment&apos;,&apos;Utvidet oppfølging&apos;,
&apos;IPS&apos;
)</expression>
    </formulas>
    <interviewLabel>IPS - subflow intervall report UO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS - subflow intervall report UO</label>
    <loops>
        <name>iterateEducation</name>
        <label>iterateEducation</label>
        <locationX>1570</locationX>
        <locationY>7238</locationY>
        <collectionReference>getEducation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addEducation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateReportRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateEmplMeetingsUOIntervall</name>
        <label>iterateEmplMeetingsUOIntervall</label>
        <locationX>1678</locationX>
        <locationY>1958</locationY>
        <collectionReference>getEmplMeetingsIntervall</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getRelatedContactName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkRelationList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateJobs</name>
        <label>iterateJobs</label>
        <locationX>1678</locationX>
        <locationY>6326</locationY>
        <collectionReference>getJobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setJobtext</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkJobbList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateParticipantMeetingShow</name>
        <label>iterateParticipantMeetingShow</label>
        <locationX>1678</locationX>
        <locationY>3422</locationY>
        <collectionReference>getParticipantMeetingsIntervall</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>chechParticipantShow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkEmptyParticipantMeeting</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateTasksUOIntervall</name>
        <label>iterateTasksUOIntervall</label>
        <locationX>1458</locationX>
        <locationY>5222</locationY>
        <collectionReference>getTasksUOIntervall</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkIntervall</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>istaskListEmpty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createReportingRecord</name>
        <label>createReportingRecord</label>
        <locationX>1678</locationX>
        <locationY>1238</locationY>
        <assignRecordIdToReference>varReportId</assignRecordIdToReference>
        <connector>
            <targetReference>getRecordType_0</targetReference>
        </connector>
        <inputAssignments>
            <field>IPS_report_Type__c</field>
            <value>
                <stringValue>Intervall</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_workTrailName__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ips_report__c</object>
    </recordCreates>
    <recordCreates>
        <name>createTaskReminder_0</name>
        <label>createTaskReminder</label>
        <locationX>1678</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>workTrailIntervallNew</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varThreeMonthsDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_Skal_ikke_deles_med_Deltaker__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_participant_related_to_meeting__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Task_IPSUO__c</field>
            <value>
                <stringValue>Oppgave</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getEducation</name>
        <label>getEducation</label>
        <locationX>1678</locationX>
        <locationY>6998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfEducation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Work_Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ips_Education__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmplMeetingsIntervall</name>
        <label>getEmplMeetingsIntervall</label>
        <locationX>1678</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateEmplMeetingsUOIntervall</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getParticipantDetailsUO.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Subcategory_Type_UO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship building</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Subcategory_Type_UO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow-up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all end report if it exists - only the ones that is open. Archived reports should not be altered.</description>
        <name>getIntervallReports</name>
        <label>getIntervallReports</label>
        <locationX>1898</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addReportId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IPS_workTrailName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_report_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intervall</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ips_report__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobs</name>
        <label>getJobs</label>
        <locationX>1678</locationX>
        <locationY>6206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateJobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Work_Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ips_Job__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOwnerUO</name>
        <label>getOwnerUO</label>
        <locationX>1898</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getParticipantDetailsUO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailUO.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantDetailsUO</name>
        <label>getParticipantDetailsUO</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getIntervallReports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorktrailUO.ips_Participant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParticipantMeetingsIntervall</name>
        <label>getParticipantMeetingsIntervall</label>
        <locationX>1678</locationX>
        <locationY>3302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateParticipantMeetingShow</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting with Participant</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Start up meeting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordType_0</name>
        <label>getRecordType</label>
        <locationX>1678</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTaskReminder_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IPS_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRelatedContactName</name>
        <label>getRelatedContactName</label>
        <locationX>2030</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkEmployeeMeeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iterateEmplMeetingsUOIntervall.Konto_kontakt__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Task of type delmål and phonecall on participant</description>
        <name>getTasksUOIntervall</name>
        <label>getTasksUOIntervall</label>
        <locationX>1678</locationX>
        <locationY>4982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTask_0_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delmål (av hovedmål)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loggfør samtale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Task_IPSUO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loggfør Samtale Arb.giver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CompletedDateTime</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Type_of_Task_IPSUO__c</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>ips_Due_Date_Time__c</queriedFields>
        <sortField>ips_Due_Date_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorktrailUO</name>
        <label>getWorktrailUO</label>
        <locationX>1898</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOwnerUO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOldReportToClosed</name>
        <label>updateOldReportToClosed</label>
        <locationX>1678</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>createReportingRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReportIdOld</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ips_report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateReportRecord</name>
        <label>updateReportRecord</label>
        <locationX>1678</locationX>
        <locationY>7670</locationY>
        <connector>
            <targetReference>Go_to_report_page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReportId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPS_intervallDateFrom__c</field>
            <value>
                <elementReference>varFromDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_intervallDateTo__c</field>
            <value>
                <elementReference>varToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_intervallReport__c</field>
            <value>
                <elementReference>templateIntervallUOReport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_summarizeIntervallNextPeriode__c</field>
            <value>
                <elementReference>varSummarizeNextPeriode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_summarizeIntervallPeriode__c</field>
            <value>
                <elementReference>varsummarizePeriode</elementReference>
            </value>
        </inputAssignments>
        <object>ips_report__c</object>
    </recordUpdates>
    <screens>
        <name>footer</name>
        <label>isBothCheckBox</label>
        <locationX>2074</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>bothBannerAlert</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har huket av for både ny rapport og eksisterende rapport</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenChoices</name>
        <label>Valg av mulighet</label>
        <locationX>1194</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkDecision</targetReference>
        </connector>
        <fields>
            <name>alertExisting</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Det finnes en eksisterende underveisrapport</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screenChoices_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenChoices_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>warningTxt</name>
            <fieldText>&lt;p&gt;Du har en underveisrapport som ligger i status åpen.&lt;/p&gt;&lt;p&gt;Ønsker du å fortsette på denne rapporten eller lage en ny underveisrapport?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hvis du velger å lage en ny rapport, settes status til fullført og en ny underveisrapport opprettes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screenChoices_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenChoices_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>varNewReport</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Lage en ny underveisrapport</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>varOldReport</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Fortsette på eksisterende underveis rapport</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>workTrailIntervallNew</name>
        <label>IntervallNew</label>
        <locationX>1678</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setScreenVariablesNew</targetReference>
        </connector>
        <fields>
            <name>compMessageNew</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å lage en underveis rapport</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTrailIntervallNew_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallNew_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervallNew_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallNew_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTxtNew0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;﻿Underveisrapporten skal omhandle hva som har skjedd i tiltaksgjennomføringen i den perioden rapporten gjelder for.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Deltaker bør alltid få tilbud om å gjennomgå rapporten i fellesskap før innsending.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervallNew_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallNew_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervallNew_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallNew_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtParticipantTextNew</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Deltakernavn:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayParticipantNameNew</name>
                    <fieldText>&lt;p&gt;{!varParticipantName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>selectDateNew</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Velg periode underveis rapport gjelder for&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>workTrailIntervallNew_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallNew_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fromDateNew</name>
                    <dataType>Date</dataType>
                    <fieldText>Dato gjeldende fra:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailIntervallNew_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>toDateNew</name>
                    <dataType>Date</dataType>
                    <fieldText>Dato gjeldende til:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayTxtNew</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; Legg inn oppsummering knyttet til tiltaksperioden rapporten gjelder for&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>workTrailIntervallNew_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallNew_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>summarizePeriodeNew</name>
                    <fieldText>Oppsummering av tiltaksperioden</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Hva har skjedd i samarbeidet mellom deg og deltaker i den foregående perioden? Eksempler: oppsøkt bedrifter sammen, jobbsmak, gjennomgått karriereveiledning, arbeidet med CV og/eller jobbsøkerferdigheter m.m. Har Yrkesprofilen og retningen endret seg underveis, i så fall hvordan og hvorfor?&amp;nbsp;Oppsummering av den jobben jobbspesialist har gjort ut mot arbeidsgivere i den hensikt å skaffe jobbmuligheter. Har du og/eller deltaker vært i kontakt med arbeidsgivere, hvis ja: beskriv. Dersom deltaker har vært i jobb bør dette beskrives, inkludert hvordan samarbeidet har vært med arbeidsgiver.&amp;nbsp;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervallNew_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallNew_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTxtNew1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Her hentes følgende opp fra Jobbsporet:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;fullførte delmål i perioden m/ beskrivelse&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;samarbeid mellom jobbspesialist og deltaker i perioden (oversikt over møter deltaker har deltatt på og oppsatte møter deltakeren har uteblitt fra)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;samarbeid med arbeidsgivere i perioden (oversikt over møter med arbeidsgivere, deltakere i møtet, møtekategori etc.)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;oversikt over jobber/arbeidstreninger deltaker har hatt i perioden&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayTxt2New</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Legg inn kommentarer knyttet til planen for kommende periode&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummarizeNextPeriodeNew</name>
            <fieldText>Plan kommende periode</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&amp;nbsp;Kort beskrivelse av hva som er planlagt fremover.&amp;nbsp;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervallNew_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallNew_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTxtNew2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Her hentes følgende opp fra deltakers jobbspor:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Delmål som står med status åpen&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Møter som står med status åpen&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>workTrailIntervallOld</name>
        <label>IntervallOld</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setScreenVariablesOld</targetReference>
        </connector>
        <fields>
            <name>compMessageOld</name>
            <extensionName>c:crmAlertBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Du har valgt å endre en eksisterende underveis rapport</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTrailIntervallOld_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallOld_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervallOld_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallOld_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtDescription1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;﻿Underveisrapporten skal omhandle hva som har skjedd i tiltaksgjennomføringen i den perioden rapporten gjelder for.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Deltaker bør alltid få tilbud om å gjennomgå rapporten i fellesskap før innsending.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervallOld_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallOld_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervallOld_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallOld_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtParticipantTextOld</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;﻿Deltakernavn:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayParticipantNameOld</name>
                    <fieldText>&lt;p&gt;{!varParticipantName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>txtGoalTextOld</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Hovedmål: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayGoalOld</name>
                    <fieldText>&lt;p&gt;{!getWorktrailUO.ips_Main_goal__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>selectDateOld</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Velg periode underveis rapport gjelder for&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>workTrailIntervallOld_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallOld_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fromDateOld</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>getIntervallReports.IPS_intervallDateFrom__c</elementReference>
                    </defaultValue>
                    <fieldText>Dato gjeldende fra:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workTrailIntervallOld_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>toDateOld</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>getIntervallReports.IPS_intervallDateTo__c</elementReference>
                    </defaultValue>
                    <fieldText>Dato gjeldende til:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayTxtOld</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; Legg inn oppsummering knyttet til tiltaksperioden rapporten gjelder for&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>workTrailIntervallOld_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallOld_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>summarizePeriodeOld</name>
                    <defaultValue>
                        <stringValue>{!getIntervallReports.IPS_summarizeIntervallPeriode__c}</stringValue>
                    </defaultValue>
                    <fieldText>Oppsummering av tiltaksperioden</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Hva har skjedd i samarbeidet mellom deg og deltaker i den foregående perioden? Eksempler: oppsøkt bedrifter sammen, jobbsmak, gjennomgått karriereveiledning, arbeidet med CV og/eller jobbsøkerferdigheter m.m. Har Yrkesprofilen og retningen endret seg underveis, i så fall hvordan og hvorfor?&amp;nbsp;Oppsummering av den jobben jobbspesialist har gjort ut mot arbeidsgivere i den hensikt å skaffe jobbmuligheter. Har du og/eller deltaker vært i kontakt med arbeidsgivere, hvis ja: beskriv. Dersom deltaker har vært i jobb bør dette beskrives, inkludert hvordan samarbeidet har vært med arbeidsgiver.&amp;nbsp;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervallOld_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallOld_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtDescription2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Her hentes følgende opp fra Jobbsporet:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;fullførte delmål i perioden m/ beskrivelse&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;samarbeid mellom jobbspesialist og deltaker i perioden (oversikt over møter deltaker har deltatt på og oppsatte møter deltakeren har uteblitt fra)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;samarbeid med arbeidsgivere i perioden (oversikt over møter med arbeidsgivere, deltakere i møtet, møtekategori etc.)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;oversikt over jobber/arbeidstreninger deltaker har hatt i perioden&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayTxt2Old</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Legg inn kommentarer knyttet til planen for kommende periode&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummarizeNextPeriodeOld</name>
            <defaultValue>
                <stringValue>{!getIntervallReports.IPS_summarizeIntervallNextPeriode__c}</stringValue>
            </defaultValue>
            <fieldText>Plan kommende periode</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Kort beskrivelse av hva som er planlagt fremover.&amp;nbsp;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workTrailIntervallOld_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workTrailIntervallOld_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtDescription3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Her hentes følgende opp fra deltakers jobbspor:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Delmål som står med status åpen&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Møter som står med status åpen&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1772</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorktrailUO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: serif;&quot;&gt;{!conGES}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateIntervallUOReport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Underveisrapport for Utvidet oppfølging - {!varParticipantName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Innledning&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Deltaker:                      {!getParticipantDetailsUO.FirstName} {!getParticipantDetailsUO.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Jobbspesialist:             {!getOwnerUO.FirstName} {!getOwnerUO.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;NAV-veileder:              {!getWorktrailUO.ips_NAV_supervisor__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Innsøkende avdeling:  {!getWorktrailUO.ips_Applying_Department__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Startdato:                    {!varStartDateUO}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Hovedmål:&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!getWorktrailUO.ips_Main_goal__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Oppsummering av perioden fra  {!varFromDate} - {!varToDate}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!varsummarizePeriode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Fullførte delmål i perioden:&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!taskList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Samarbeid mellom jobbspesialist og deltaker i perioden:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Møter deltaker har deltatt på i perioden:&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!varParticipantIntervallUOShow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Møter deltaker skulle vært tilstede på i perioden:&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!varParticipantIntervallUONoShow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Møter gjennomført med arbeidsgiver(e) i perioden:&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!varEmployerMeetingRelation}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Deltagelse i jobb/arbeidstrening&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!varJobList}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Deltagelse i utdanning&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!educationList}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Plan for kommende periode:&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!varSummarizeNextPeriode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Planlagte delmål:&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!taskListForward}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Planlagte møter:&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!varParticipantIntervallUOForward}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!varEmployeeMeetingForward}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>assignmentParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>educationList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employeeMeetings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employeeMeetingsIPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endCause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobsList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobsListIPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantMeetingIntervallShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantMeetings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supervisorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskListForward</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDesiredProfession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmployeeMeetingForward</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmployerMeetingFollowUp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmployerMeetingRelation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFromDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJobList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMainGoal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantIntervallUOForward</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantIntervallUONoShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantIntervallUOShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParticipantNoShow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varParticipantShowCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPhoneList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhoneListEmployer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorityCareerWishes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportIdOld</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Påminnelse - opprettelse av underveisrapport</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSummarizeNextPeriode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varsummarizePeriode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varToDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkTrailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTrailEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTrailStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
