force-app/main/default/flows/Nytt_Jobbspor_UO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>578</locationX>
        <locationY>1910</locationY>
        <actionName>c:IPS_redirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_existing.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Redirect_0_0</name>
        <label>Redirect</label>
        <locationX>1370</locationX>
        <locationY>2270</locationY>
        <actionName>c:IPS_redirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Worktrail_0</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignValueUOO</name>
        <label>AssignValueUOO</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>UOOIsChecked</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UOO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkAndSetConsent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setConsentValueFalse</name>
        <label>setConsentValueFalse</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>varConsent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkAgeAndConsent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setConsentValueTrue</name>
        <label>setConsentValueTrue</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>varConsent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>consentParentParticipantUO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkAgeAndConsent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkAgeAndConsent</name>
        <label>checkAgeAndConsent</label>
        <locationX>578</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Get_existing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isUnderWithoutConsent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adjustfor100</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent</targetReference>
            </connector>
            <label>isUnderWithoutConsent</label>
        </rules>
    </decisions>
    <decisions>
        <description>The consent part is not visible when participant is over 18 in screen flow. Even if the checkbox is default set to false it will not set false during runtime</description>
        <name>checkAndSetConsent</name>
        <label>checkAndSetConsent</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>setConsentValueTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isLessThan18</defaultConnectorLabel>
        <rules>
            <name>isOver18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adjustfor100</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setConsentValueFalse</targetReference>
            </connector>
            <label>isOver18</label>
        </rules>
    </decisions>
    <decisions>
        <description>If person has confidential rating it should not create a new worktrail</description>
        <name>checkForConfidential</name>
        <label>checkForConfidential</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Participant_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNotconfidential</defaultConnectorLabel>
        <rules>
            <name>IsConfidential</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>getPersonDetails.INT_Confidential__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPersonDetails.INT_Confidential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STRENGT_FORTROLIG_UTLAND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPersonDetails.INT_Confidential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTROLIG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPersonDetails.INT_Confidential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STRENGT_FORTROLIG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newWorktrail</targetReference>
            </connector>
            <label>IsConfidential</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_worktrail_exists</name>
        <label>If worktrail exists</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Registrer_Jobbspor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>isParticipantUOO</name>
        <label>isParticipantUOO</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>checkAndSetConsent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isUOO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UOOCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValueUOO</targetReference>
            </connector>
            <label>isUOO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Selected</name>
        <label>Owner Selected</label>
        <locationX>1106</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Create_Worktrail_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is user</defaultConnectorLabel>
        <rules>
            <name>ownerIsNotUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EierCheckbox.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Worktrail_0_0</targetReference>
            </connector>
            <label>ownerIsNotUser</label>
        </rules>
    </decisions>
    <description>Nytt Jobbspor for Utvidet Oppfølging</description>
    <formulas>
        <name>adjustfor100</name>
        <dataType>Number</dataType>
        <expression>if({!participantsAge}&lt;0,{!participantsAge}+100,{!participantsAge})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>participantDOB</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Participant_Details.INT_PersonIdent__c})),
DATE(
VALUE(&quot;20&quot;&amp;MID({!Get_Participant_Details.INT_PersonIdent__c},5,2)),
VALUE(MID({!Get_Participant_Details.INT_PersonIdent__c},3,2)),
VALUE(MID({!Get_Participant_Details.INT_PersonIdent__c},1,2))
),null)</expression>
    </formulas>
    <formulas>
        <name>participantsAge</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISBLANK({!participantDOB} )) ,
IF( DATE( YEAR(TODAY()), MONTH({!participantDOB}) , DAY({!participantDOB})) &lt;= DATE( YEAR(TODAY()) , MONTH( TODAY() ) , DAY( TODAY() ) ),
     YEAR (Today()) - YEAR ( {!participantDOB}),
     YEAR (Today()) - YEAR ( {!participantDOB}) -1 ),
  null)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>varParticipantAddress</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!getPersonDetails.INT_ResidentialAddress__c}),
&apos;&apos;,
{!getPersonDetails.INT_ResidentialAddress__c}&amp;&apos; ,&apos;&amp;{!getPersonDetails.INT_ResidentialZipCode__c}&amp;&apos; ,&apos;&amp;{!getPersonDetails.INT_ResidentialPlace__c}
)</expression>
    </formulas>
    <formulas>
        <name>varParticipantsPhone</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!getPersonDetails.INT_Phone1__c}),&apos;&apos;,{!getPersonDetails.INT_Phone1__c})</expression>
    </formulas>
    <interviewLabel>Nytt Jobbspor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nytt Jobbspor UO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Error_log</name>
        <label>Create Error log</label>
        <locationX>1106</locationX>
        <locationY>2390</locationY>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>IPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Duplicate creation stopped</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_ID__c</field>
            <value>
                <elementReference>Get_existing.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Worktrail_0</name>
        <label>Create Worktrail</label>
        <locationX>1370</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Redirect_0_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Noe_gikk_galt</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IPS_Consent__c</field>
            <value>
                <elementReference>varConsent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_Participant_age__c</field>
            <value>
                <elementReference>adjustfor100</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_Participants_home_address__c</field>
            <value>
                <elementReference>varParticipantAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_Partticipant_phone_number__c</field>
            <value>
                <elementReference>varParticipantsPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Applying_Department__c</field>
            <value>
                <elementReference>Innsokende_avdeling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Participant__c</field>
            <value>
                <elementReference>Participant.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_UO_Service__c</field>
            <value>
                <elementReference>UOOIsChecked</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Worktrail_0_0</name>
        <label>Create Worktrail</label>
        <locationX>842</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Opprettet</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Noe_gikk_galt</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IPS_Consent__c</field>
            <value>
                <elementReference>varConsent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_Participant_age__c</field>
            <value>
                <elementReference>adjustfor100</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_Participants_home_address__c</field>
            <value>
                <elementReference>varParticipantAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPS_Partticipant_phone_number__c</field>
            <value>
                <elementReference>varParticipantsPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EierCheckbox.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Applying_Department__c</field>
            <value>
                <elementReference>Innsokende_avdeling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_Participant__c</field>
            <value>
                <elementReference>Participant.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ips_UO_Service__c</field>
            <value>
                <elementReference>UOOIsChecked</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_existing</name>
        <label>Get existing</label>
        <locationX>842</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_worktrail_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ips_Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Participant.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ips_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Participant_Details</name>
        <label>Get Participant Details</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPersonDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Participant.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeId</name>
        <label>Get RecordTypeId</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Worktrail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPersonDetails</name>
        <label>getPersonDetails</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkForConfidential</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Participant_Details.INT_PersonIdent__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Consent</name>
        <label>Consent</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noConsent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Deltaker er under 18, skriftilig samtykke fra foresatt(e) må foreligge.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Worktrail</name>
        <label>Nytt Jobbspor</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Participant_Details</targetReference>
        </connector>
        <fields>
            <name>Participant</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ips_Participant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Deltaker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Work_Trail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>newWorktrail</name>
        <label>newWorktrail</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaytxt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 17, 0); background-color: rgb(255, 255, 255);&quot;&gt;Du kan ikke opprette et jobbspor på denne personen&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Noe_gikk_galt</name>
        <label>Noe gikk galt</label>
        <locationX>1106</locationX>
        <locationY>2270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Error_log</targetReference>
        </connector>
        <fields>
            <name>Errormessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Kunne ikke opprettes. Kontakt din administrator&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opprettet</name>
        <label>Opprettet</label>
        <locationX>842</locationX>
        <locationY>2270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreatedMessage</name>
            <fieldText>&lt;p&gt;Jobbspor har blitt opprettet&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Participant_Detail</name>
        <label>Participant Detail</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>isParticipantUOO</targetReference>
        </connector>
        <fields>
            <name>Participant_Detail_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Participant_Detail_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PersonIcon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>PersonIcon</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>Person</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Participant_Detail_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Valgt Deltaker&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Deltaker: {!Get_Participant_Details.FirstName}        {!Get_Participant_Details.LastName}&lt;/p&gt;&lt;p&gt;Personnummer: {!Get_Participant_Details.INT_PersonIdent__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Er_dette_riktig_deltaker</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Er dette riktig deltaker?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Participant_Detail_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Participant_Detail_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>toYoungUO</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Deltaker er under 18 år.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>consentParentParticipantUO</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Skriftlig samtykke fra foresatt(e) foreligger</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>adjustfor100</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>18.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>participantsAge</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UOOCheckbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>UOO</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Innsokende_avdeling</name>
            <dataType>String</dataType>
            <fieldText>Innsøkende avdeling</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Registrer_Jobbspor</name>
        <label>Registrer Jobbspor</label>
        <locationX>1106</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Owner_Selected</targetReference>
        </connector>
        <fields>
            <name>Er_bruker_infomert</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Er bruker informert om sine rettigheter som registrert i applikasjonen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EierCheckbox</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Eier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Work_Trail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ips_Supported_Employment</stringValue>
        </value>
    </variables>
    <variables>
        <name>UOOIsChecked</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UORecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
